@using HE.Investments.Common.WWW.Components;
@using HE.Investments.Common.WWW.Models;
@using HE.Investments.Common.WWW.Extensions;
@using HE.Investments.Common.WWW.Components.ErrorMessage;
@using HE.Investments.Common.WWW.Components.InputListHeader;
@model (string fieldName, string title,  InputTitleType titleType, DynamicComponentViewModel headerComponent, string hint, IEnumerable<ExtendedSelectListItem> availableOptions, ExtendedSelectListItem alternativeOption)

@{
    var (hasError, checkboxErrors) = ViewData.ModelState.GetErrors(Model.fieldName);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
}

<gds-div-form-group class="@groupClass">
    <gds-field-set>

        <vc:input-list-header
            additional-content="@Model.headerComponent"
            title="@Model.title"
            title-type="@Model.titleType"
            hint="@Model.hint"/>

        <vc:error-message field-name="@Model.fieldName"/>

        <gds-field-set class="govuk-!-margin-bottom-6">
            <div id='available-option-form-group' class='govuk-form-group '>
                <div class="exclusive-checkbox-group">

                    <vc:checkbox-list-content
                        field-name="@Model.fieldName"
                        available-options="@Model.availableOptions"/>

                </div>
            </div>

            <p>Or</p>

            <div id='alternative-option-form-group' class='govuk-form-group '>
                <div class="exclusive-checkbox-group--exclusive-option">
                    <div class="govuk-checkboxes__item">
                        <input id="@Model.fieldName-@Model.alternativeOption.Value" type="checkbox" checked="@Model.alternativeOption.Selected" class="govuk-checkboxes__input" value="NoneOfTheAbove" name="@Model.fieldName"/>
                        <label class="govuk-label govuk-checkboxes__label" for="@Model.fieldName-@Model.alternativeOption.Value">@Model.alternativeOption.Text</label>
                    </div>
                </div>
            </div>
        </gds-field-set>
    </gds-field-set>
</gds-div-form-group>
