@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider
@{
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.DirLoansSubMore));
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.DirLoansSub));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Security" asp-action="WorkflowPost" asp-route-id="@Model.ID" asp-route-ending="DirLoansSub" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Security", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend class="govuk-fieldset__legend--l">
                    Can you confirm these director loans can be subordinated?
                </gds-legend>
                <gds-div-hint>
                    A subordinated loan is debt that’s only paid off after all senior loans are paid off, if there’s any money left.
                </gds-div-hint>

                @if (radioInvalid)
                {
                    <p id="where-do-you-live-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @radioErrors
                    </p>
                }
                <gds-radio-yes-no asp-for="Security.DirLoansSub"
                                  with-no-input
                                  inner-input-for="Security.DirLoansSubMore"
                                  inner-input-text="Tell us why these director loans cannot be subordinated."
                                  class="govuk-!-margin-bottom-8"
                                  is-conditional-input-invalid="conditionalInputInvalid"
                                  conditional-input-error="@inputErrors"></gds-radio-yes-no>
            </gds-div-form-group>


            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Security.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.YesNoConditionalInputScript(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.DirLoansSub))