@using HE.InvestmentLoans.Common.Extensions
@using HE.InvestmentLoans.Common.Utils.Constants.ViewName;
@model ApplicationDashboardModel

<gds-back-link href="@Url.Action("Dashboard", "Home")" text="Back to account homepage" class="govuk-grid-column-full"></gds-back-link>

<div class="govuk-grid-column-full govuk-!-padding-top-6">
    <div class="govuk-grid-row">
        <gds-div-grid-column-two-thirds>
            <span class="govuk-caption-m">
                @Model.Data.OrganizationName
            </span>
            <gds-h1 size="ControlSize.L">
                @Model.Data.ApplicationName
            </gds-h1>

            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>ID @Model.Data.ApplicationReferenceNumber</strong>
                <application-status-tag application-status="@Model.Data.ApplicationStatus" additional-classes="govuk-!-static-margin-left-2"></application-status-tag>
            </p >
            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>LUHBF</strong>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Last edited @Model.Data.LastEditedOn?.ConvertUtcToUkLocalTime()
            </p>
        </gds-div-grid-column-two-thirds>
    </div>
    <div class="govuk-grid-column-one-third">

        <nav class="moj-side-navigation">
            <ul class="moj-side-navigation__list">

                <li class="@("moj-side-navigation__item" + (Model.IsOverviewSectionSelected ? " moj-side-navigation__item--active" : ""))">
                    <a href=@Url.Action("ApplicationDashboard", "LoanApplicationV2", new { id = Model.Data.ApplicationId} )>Overview</a>
                </li>

                <li class="@("moj-side-navigation__item" + (!Model.IsOverviewSectionSelected ? " moj-side-navigation__item--active" : ""))">
                    <a href="@Url.Action("ApplicationDashboardSupportingDocuments", "LoanApplicationV2",  new { id = Model.Data.ApplicationId})">Supporting documents</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds">
        @if (Model.IsOverviewSectionSelected)
        {
            @await Html.PartialAsync("ApplicationDashboard/_ApplicationDashboardOverview", Model.Data.ApplicationId)
        }
        else
        {
            @await Html.PartialAsync("ApplicationDashboard/_ApplicationDashboardSupportingDocuments", Model.Data.ApplicationId)
        }

        <form asp-controller="LoanApplicationV2" asp-action="ApplicationDashboardPost" asp-route-id="@Model.LoanApplicationId" asp-method="post" novalidate>
            <div class="govuk-!-margin-top-8">
                <gds-h3 size="ControlSize.M">Request to put your application on hold</gds-h3>
                <gds-p>
                    You can hold your application for as long as needed.
                </gds-p>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="submit" name="buttonValue" value="@LoanApplicationView.Hold">
                    Hold application
                </button>
            </div>

            <div class="govuk-!-margin-top-8">
                <gds-h3 size="ControlSize.M">Withdraw your application</gds-h3>
                <gds-p>
                    To withdraw your application, and notify Homes England that you no longer wish to proceed, click below.
                </gds-p>
                <button class="govuk-button govuk-button--warning" data-module="govuk-button" type="submit" name="buttonValue" value="@LoanApplicationView.Withdraw">
                    Withdraw application
                </button>
            </div>
        </form>
    </div>
</div>
