@model HE.InvestmentLoans.Contract.Application.Queries.GetTaskListDataQueryResponse
@using HE.InvestmentLoans.BusinessLogic.LoanApplication;
@using HE.InvestmentLoans.BusinessLogic.Projects.ValueObjects;
@using HE.InvestmentLoans.Common.Extensions
@using HE.InvestmentLoans.Contract.Application.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Buttons

<gds-back-link href="@Url.Action("Back","LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.TaskList, ApplicationId = Model.Id })" text="Back to application dashboard" class="govuk-grid-column-full"></gds-back-link>

    <gds-div-grid-column-two-thirds>
        @await Html.PartialAsync("_Notification")
    </gds-div-grid-column-two-thirds>
<gds-h1 size="ControlSize.L" class="govuk-!-margin-bottom-2 govuk-!-margin-top-8 govuk-grid-column-full">
    Development loan application
</gds-h1>
<gds-div-hint class="govuk-!-margin-bottom-8 govuk-grid-column-full" id="last-saved-label">
    Last saved on @DateHelper.DisplayAsUkFormatDateTime(Model.LastSavedOn) by @Model.LastModifiedBy
</gds-div-hint>
<gds-div-grid-column-two-thirds>
    <ul class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">1. </span> Company structure and experience
            </h2>
            <gds-div-hint>This section is about the company structure and experience of building homes.</gds-div-hint>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartCompanyStructure","CompanyStructureV2", new { id = Model.Id })" id="company-structure-section-link">
                            Complete company information
                        </a>
                    </span>
                    <section-status-tag status=@Model.Sections.CompanyStructure additional-classes="app-task-list__tag"></section-status-tag>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">2. </span> Project and funding details
            </h2>
            <gds-div-hint>Complete information about the type of funding you wish to apply for, and other details about your equity and finances.</gds-div-hint>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartFunding","FundingV2", new {id = Model.Id})" id="funding-section-link">
                            Provide details about funding
                        </a>
                    </span>
                   <section-status-tag status=@Model.Sections.Funding additional-classes="app-task-list__tag"></section-status-tag>
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartSecurity","Security", new {id = Model.Id})" id="security-section-link">
                            Provide details about security
                        </a>
                    </span>
                   <section-status-tag status=@Model.Sections.Security additional-classes="app-task-list__tag"></section-status-tag>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">3. </span> Project details
            </h2>
            <gds-div-hint>Tell us about your project or projects. You can add more than one. You will need to start a new application for each company if you have different companies per project.</gds-div-hint>
            <ul class="app-task-list__items">
                @foreach (var project in Model.Sections.Projects)
                {
                    <li class="app-task-list__item">
                        <div class="task-list-grid-container">
                            <span class="app-task-list__task-name task-list-project-name">
                                <a href="@Url.Action("ProjectName", "Project", new { id = Model.Id, projectId = project.Id })">
                                    @if(project.Name.IsNotProvided())
                                    {
                                        @ProjectName.Default.Value
                                    }
                                    else
                                    {
                                        @project.Name
                                    }
                                </a>
                            </span>

                            <div class="task-list-remove-link">
                                @if (Model.Status != ApplicationStatus.Withdrawn)
                                {
                                    <a href="@Url.Action("Delete", "Project", new { id = Model.Id, projectId = project.Id })">
                                        Remove
                                    </a>
                                }
                            </div>
                            <div>
                                <section-status-tag status=@project.Status additional-classes="app-task-list__tag"></section-status-tag>
                            </div>
                        </div>
                    </li>
                }
                @if (Model.Status != ApplicationStatus.Withdrawn)
                {
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <span class="app-task-list__task-name">
                                <a id="add-project-link" href="@Url.Action("StartProject", "Project", new {id = Model.Id})">
                                    Add another
                                </a>
                            </span>

                        </span>
                    </li>
                }
            </ul>
        </li>
    </ul>
    <gds-h2 size="ControlSize.M">Check and submit</gds-h2>
    <p>You must complete all sections before you can submit your application.</p>
    <form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
        @if (Model.CanBeSubmitted)
        {
            <gds-button data-module="govuk-button" name="action" value="Continue" id="submit-application">
                Check and submit application
            </gds-button>

        }
        else
        {
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" type="button" id="submit-application">
                Check and submit application
            </button>
        }
    </form>
    <gds-link href="#">
        Report a problem with this page
    </gds-link>
</gds-div-grid-column-two-thirds>

<div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-two-thirds govuk-!-margin-top-6">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Get help
        </h2>
        <p class="govuk-body-s">
            <span class="govuk-!-font-weight-bold">Telephone</span> <br />
            0800 389 2500<br />
            Monday to Friday 8:30 am to 5:30 pm<br />
            (except public holidays)<br />
            Free of charge
        </p>
    </aside>

</div>
