@model HE.InvestmentLoans.Contract.Funding.FundingViewModel
@using HE.InvestmentLoans.Contract.Funding.Enums;
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@inject ModelExpressionProvider modelProvider

@{


    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.Contract.Funding.FundingViewModel x) => x.TotalCosts));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="FundingV2" asp-action="EstimatedTotalCostsPost" asp-route-id="@Model.LoanApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","FundingV2", new {id = Model.LoanApplicationId, currentPage = FundingState.TotalCosts})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <legend>
                    <gds-label-wrapper>
                        <gds-label size="@ControlSize.L" for="TotalCosts">
                            @FundingPageTitles.EstimatedTotalCosts
                        </gds-label>
                    </gds-label-wrapper>
                </legend>
                <gds-div-hint class="govuk-!-margin-bottom-7">
                    Include land cost, acquisition costs, contingencies, professional fees and total construction costs.
                </gds-div-hint>

                <gds-input-wrapper class="govuk-!-margin-bottom-6">
                    <gds-input asp-prefixtext="GdsInputPrefixText.Pounds"
                               class="govuk-input--width-5"
                               govuk-formgroup-asp-for="TotalCosts"
                               value="@Model.TotalCosts"
                               asp-excludelabel
                               type="text" />
                </gds-input-wrapper>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")" id="continue-button">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
