@model HE.InvestmentLoans.Contract.Funding.FundingViewModel
@using HE.InvestmentLoans.Contract.Funding.Enums;
@using HE.Investments.Common.WWW.Extensions
@inject ModelExpressionProvider modelProvider

@{
    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.Contract.Funding.FundingViewModel x) => x.GrossDevelopmentValue));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="FundingV2" asp-action="GrossDevelopmentValuePost" asp-route-id="@Model.LoanApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","FundingV2", new {id = Model.LoanApplicationId, currentPage = FundingState.GDV})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <legend>
                    <gds-label-wrapper>
                        <gds-label size="@ControlSize.L" for="GrossDevelopmentValue">
                            @FundingPageTitles.GrossDevelopmentValue
                        </gds-label>
                    </gds-label-wrapper>
                </legend>
                <gds-input-wrapper class="govuk-!-margin-bottom-8">
                    <gds-input asp-prefixtext="GdsInputPrefixText.Pounds"
                               class="govuk-input--width-5"
                               govuk-formgroup-asp-for="GrossDevelopmentValue"
                               value="@Model.GrossDevelopmentValue"
                               type="text"
                               asp-excludelabel/>
                </gds-input-wrapper>
            </gds-div-form-group>
            <gds-details-summary label="Gross Development Value (GDV)">
                Gross Development Value (GDV) is the estimated value that a property or new development would fetch on the open market if it were to be sold in the current economic climate.
            </gds-details-summary>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")" id="continue-button">
                Continue
            </button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
