@using HE.Investment.AHP.Contract.Site.Commands
@using HE.Investment.AHP.Contract.SitePartners
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.WWW.Views.SitePartners.Const
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.TextInput
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model string;
@{
    ViewData["Title"] = SitePartnersPageTitles.UnregisteredBodySearch;

    var workflow = Context.Request.Query["workflow"];
    var paragraphs = string.Join(
        Environment.NewLine,
        "Enter the name of the partner who will own the homes after completion.",
        "We will search our Customer Relationship Management (CRM) system and Companies House for their details.");
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SitePartnersWorkflowState.UnregisteredBodySearch"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header caption="@ViewBag.SiteName"/>

    <form asp-controller="SitePartners" asp-action="UnregisteredBodySearch" asp-route-workflow=@workflow asp-method="post" novalidate>
        <vc:text-input
            title-type="InputTitleType.PageHeader"
            title="@SitePartnersPageTitles.UnregisteredBodySearch"
            paragraph="@paragraphs"
            field-name="@nameof(ProvideSearchOrganisationPhraseCommand.Phrase)"
            value=@Model/>

        <vc:form-button text="Search"/>
        <vc:return-to-sites-link is-editable="@false" project-id="@ViewBag.ProjectId"/>
    </form>
</gds-div-grid-column-two-thirds>
