@using HE.Investments.Account.Contract.Organisation
@using HE.Investments.Loans.Common.Utils.Constants.ViewName
@model HE.Investments.Account.Contract.Organisation.OrganisationDetailsViewModel

@* TODO: remove HE.InvestmentLoans.WWW.Notifications.ChangeOrganisationDetailsRequestedNotificationMapper class when removing this view! *@
<gds-div-grid-column-full>
    <form asp-controller="UserOrganisation" asp-action="Details" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Index", "UserOrganisation", new { })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="~/Partials/_Notification.cshtml" />

        <gds-h1 class="govuk-heading-xl govuk-!-margin-bottom-9">
            Manage @Model.Name details
        </gds-h1>

        <gds-h3 class="govuk-heading-l" data-testid="user-organisation-details">
            Organisation details
        </gds-h3>

        <gds-summary-list class="govuk-!-margin-bottom-9">

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", OrganisationDetailsView.Name },
                       { "Value", Model.Name },
                   })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", OrganisationDetailsView.PhoneNumber },
                       { "Value", Model.PhoneNumber },
                   })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", OrganisationDetailsView.Address },
                       { "Value", Model.AddressLines },
                   })

            @await Html.PartialAsync("_SimpleRow", new ViewDataDictionary(ViewData)
                   {
                       { "Title", OrganisationDetailsView.HouseNumber },
                       { "Value", Model.HouseNumber },
                   })

        </gds-summary-list>
        @if (Model.ChangeRequestState == OrganisationChangeRequestState.PendingRequestByYou)
        {
            <gds-div-grid-column-two-thirds class="govuk-!-padding-0">
                <div class="govuk-inset-text">
                    @OrganisationDetailsView.PendingRequestByYou
                </div>
            </gds-div-grid-column-two-thirds>
        }
        @if (Model.ChangeRequestState == OrganisationChangeRequestState.NoPendingRequest)
        {
            <gds-p>
                <gds-link href=@Url.Action("ChangeOrganisationDetails", "UserOrganisation") id="request-details-change-link">
                    @OrganisationDetailsView.NoPendingRequest
                </gds-link>
            </gds-p>
        }
        @if (Model.ChangeRequestState == OrganisationChangeRequestState.PendingRequestByOthers)
        {
            <gds-p>
                @OrganisationDetailsView.PendingRequestByOthers
            </gds-p>
        }
    </form>
</gds-div-grid-column-full>
