@using HE.Investments.Common.WWW.Models;
@model (string FieldName, IEnumerable<ExtendedSelectListItem> AvailableOptions)

@foreach (var option in Model.AvailableOptions)
{
    var id = option == Model.AvailableOptions.First() ? Model.FieldName : $"{Model.FieldName}-{option.Value}";

    <div class="govuk-checkboxes__item">
        <input id="@id" type="checkbox" checked="@option.Selected" class="govuk-checkboxes__input" value="@option.Value" name="@Model.FieldName"/>
        <label class="govuk-label govuk-checkboxes__label" for="@id">@option.Text</label>
        @if (!string.IsNullOrWhiteSpace(@option.Hint))
        {
            <he-div-hint class="govuk-!-padding-left-3">
                @option.Hint
            </he-div-hint>
        }
    </div>
}
