@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Helpers
@using HE.Investments.Common.WWW.TagHelpers
@using HE.Investments.Loans.WWW.Routing
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Columns
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@model HE.Investments.Loans.Contract.Application.Queries.GetDashboardDataQueryResponse
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Breadcrumbs = BreadcrumbsBuilder
        .New()
        .WithOrganisation(Model.AccountName)
        .WithLuhbfApplications()
        .Build();
}

<gds-column width="ColumnWidth.Full">
    <div class="govuk-!-margin-top-4">
        <vc:notification/>
    </div>

    <gds-h1 class="govuk-!-margin-top-6" size="ControlSize.L">
        @Model.AccountName LUHBF applications
    </gds-h1>

    <gds-h2 size="ControlSize.M">
        Your applications
    </gds-h2>


    @if (Model.LoanApplications.Count <= 0)
    {
        <p class="govuk-body govuk-!-margin-bottom-3">No applications, start new application below.</p>
    }
    else
    {
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Last updated</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var application in Model.LoanApplications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                <a href="@Url.Action("ApplicationDashboard", "LoanApplicationV2", new { id = application.Id.Value })" id=@($"open-application-link-{application.Id.Value}")>@application.ApplicationName.Value</a>
                            </strong>
                        </span>
                    </td>

                    <td class="govuk-table__cell">
                        <application-status-tag application-status="@application.Status"></application-status-tag>
                    </td>

                    <td class="govuk-table__cell">@DateHelper.DisplayAsUkFormatDateTime(application.LastModificationDate) @(!string.IsNullOrEmpty(application.LastModifiedBy) ? $"by {application.LastModifiedBy}" : string.Empty)</td>

                </tr>
            }
            </tbody>
        </table>
    }


    <div class="govuk-!-padding-top-8">
        <gds-h3 size="ControlSize.M">
            Start new project
        </gds-h3>
        <p class="govuk-body govuk-!-margin-bottom-3">Start a new project by answering a few questions to check if Homes England support is suitable for you, this will only take a few minutes.</p>

        <vc:button-start
            text="Start"
            href="@Url.Action("StartNewProject", "FrontDoor")"/>
    </div>
</gds-column>
