@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Components.ApplicationStatusTagComponent
@using HE.Investments.Common.WWW.Components.ListCard
@model HE.Investment.AHP.Contract.Project.ProjectDetailsModel
@{
    var title = Model.ProjectName;
    ViewData["Title"] = title;
}
<div class="govuk-grid-column-full">
    <gds-back-link href="@Url.Action("Index", "Projects")" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@title" caption="@Model.OrganisationName"/>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">
        @{
            var applications = Model.Applications.Select(x =>
                new ListCardItemModel(
                    x.Name,
                    new DynamicComponentViewModel(nameof(ApplicationStatusTagComponent), new { applicationStatus = x.Status }),
                    Url.Action("TaskList", "Application", new { applicationId = x.Id.Value })!))
                    .ToList();

            var description = applications.IsEmpty()
                ? "Your applications will appear here once added."
                : "This includes applications awaiting decision, not approved or pending approval.";

            var items = new ListCardModel(Model.ProgrammeName, applications, "Applications", description, Url.Action("Applications", new { projectId = Model.ProjectId }));

            <vc:list-card model="@items"></vc:list-card>
        }
    </gds-div-grid-column-two-thirds>

    <he-div-grid-column-full class="govuk-!-padding-left-0">
        <gds-h2>Apply for @Model.ProgrammeName</gds-h2>
        <gds-p>
            Start a new Affordable Homes Programme application on this project.
            This will not affect any of your previous applications.
            You will be asked to choose a site for this application, you can have more than one application per site.
        </gds-p>
        <link-button button-type="@ButtonType.Start"
                     action-url="@Url.Action("Start", "Application")"
                     is-disabled="@Model.IsReadOnly">
            Start
        </link-button>
    </he-div-grid-column-full>

    <div class="govuk-!-width-two-thirds govuk-!-padding-left-0">
        <gds-h2>View sites</gds-h2>
        <gds-p>
            View a list of your competed and in progress sites.
        </gds-p>
        <link-button action-url="@Url.Action("Sites", "Project", new { projectId = Model.ProjectId })" button-type="@ButtonType.Secondary">
            View
        </link-button>
    </div>
</div>
