@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using HE.Investment.AHP.WWW.Config
@using HE.Investment.AHP.WWW.Views.Shared.Components.SitesTable
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.WWW.Components.PageHeader
@inject IFrontDoorLinks FrontDoorLinks
@model HE.Investment.AHP.Contract.Project.ProjectSitesModel
@{
    ViewData["Title"] = SitePageTitles.SiteList;
}

<div class="govuk-grid-column-full">
    <gds-back-link href="@Url.Action("Details", "Project", new { projectId = @Model.ProjectId.Value })" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@SitePageTitles.SiteList"
                    caption="@Model.OrganisationName"
                    hint="Select a site to view site details or applications within the site."/>

    <gds-p>
        To add a new site, <a href="@FrontDoorLinks.StartNewProject">start a new project</a>.
    </gds-p>
    <gds-h2 class="govuk-!-margin-top-6">Your sites</gds-h2>
    <vc:sites-table sites="@Model.Sites" project-id="@Model.ProjectId.Value"/>
</div>
