@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Views.Project.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.ApplicationsTable
@model HE.Investment.AHP.Contract.Project.ProjectDetailsModel
@{
    var title = ProjectPageTitles.ApplicationList(Model.ProjectName);
    ViewData["Title"] = title;
    var organisationId = Context.Request.RouteValues["organisationId"]?.ToString();
    var projectId = Context.Request.RouteValues["projectId"]?.ToString();

    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .Empty(organisationId)
        .WithOrganisations()
        .WithOrganisation(Model.OrganisationName)
        .WithProjectsList()
        .WithProjectDetails(Model.ProjectName, projectId!)
        .WithProjectApplications()
        .Build();
}

<div class="govuk-grid-column-full govuk-!-margin-top-6">
    <vc:notification />

    <vc:page-header title="@title" caption="@Model.OrganisationName"/>

    @if (Model.Applications.TotalItems > 0)
    {
        <gds-h2>@($"{Model.ProgrammeName} applications")</gds-h2>
        <gds-p>View applications linked to this project.</gds-p>
        <vc:applications-table applications="@Model.Applications" project-id="@Model.ProjectId.Value"/>
    }

    @await Html.PartialAsync("~/Views/Project/Partials/_ProjectStartAppAndViewSites.cshtml", (Model.ProgrammeName, Model.ProjectId.Value, Model.IsReadOnly))

</div>
