@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Views.Project.Const
@using HE.Investments.AHP.ProjectDashboard.Contract.Project
@model HE.Investments.AHP.ProjectDashboard.Contract.Project.ProjectAllocationsModel
@{
    var title = ProjectPageTitles.AllocationList(Model.ProgrammeName);
    ViewData["Title"] = title;
    var organisationId = Context.Request.RouteValues["organisationId"]?.ToString();
    var projectId = Context.Request.RouteValues["projectId"]?.ToString();

    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .Empty(organisationId)
        .WithOrganisations()
        .WithOrganisation(Model.OrganisationName)
        .WithProjectAllocations(projectId!)
        .Build();
}

<div class="govuk-grid-column-full govuk-!-margin-top-6">
    <vc:page-header title="@title" caption="@Model.OrganisationName"/>

    <gds-p>
        Choose an allocation to make a claim or make changes to it. Any changes made need to be approved by your Provider Manager.
    </gds-p>

    <vc:allocations-table allocations="@Model.Allocations" project-id="@Model.ProjectId.Value" current-page="@Model.CurrentPage"/>

</div>
