@using HE.Investments.Common.Gds
@using HE.Investments.Common.Contract
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings

@if (Model.IsReadOnly)
{
    return;
}

@if (Model.Status is ApplicationStatus.Draft or ApplicationStatus.ReferredBackToApplicant)
{
    @if (Model.WasSubmitted)
    {
        <gds-h2 size="ControlSize.M">Submit application</gds-h2>
        <p>Your updated application will be sent to your Transaction Manager.</p>
        <he-organisation-form asp-controller="LoanApplicationV2" asp-action="Resubmit" asp-route-id="@Model.Id" asp-method="post" novalidate>
            <vc:loans-form-button
                is-disabled="@(!Model.CanBeSubmitted)"
                id="submit-application"
                button-type="@(Model.CanBeSubmitted ? ButtonType.Standard : ButtonType.Secondary)"
                text="Submit"/>
        </he-organisation-form>
    }
    else
    {
        <gds-h2 size="ControlSize.M">Check and submit</gds-h2>
        <p>You must complete all sections before you can submit your application.</p>
        <he-organisation-form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
            <vc:loans-form-button
                is-disabled="@(!Model.CanBeSubmitted)"
                id="submit-application"
                button-type="@(Model.CanBeSubmitted ? ButtonType.Standard : ButtonType.Secondary)"
                text="Check and submit application"/>
        </he-organisation-form>
    }
}
else
{
    <gds-h2 size="ControlSize.M">Application submitted</gds-h2>
    <p>If you want to update your application, select the section you want to change.</p>
    <he-organisation-form asp-controller="LoanApplicationV2" asp-action="TaskListPost" asp-route-id="@Model.Id" asp-method="post" novalidate>
        <vc:loans-form-button button-type="@ButtonType.Secondary" id="submit-application" text="Submit"/>
    </he-organisation-form>
}
