@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components;
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.WWW.Components.InputHeader
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs

@model (string FieldName, string Value, string Label, InputTitleType? TitleType, string Hint, string Prefix, string Suffix, string CssClass, string BoldParagraph)
@{
    var (hasError, errors) = ViewData.ModelState.GetErrors(Model.FieldName);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
    var inputClass = $"govuk-input {Model.CssClass}";
    inputClass += hasError ? " govuk-input--error" : string.Empty;
}
<gds-div-form-group class="@groupClass">
    <vc:input-header
        field-name="@Model.FieldName"
        title="@Model.Label"
        title-type="@Model.TitleType"
        hint="@Model.Hint"
        bold-paragraph="@Model.BoldParagraph"/>

    <vc:error-message field-name="@Model.FieldName"/>

    <div class="govuk-input__wrapper">
        @if (!string.IsNullOrWhiteSpace(Model.Prefix))
        {
            <div class="govuk-input__prefix" aria-hidden="true">@Model.Prefix</div>
        }
        <input class="@inputClass" id="@Model.FieldName" name="@Model.FieldName" type="text" spellcheck="false" value="@Model.Value" aria-label="@Model.FieldName">
        @if (!string.IsNullOrWhiteSpace(Model.Suffix))
        {
            <div class="govuk-input__suffix" aria-hidden="true">@Model.Suffix</div>
        }
    </div>

</gds-div-form-group>
