@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.Contract

@model (string FieldName, string Title, InputTitleType TitleType, string Description, string Hint, DateDetails Value, bool IsDisplayed, bool IsDayHidden)
@{
    var hasDateError = ViewData.ModelState.HasError(Model.FieldName);
    var hasDayError = ViewData.ModelState.HasError($"{Model.FieldName}.Day");
    var hasMonthError = ViewData.ModelState.HasError($"{Model.FieldName}.Month");
    var hasYearError = ViewData.ModelState.HasError($"{Model.FieldName}.Year");

    var hasAnyError = hasDateError || hasDayError || hasMonthError || hasYearError;
    var groupClass = hasAnyError ? "govuk-form-group--error" : string.Empty;
    string GetInputErrorClass(bool condition) => condition ? "govuk-input--error" : string.Empty;
}
@if (Model.IsDisplayed)
{
    <gds-div-form-group class="@groupClass">
        <gds-field-set>
            <vc:input-list-header
                title="@Model.Title"
                title-type="@Model.TitleType"
                hint="@Model.Description"/>

            @if (!string.IsNullOrWhiteSpace(Model.Hint))
            {
                <div class="govuk-hint">
                    @Model.Hint
                </div>
            }

            <vc:error-message field-name="@Model.FieldName"/>

            <div class="govuk-date-input" id="@Model.FieldName">
                @if (!Model.IsDayHidden)
                {
                    <div class="govuk-date-input__item">
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-date-input__label" for="@($"{Model.FieldName}.Day")">
                                Day
                            </label>
                            <input
                                class="@($"govuk-input govuk-date-input__input govuk-input--width-2 {GetInputErrorClass(hasDayError)}")"
                                id="@($"{Model.FieldName}.Day")"
                                name="@($"{Model.FieldName}.Day")"
                                type="text"
                                value="@Model.Value.Day"
                                inputmode="numeric">
                        </div>
                    </div>
                }

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="@($"{Model.FieldName}.Month")">
                            Month
                        </label>
                        <input
                            class="@($"govuk-input govuk-date-input__input govuk-input--width-2 {GetInputErrorClass(hasMonthError)}")"
                            id="@($"{Model.FieldName}.Month")"
                            name="@($"{Model.FieldName}.Month")"
                            type="text"
                            value="@Model.Value.Month"
                            inputmode="numeric">
                    </div>
                </div>

                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                        <label class="govuk-label govuk-date-input__label" for="@($"{Model.FieldName}.Year")">
                            Year
                        </label>
                        <input
                            class="@($"govuk-input govuk-date-input__input govuk-input--width-4 {GetInputErrorClass(hasYearError)}")"
                            id="@($"{Model.FieldName}.Year")"
                            name="@($"{Model.FieldName}.Year")"
                            type="text"
                            value="@Model.Value.Year"
                            inputmode="numeric">
                    </div>
                </div>
            </div>
        </gds-field-set>
    </gds-div-form-group>
}
