@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Account.Shared
@using HE.Investments.Account.WWW.Views.Shared.Components.JoinRequestsTable
@using HE.Investments.Account.WWW.Views.Shared.Components.UsersTable
@inject IAccountAccessContext AccountAccessContext
@model (HE.Investments.Account.Contract.Users.UsersAndJoinRequests usersAndJoinRequests, IDictionary<HE.Investments.Account.Api.Contract.User.UserRole, string> roles);
@{
    ViewData["Title"] = "Manage users";
    var title = $"Manage users at {Model.usersAndJoinRequests.OrganisationName}";
    var canManageUsers = await AccountAccessContext.CanManageUsers();
}

<div class="govuk-grid-column-full">
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("Index", "Home")"></gds-back-link>
    <vc:form-header title=@title/>
    <partial name="~/Partials/_Notification.cshtml" />

    @if (Model.usersAndJoinRequests.Users.Any())
    {
        <vc:users-table users="@Model.usersAndJoinRequests.Users"/>
    }

    @if (canManageUsers)
    {
        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">
            <p>You can invite a user to your organisation. You'll have to provide their details, as well as deciding what role you want to grant the user.</p>
            <link-button action-url="@Url.Action("Invite")">Invite a new user</link-button>
        </gds-div-grid-column-two-thirds>
    }

    <div class="govuk-grid-column-full govuk-!-padding-left-0">
        @if (Model.usersAndJoinRequests.JoinRequests.Any())
        {
            <gds-h2>Manage requests to join your organisation</gds-h2>
            <gds-p>Manage users and accept or reject requests to join the organisation. </gds-p>
            <vc:join-requests-table users="@Model.usersAndJoinRequests.JoinRequests"/>
        }
    </div>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">
        <gds-h2>What each role can do</gds-h2>
        @foreach (var role in Model.roles)
        {
            <gds-p class="govuk-!-margin-bottom-0">@role.Key.GetDescription()</gds-p>
            <gds-p>@role.Value</gds-p>
        }
    </gds-div-grid-column-two-thirds>
</div>
