@using HE.Investments.Account.WWW.Models.Users
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investments.Common.WWW.Components.TextInput
@model InviteUserViewModel
@{
    var title = $"Invite a user to {Model.OrganisationName}";
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("Index", "Users")"></gds-back-link>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header title=@title/>

    <form asp-controller="Users" asp-action="Invite" asp-method="post" novalidate>
        @Html.HiddenFor(m => m.OrganisationName)
        <gds-field-set>
            <vc:text-input
                field-name="@(nameof(Model.FirstName))"
                value="@Model.FirstName"
                title="First name"/>

            <vc:text-input
                field-name="@(nameof(Model.LastName))"
                value="@Model.LastName"
                title="Last name"/>

            <vc:text-input
                field-name="@(nameof(Model.EmailAddress))"
                value="@Model.EmailAddress"
                title="Email"/>

            <vc:text-input
                field-name="@(nameof(Model.JobTitle))"
                value="@Model.JobTitle"
                title="Job title"/>

            <vc:radio-list
                field-name="@(nameof(Model.Role))"
                title="Which role do you want to grant the user?"
                hint="This can be updated at any time."
                available-options="@UserRolesDescription.ToInvite"/>

        </gds-field-set>

        <vc:form-button/>

    </form>
    <gds-link href="@Url.Action("Index", "Users")">Cancel</gds-link>
</gds-div-grid-column-two-thirds>
