@using HE.Investments.Common.WWW.Models
@using HE.Investments.Common.WWW.Extensions
@model (string FieldName, IEnumerable<ExtendedSelectListItem> AvailableOptions, string Value)

@foreach (var option in Model.AvailableOptions)
{
    var id = option == Model.AvailableOptions.First() ? Model.FieldName : $"{Model.FieldName}-{option.Value}";
    var isSelected = option.Selected || Model.Value == option.Value;

    var attributes = new Dictionary<string, object>
    {
        { "id", id },
        { "class", "govuk-radios__input" },
    };
    attributes.AddWhen("aria-controls", $"conditional-{id}", option.ExpandableChild != null);

    <div class="govuk-radios__item">
        @Html.RadioButton(Model.FieldName, option.Value, isSelected, attributes)
        <label class="govuk-label govuk-radios__label" for="@id">
            @option.Text
        </label>

        @if (option.ItemContent != null)
        {
            <div class="govuk-!-padding-left-3">
                <vc:dynamic-component component="@option.ItemContent"/>
            </div>
        }

        @if (!string.IsNullOrWhiteSpace(option.Hint))
        {
            <he-div-hint class="govuk-!-padding-left-3">
                @option.Hint
            </he-div-hint>
        }
    </div>
    @if (option.ExpandableChild != null)
    {
        <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="@($"conditional-{id}")">
            <vc:dynamic-component component="@option.ExpandableChild"/>
        </div>
    }
}
