@model HE.Investments.Account.Contract.User.UserProfileDetailsModel;
@{
    ViewData["Title"] = "Profile details";
    var callback = Context.Request.Query["callback"].ToString();
    var marginClass = !string.IsNullOrWhiteSpace(callback) ? string.Empty : "govuk-!-margin-top-9";
}

<gds-div-grid-column-two-thirds>
    @if (!string.IsNullOrWhiteSpace(callback))
    {
        <gds-back-link class="govuk-!-margin-bottom-8" href="@callback"></gds-back-link>
    }

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <vc:form-header
        title="Complete your details"
        hint="Register as an individual, we will ask you for your organisation details later."
        additional-css-class="@marginClass"/>

    <form asp-controller="User" asp-action="SaveProfileDetails" asp-method="post" novalidate>
            @Html.Hidden("callback", callback)
            <vc:text-input
                field-name="@(nameof(Model.FirstName))"
                value="@Model.FirstName"
                label="First name"/>

            <vc:text-input
                field-name="@(nameof(Model.LastName))"
                value="@Model.LastName"
                label="Last name"/>

            <vc:text-input
                field-name="@(nameof(Model.JobTitle))"
                value="@Model.JobTitle"
                label="Job title"/>

            <vc:text-input
                field-name="@(nameof(Model.TelephoneNumber))"
                value="@Model.TelephoneNumber"
                label="Preferred telephone number"/>

            <vc:text-input
                field-name="@(nameof(Model.SecondaryTelephoneNumber))"
                value="@Model.SecondaryTelephoneNumber"
                label="Secondary telephone number (optional)"/>

        <vc:form-button/>
    </form>
</gds-div-grid-column-two-thirds>
