@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.TagHelpers
@model IList<HE.Investments.Common.WWW.Models.TaskList.TaskListSectionModel>
<ul class="app-task-list">
    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">@(i + 1). </span> @item.Header
            </h2>
            <he-div-hint class="govuk-!-padding-left-6">@item.Description</he-div-hint>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        @if (!item.IsAvailable)
                        {
                            <span>@item.Action</span>
                        }
                        else
                        {
                            <a href=@item.ActionUrl data-testId="@item.Action.ToIdTag()">
                                @item.Action
                            </a>
                        }
                    </span>
                    @if (!item.IsAvailable)
                    {
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag">Cannot start yet</strong>
                    }
                    else
                    {
                        <section-status-tag data-testId="@(item.Action.ToIdTag())-status" status=@item.Status additional-classes="app-task-list__tag"></section-status-tag>
                    }
                </li>
            </ul>
        </li>
    }
</ul>
