@model ApplicationDashboardModel
@{
    var data = new List<(string Title, string Desription, string Link)>
    {
        ("Application details",  "You can view or edit your company and project information.", Url.Action("TaskList", "LoanApplicationV2", new { id = Model.LoanApplicationId })),
        ("Conditions management", "You can upload evidence to satisfy your Conditions Precedent and Subsequent.", null),
        ("Letters", "You'll be able to download letters and upload your signed copies here.", Url.Link("#", null)),
    };
}

<gds-h3 size="ControlSize.M"> Overview</gds-h3>
<gds-summary-list class="govuk-!-margin-bottom-4">
    @foreach (var singleData in data)
    {
        <gds-summary-list-row-v2>
            <dt class="govuk-summary-list__key govuk-!-width-three-quarters">
                <gds-h1 size="ControlSize.S">
                    @singleData.Title
                </gds-h1>
                <p class="govuk-body govuk-!-margin-bottom-2"> @singleData.Desription</p>
            </dt>
            <gds-summary-list-actions-v2>
                <gds-link href=@(@singleData.Link ?? "#") id=@($"edit-link-{singleData.Title.ToLowerInvariant().Replace(' ', '-')}")>
                    View or edit
                </gds-link>
            </gds-summary-list-actions-v2>
        </gds-summary-list-row-v2>
    }
</gds-summary-list>

<div class="govuk-!-margin-top-8">
    <gds-h3 size="ControlSize.M">Request to hold</gds-h3>
    <gds-p>
        This will notify Homes England that you no longer wish to proceed with this application at this time. You can revisit this later on and submit once you're ready.
    </gds-p>
    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="@Url.Action("", "LoanApplicationV2", new { id = Model.LoanApplicationId })">
        Hold
    </a>
</div>

@if (Model.CanBeWithdrawn())
{
    <div class="govuk-!-margin-top-2">
        <gds-h3 size="ControlSize.M">Withdraw</gds-h3>
        <gds-p>
            This will notify Homes England that you no longer wish to proceed. Your application will be permanently deleted.
        </gds-p>
        <a class="govuk-button govuk-button--warning" data-module="govuk-button" href="@Url.Action("Withdraw", "LoanApplicationV2", new { id = Model.LoanApplicationId })">
            Withdraw
        </a>
    </div>
}
