@model HE.Investments.Account.WWW.Models.UserOrganisation.UserApplicationsModel
@{
    int itemsToDisplayCount = 5;
    var itemsToDisplay = Model.Applications.Take(itemsToDisplayCount).ToList();
    int restItemsCount = Model.Applications.Count() - itemsToDisplayCount;
}
@if (itemsToDisplay.Any())
{
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">@Model.Header</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <gds-h3 size="ControlSize.S">
                    Applications
                </gds-h3>
                @foreach (var application in itemsToDisplay)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <strong>
                                <a href="@application.ApplicationUrl">@application.ApplicationName</a>
                            </strong>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <application-status-tag application-status="@application.Status"></application-status-tag>
                        </dd>
                    </div>
                }
                <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                    @if (restItemsCount > 0)
                    {
                        <gds-p>
                            @restItemsCount other(s)
                        </gds-p>
                    }
                    <a class="govuk-button govuk-!-margin-bottom-0" data-module="govuk-button" href="@Model.ViewAllApplicationsUrl">
                        View all
                    </a>
                </div>
            </dl>
        </div>
    </div>
}
