@using HE.Investments.Account.WWW.Utils
@using HE.Investments.Account.WWW.Views.Organisation
@using HE.Investments.Account.WWW.Views.Shared.Components.ProjectStatusTagComponent
@using HE.Investments.Common.WWW.Components.ApplicationStatusTagComponent
@using HE.Investments.Common.WWW.Components.ListCard
@model HE.Investments.Account.WWW.Models.UserOrganisation.UserOrganisationModel;
@{
    ViewData["Title"] = OrganisationPageTitles.OrganisationDashboard(Model.OrganisationName);
    var organisationId = Context.Request.RouteValues["organisationId"]?.ToString();
    ViewBag.Breadcrumbs = BreadcrumbsBuilder
        .New()
        .WithOrganisations()
        .WithOrganisation(Model.OrganisationName, organisationId)
        .Build();
}

<div class="govuk-grid-column-full">
    <div class="govuk-grid-column-full govuk-!-padding-0">

        <vc:notification should-add-top-margin="@true"/>

        @if (!string.IsNullOrWhiteSpace(Model.UserName))
        {
            <gds-p class="govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                Welcome @Model.UserName
            </gds-p>
        }
        <gds-h1 size="ControlSize.L" class="govuk-!-padding-top-0 govuk-!-margin-bottom-4">
            @OrganisationPageTitles.OrganisationDashboard(Model.OrganisationName)
        </gds-h1>
    </div>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-0">
        @if (Model.IsLimitedUser)
        {
            <div class="govuk-inset-text" data-testid="user-organisation-limited-user">
                Your request to join @Model.OrganisationName will be reviewed and approved. While you wait, you can start a new application. You will not be able to see all of @Model.OrganisationName applications until you have been approved.
            </div>
        }
    </gds-div-grid-column-two-thirds>

    <div class="govuk-grid-column-full govuk-!-padding-0">

        @if ((!Model.ProgrammesToAccess.Any() || Model.ProgrammesToAccess.All(p => !p.Appliances.Any())) && !Model.Projects.Any())
        {
            <gds-p>
                You have not applied for any support. Select start a new project to apply for support.
            </gds-p>
        }

        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0 govuk-!-padding-right-6">
            @if (Model.Projects.Any())
            {
                var items = new ListCardModel("New projects", Model.Projects.Select(
                    x => new ListCardItemModel(
                        x.Name,
                        new DynamicComponentViewModel(nameof(ProjectStatusTagComponent), x.Status),
                        x.Url)).ToList());
                <vc:list-card model="@items"></vc:list-card>
            }

            @if (Model.ProgrammesToAccess.Any(p => p.Appliances.Any()))
            {
                @foreach (var programmeToAccess in Model.ProgrammesToAccess.Where(x => x.Appliances.Any()))
                {
                    var items = new ListCardModel(
                        programmeToAccess.Programme.Name,
                        programmeToAccess.Appliances.Select(x =>
                            new ListCardItemModel(
                                x.Name,
                    x.Status != null ? new DynamicComponentViewModel(nameof(ApplicationStatusTagComponent), new { applicationStatus = x.Status }) : null,
                                x.Url)).ToList(),
                        Title: programmeToAccess.Programme.Title,
                        ViewAllLabel: programmeToAccess.Programme.ViewAllAppliancesLabel,
                        ViewAllUrl: programmeToAccess.Programme.ViewAllAppliancesUrl,
                        ItemsToDisplayCount: programmeToAccess.Programme.ItemsToDisplayCount);
                        <vc:list-card model="@items"></vc:list-card>
                }
            }

            @if (!string.IsNullOrEmpty(Model.StartFrontDoorProjectUrl))
            {
                <gds-h2>Apply for support</gds-h2>
                <hr class="separator govuk-!-margin-top-6 govuk-!-margin-bottom-6"/>
                <div>
                    <a class="govuk-heading-m" href="@Model.StartFrontDoorProjectUrl" data-testId="start-new-project">Start a new project</a>
                    <gds-p class="govuk-!-margin-top-4">
                        Start a new project by answering a few questions to check if Homes England support is suitable for you, this will only take a few minutes.
                    </gds-p>
                </div>
            }

        </gds-div-grid-column-two-thirds>
        <div class="govuk-grid-column-one-third">
            @await Html.PartialAsync("_ActionsPanel", Model.Actions)
        </div>
    </div>
</div>
