@using HE.Investments.Account.WWW.Models.UserOrganisation
@using HE.Investments.Account.WWW.Utils
@using HE.Investments.Account.WWW.Views.Organisation
@using HE.Investments.Account.WWW.Views.Shared.Components.ProjectStatusTagComponent
@using HE.Investments.Common
@using HE.Investments.Common.WWW.Components.ApplicationStatusTagComponent
@using Microsoft.FeatureManagement
@using System.Threading
@inject IFeatureManager FeatureManager
@model HE.Investments.Account.WWW.Models.UserOrganisation.UserOrganisationModel;
@{
    ViewData["Title"] = OrganisationPageTitles.OrganisationDashboard(Model.OrganisationName);
    if (await FeatureManager.IsEnabledAsync(FeatureFlags.OrganisationsListImplemented, CancellationToken.None))
    {
        ViewBag.Breadcrumbs = BreadcrumbsBuilder
            .New()
            .WithOrganisations()
            .WithOrganisation(Model.OrganisationName)
            .Build();
    }
}

<div class="govuk-grid-column-full">
    <div class="govuk-grid-column-full govuk-!-padding-0">

        <partial name="~/Partials/_Notification.cshtml"/>

        @if (!string.IsNullOrWhiteSpace(Model.UserName))
        {
            <gds-p class="govuk-!-margin-top-4 govuk-!-margin-bottom-0">
                Welcome @Model.UserName
            </gds-p>
        }
        <gds-h1 size="ControlSize.L" class="govuk-!-padding-top-0 govuk-!-margin-bottom-4">
            @OrganisationPageTitles.OrganisationDashboard(Model.OrganisationName)
        </gds-h1>
    </div>

    <gds-div-grid-column-two-thirds class="govuk-!-padding-0">
        @if (Model.IsLimitedUser)
        {
            <div class="govuk-inset-text" data-testid="user-organisation-limited-user">
                Your request to join @Model.OrganisationName will be reviewed and approved. While you wait, you can start a new application. You will not be able to see all of @Model.OrganisationName applications until you have been approved.
            </div>
        }
    </gds-div-grid-column-two-thirds>

    <div class="govuk-grid-column-full govuk-!-padding-0">

        @if (!Model.ProgrammesToAccess.Any() || Model.ProgrammesToAccess.All(p => !p.Applications.Any()))
        {
            <gds-p>
                You have not applied for any support. Select start a new project to apply for support.
            </gds-p>
        }

        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0 govuk-!-padding-right-6">
            @if (Model.Projects.Any())
            {
                @await Html.PartialAsync(
                           "/Views/UserOrganisation/_ListCard.cshtml",
                           new ListCardModel("New projects", Model.Projects.Select(
                               x => new ListCardItemModel(
                                   x.Name,
                                   new DynamicComponentViewModel(nameof(ProjectStatusTagComponent), x.Status),
                                   x.Url)).ToList()))
            }

            @if (Model.ProgrammesToAccess.Any(p => p.Applications.Any()))
            {
                @foreach (var programmeToAccess in Model.ProgrammesToAccess)
                {
                    @await Html.PartialAsync(
                               "/Views/UserOrganisation/_ListCard.cshtml",
                               new ListCardModel(
                                   programmeToAccess.Programme.Name,
                                   programmeToAccess.Applications.Select(x =>
                                       new ListCardItemModel(
                                           x.Name,
                                           new DynamicComponentViewModel(nameof(ApplicationStatusTagComponent), new { ApplicationStatus = x.Status }), x.Url)).ToList(),
                                   Title: "Applications",
                                   ViewAllUrl: programmeToAccess.Programme.ViewAllApplicationsUrl))
                }
            }

            @if (!string.IsNullOrEmpty(Model.StartFrontDoorProjectUrl))
            {
                <gds-h2>Apply for support</gds-h2>
                <hr class="separator govuk-!-margin-top-6 govuk-!-margin-bottom-6"/>
                <div>
                    <a class="govuk-heading-m" href="@Model.StartFrontDoorProjectUrl" data-testId="start-new-project">Start a new project</a>
                    <gds-p class="govuk-!-margin-top-4">
                        Start a new project by answering a few questions to check if Homes England support is suitable for you, this will only take a few minutes.
                    </gds-p>
                </div>
            }

        </gds-div-grid-column-two-thirds>
        <div class="govuk-grid-column-one-third">
            @await Html.PartialAsync("_ActionsPanel", Model.Actions)
        </div>
    </div>
</div>
