@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Delivery
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investment.AHP.Contract.Delivery.Enums
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@using HE.Investment.AHP.WWW.Views.DeliveryPhase.Const
@model HE.Investment.AHP.Contract.Delivery.DeliveryPhaseDetails;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var title = DeliveryPageTitles.BuildActivityType;
    ViewData["Title"] = title;
    var availableOptions = BuildActivityTypeOptions.GetBuildActivityTypesOptions(Model.AvailableBuildActivityTypes ?? Array.Empty<BuildActivityType>(), Model.BuildActivityType);
    var currentPage = Model.TypeOfHomes == TypeOfHomes.Rehab ? DeliveryPhaseWorkflowState.RehabBuildActivityType : DeliveryPhaseWorkflowState.NewBuildActivityType;
    var aspAction = Model.TypeOfHomes == TypeOfHomes.Rehab ? "RehabBuildActivityType" : "NewBuildActivityType";
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@currentPage"/>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="@aspAction" asp-method="post" asp-route-workflow="@Context.Request.Query["workflow"]" novalidate>
        <vc:page-header caption="@($"{Model.Application.Name} - {Model.Name}")"/>
        @Html.HiddenFor(m => m.TypeOfHomes)
        <vc:radio-list
            title="@title"
            title-type="InputTitleType.PageHeader"
            hint="Each delivery phase should contain only one build activity type."
            field-name=@(nameof(Model.BuildActivityType))
            available-options=@availableOptions>
        </vc:radio-list>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
