@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Delivery
@using HE.Investment.AHP.WWW.Views.Delivery.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.TagHelpers
@model DeliveryPhaseNameViewModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var title = DeliveryPageTitles.Name;
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:back-link-with-callback url="@Url.Action("List", "Delivery", new { applicationId=Model.ApplicationId })" />

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="@Model.PostbackActionName" asp-method="post" novalidate>
        @Html.HiddenFor(x => x.DeliveryPhaseId)
        <vc:text-input label="@title"
                       hint="Each delivery phase needs a unique name."
                       field-name="@nameof(Model.DeliveryPhaseName)"
                       value="@Model.DeliveryPhaseName" />

        <vc:form-button />

        <vc:return-to-application-link application-id="@Model.ApplicationId" />
    </form>
</gds-div-grid-column-two-thirds>
