@using HE.Investment.AHP.WWW.Models.Delivery;
@using HE.Investment.AHP.WWW.Views.Shared.Components.DeliveryStartOnSiteMilestoneDetails
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.DateInput
@using HE.Investments.Common.WWW.Components.Details
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@model DeliveryViewModelBase;
@{
    var title = "Name your delivery phase";
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:back-link-with-callback url="@Url.Action("Back", "DeliveryPhase")" />

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="New" asp-method="post" novalidate>

        <vc:numeric-text-input header="@title"
                       description="Each delivery phase needs a unique name."
                       field-name="@nameof(Model.DeliveryPhaseName)"
                       value="@Model.DeliveryPhaseName" />

        <vc:form-button />

        <vc:return-to-application-link application-id="@Model.ApplicationId" />
    </form>
</gds-div-grid-column-two-thirds>
