@using HE.Investment.AHP.WWW.Views.Shared.Components.DeliveryStartOnSiteMilestoneDetails
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.DateInput
@using HE.Investments.Common.WWW.Components.Details
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investment.AHP.Contract.Delivery
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@model HE.Investment.AHP.WWW.Models.Delivery.MilestoneViewModel
@{
    var title = DeliveryPageTitles.StartOnSiteMilestone;
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@DeliveryPhaseWorkflowState.StartOnSiteMilestone"/>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="StartOnSiteMilestone" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:form-header caption="@($"{Model.ApplicationName} - {Model.DeliveryPhaseName}")" title="@title"/>

        <vc:details
            title="What are the start on site milestones?"
            content-component="@(new ComponentViewModel(nameof(DeliveryStartOnSiteMilestoneDetails)))"/>

        <vc:date-input
            header="Enter when you will start on site"
            description="This can be a date in the past. For future dates, include a reasonable level of risk adjustment in your forecasts."
            hint="Enter a date, for example 24 03 2024."
            field-name="@nameof(Model.MilestoneStartAt)"
            value="@Model.MilestoneStartAt"/>

        <vc:date-input
            header="Enter when you expect to claim this milestone payment"
            description="This date must be in the future, and must be on or after the date when you expect to have achieved all of the requirements of the milestone, as set out in the Capital Funding Guide."
            hint="Enter a date, for example 24 03 2024."
            field-name="@nameof(Model.ClaimMilestonePaymentAt)"
            value="@Model.ClaimMilestonePaymentAt"/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@Model.ApplicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
