@using HE.Investment.AHP.WWW.Views.Delivery.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investment.AHP.Contract.Delivery
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Delivery
@model SummaryOfDeliveryTrancheModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    string title = string.Empty;
    string description = string.Empty;

    switch (Model.TrancheType)
    {
        case SummaryOfDeliveryTrancheType.Acquisition:
        {
            title = DeliveryPageTitles.AcquisitionTranche;
            description = DeliveryPhaseDescriptions.AcquisitionTranche;
            break;
        }
        case SummaryOfDeliveryTrancheType.StartOnSite:
        {
            title = DeliveryPageTitles.StartOnSiteTranche;
            description = DeliveryPhaseDescriptions.StartOnSiteTranche;
            break;
        }
        case SummaryOfDeliveryTrancheType.Completion:
        {
            title = DeliveryPageTitles.CompletionTranche;
            description = DeliveryPhaseDescriptions.CompletionTranche;
            break;
        }
    }

    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@DeliveryPhaseWorkflowState.SummaryOfDeliveryTranche"/>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="SummaryOfDeliveryTranche" asp-method="post" asp-route-applicationId="@applicationId" asp-route-deliveryPhaseId="@Model.DeliveryPhaseId" asp-route-workflow="@Context.Request.Query["workflow"]" novalidate>
        <vc:page-header caption="@($"{Model.ApplicationName} - {Model.DeliveryPhaseName}")" title="@title" hint="@description"/>

        @Html.HiddenFor(x => x.TrancheType)
        @Html.HiddenFor(x => x.ApplicationName)
        @Html.HiddenFor(x => x.DeliveryPhaseName)
        <vc:numeric-text-input field-name=@nameof(Model.Value)
                               value="@Model.Value"
                               hint="Percentage of grant apportioned to this phase"
                               suffix="%"
                               css-class="govuk-input--width-4"/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
