@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioYesNo
@using HE.Investment.AHP.Contract.Delivery
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@model HE.Investment.AHP.WWW.Models.Delivery.DeliveryRequestAdditionalPaymentViewModel
@{
    var title = DeliveryPageTitles.UnregisteredBodyFollowUp;
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@DeliveryPhaseWorkflowState.UnregisteredBodyFollowUp"/>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="DeliveryPhase" asp-action="UnregisteredBodyFollowUp" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:page-header caption="@($"{Model.ApplicationName} - {Model.DeliveryPhaseName}")"/>

        <vc:radio-yes-no
            field-name="@nameof(Model.IsAdditionalPaymentRequested)"
            header="@title"
            value="Model.IsAdditionalPaymentRequested"
            hint="Our Provider Services team will review your request and contact you for further details. Any payments disbursed ahead of completion must be backed by an appropriate form of security."/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@Model.ApplicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
