@using HE.Investments.Common.WWW.Components.SelectList
@using HE.Investments.Common.Contract.Pagination
@using HE.Investments.Common.WWW.Extensions

@model (PaginationResult<SelectListItemViewModel> List, string PagingNavigationUrl, string AddActionUrl, string AddActionText, HE.Investments.Common.WWW.Components.DynamicComponentViewModel AdditionalContent)

<ul class="govuk-list" data-testId="select-list">
    @foreach (var item in Model.List.Items)
    {
        <li class="govuk-!-margin-bottom-4">
            <gds-p class="govuk-!-margin-bottom-0">
                <a class="govuk-link" href="@item.Url" data-testid=@item.Text.ToIdTag()>
                    <b>@item.Text</b>
                </a>
                @if (!string.IsNullOrWhiteSpace(item.Description))
                {
                    <gds-p>@item.Description</gds-p>
                }

                @if (item.DynamicContent != null)
                {
                    <vc:dynamic-component component="@item.DynamicContent"/>
                }
            </gds-p>
        </li>
    }
</ul>

<he-pagination
    base-url="@Model.PagingNavigationUrl"
    page="@Model.List.CurrentPage"
    items-per-page="@Model.List.ItemsPerPage"
    total-items="@Model.List.TotalItems">
</he-pagination>

@if (!string.IsNullOrWhiteSpace(Model.AddActionUrl))
{
    var text = string.IsNullOrWhiteSpace(Model.AddActionText) ? "Add" : Model.AddActionText;
    <link-button action-url="@Model.AddActionUrl">@text</link-button>
}

@* ReSharper disable once ConditionIsAlwaysTrueOrFalseAccordingToNullableAPIContract *@
@if (Model.AdditionalContent != null)
{
    <vc:dynamic-component component="@Model.AdditionalContent"/>
}
