@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Summary.V2
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Spans
@{
    var showRow = !(ViewData["Title"] == null);

    var value = ViewData["Value"];
    var valueList = value as IEnumerable<string>;
    var isEditable = ViewData["IsEditable"] as bool? ?? true;
    var files = ViewData["Files"] as Dictionary<string, string> ?? null;
}
@if (showRow)
{
    <gds-summary-list-row-v2>
        @if (isEditable)
        {
            <dt class="govuk-summary-list__key">
                @ViewData["Title"]
            </dt>
        }
        else
        {
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
                @ViewData["Title"]
            </dt>
        }

        <gds-summary-list-value-v2>
            @if (valueList != null)
            {
                foreach (var line in valueList)
                {
                    <p>@line</p>
                }
            }
            else
            {
                if (value != null)
                {
                    <p>@value</p>
                }
                else
                {
                    <p>Not provided</p>
                }
            }

            @if (files != null)
            {
                @foreach (var file in files)
                {
                    <a class="govuk-label govuk-label--s" href="@file.Value">
                        @file.Key
                    </a>
                }
            }
        </gds-summary-list-value-v2>

        @if (isEditable)
        {
            <gds-summary-list-actions-v2>
                @if (!string.IsNullOrEmpty(ViewData["Link"] as string))
                {
                    <gds-link id="@ViewData["LinkId"]" href=@ViewData["Link"]>
                        Change
                        <gds-span-visually-hidden> @ViewData["Link"]</gds-span-visually-hidden>
                    </gds-link>
                }
            </gds-summary-list-actions-v2>
        }
    </gds-summary-list-row-v2>
}
