@using HE.Investments.Common.WWW.Components.FormButton
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HE.Investments.FrontDoor.WWW.Models
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@using HE.Investments.FrontDoor.WWW.Workflows
@using HE.Investments.Common.WWW.Components.CheckboxListWithOr

@model HE.Investments.FrontDoor.Contract.Project.ProjectDetails
@{
    var title = ProjectPageTitles.Activity;
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:front-door-workflow-back-button current-page="@ProjectWorkflowState.ActivityTypes"></vc:front-door-workflow-back-button>
    <form asp-controller="Project" asp-action="Activity" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.Id)
        @Html.HiddenFor(m => Model.Name)

        <vc:checkbox-list-with-or
            title="@title"
            title-type="InputTitleType.PageHeader"
            hint="Select all that apply."
            field-name="@nameof(Model.ActivityTypes)"
            available-options="ProjectFormOptions.ActivityTypes"
            alternative-option="ProjectFormOptions.ActivityTypeOther"
            selected-values="@Model?.ActivityTypes?.Cast<Enum>()"/>

        <vc:form-button/>
    </form>
</gds-div-grid-column-two-thirds>
