@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.TextInput
@using HE.Investments.FrontDoor.Contract.Project
@using HE.Investments.FrontDoor.WWW.Views.Project
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@using HE.Investments.FrontDoor.WWW.Workflows
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@model string
@{
    ViewData["Title"] = ProjectPageTitles.Name;
    var projectId = ViewContext.RouteData.Values.FirstOrDefault(x => x.Key == "projectId").Value as string;
    var backUrl = string.IsNullOrEmpty(projectId)
        ? Url.Action("NewEnglandHousingDelivery", "Project", new { IsEnglandHousingDelivery = true })
        : Url.Action("Back", "Project", new { projectId, currentPage = ProjectWorkflowState.Name });
    var submitAction = string.IsNullOrEmpty(projectId) ? "NewName" : "Name";

}
<gds-div-grid-column-two-thirds>
    <gds-back-link href="@backUrl" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Project" asp-action="@submitAction" asp-route-workflow="@Context.Request.Query["workflow"]" asp-method="post" novalidate>

        <vc:text-input
            title="@ProjectPageTitles.Name"
            title-type="InputTitleType.PageHeader"
            hint="Each project needs a unique name."
            field-name="@(nameof(ProjectDetails.Name))"
            css-class="govuk-!-width-one-third"
            value=@Model/>

        <vc:form-button/>
    </form>

</gds-div-grid-column-two-thirds>
