@using HE.Investments.FrontDoor.Contract.Project
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@using HE.Investments.FrontDoor.WWW.Views.Shared.Components.FrontDoorWorkflowBackButton
@using HE.Investments.Common.WWW.Components.FormButton
@model ProjectDetails
@{
    ViewData["Title"] = ProjectPageTitles.OrganisationHomesBuilt;
}

<gds-div-grid-column-two-thirds>
    <vc:front-door-workflow-back-button current-page="@ProjectWorkflowState.OrganisationHomesBuilt"></vc:front-door-workflow-back-button>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <vc:page-header caption="@ViewBag.ProjectName"/>

    <form asp-controller="Project" asp-action="OrganisationHomesBuilt" asp-route-workflow="@Context.Request.Query["workflow"]" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:text-input
            title="@ProjectPageTitles.OrganisationHomesBuilt"
            title-type="InputTitleType.PageHeader"
            paragraph="Enter the total number of homes your organisation has built in the last year. If this is your first build, you can enter 0."
            css-class="govuk-input--width-4"
            field-name="@nameof(Model.OrganisationHomesBuilt)"
            value="@Model.OrganisationHomesBuilt"/>

        <vc:form-button/>
        <vc:return-to-account-link/>
    </form>
</gds-div-grid-column-two-thirds>
