@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.FrontDoor.WWW.Config
@using HE.Investments.FrontDoor.WWW.Views.Project.Const
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@inject IExternalLinks ExternalLinks
@{
    var title = ProjectPageTitles.YouNeedToSpeakToHomesEngland;
    ViewData["Title"] = title;
    var projectId = ViewContext.RouteData.Values.FirstOrDefault(x => x.Key == "projectId").Value as string;
    var backUrl = Url.Action("CheckAnswers", "Project", new { projectId });
}

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@backUrl" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@title"/>
    <gds-p> Based on the answers given, we need to discuss your project in more detail with you before being able to invite you to apply.</gds-p>
    <gds-p>
        If you have answered incorrectly, go back and try again. If you have answered correctly, contact us to discuss your project further.
    </gds-p>

    <gds-p>
        You can contact us by:<br/>
        Telephone: 0300 1234 500 (weekdays from 9am to 5pm)<br/>
        Email: <a href="mailto:@ExternalLinks.MailToEnquiries">@ExternalLinks.MailToEnquiries</a>
    </gds-p>

    <a class="govuk-button govuk-!-margin-right-4" data-module="govuk-button" href="@backUrl">
        Go back and try again
    </a>

    <a class="govuk-button govuk-button--secondary" data-module="govuk-button" href="@Url.Action("Index", "Account")">
        Return to your account
    </a>
</gds-div-grid-column-two-thirds>
