@using HE.Investments.Common.Extensions
@using HE.Investments.Common.Services.Notifications;

@model DisplayNotification;

@if (Model.IsNotProvided())
{
    <div class="govuk-notification-banner @(Model.NotificationType == NotificationType.Success ? "govuk-notification-banner--success" : "") govuk-!-margin-bottom-8" role="alert"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @Model.Title
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                @Model.Description

                @if (Model.LinkDescription != null)
                {
                    <br />
                    <a href="@Model.LinkDescriptionUrl">@Model.LinkDescription</a>
                }
            </h3>

            @if (Model.Body != null)
            {
                <p class="govuk-body">@Model.Body</p>
            }
        </div>
    </div>
}
