@using HE.Investment.AHP.WWW.Views.ConsortiumMember.Const
@using HE.Investment.AHP.WWW.Models.Consortium
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.TagHelpers
@model ConsortiumSelectedProgrammeModel

<gds-div-grid-column-two-thirds>
    <vc:page-header
        title="@ConsortiumMemberPageTitles.ContactHomesEngland(Model.SelectedProgramme.Name, Model.SelectedProgramme.ShortName)"
        additional-css-class="govuk-!-margin-top-8"/>

    <gds-p>
        Based on your answers, your project is invited to apply for the @Model.SelectedProgramme.Name (@Model.SelectedProgramme.ShortName)
    </gds-p>

    <gds-p>
        Our records show that you are a member, not a lead partner, of a consortium. <a href="@Url.Action("Index", "ConsortiumMember", new { consortiumId = Model.ConsortiumId })">View the details of your consortium.</a>
    </gds-p>

    <gds-p>
        Only a lead partner of a consortium can apply. Speak to the lead partner of your consortium about including your proposal as part of your consortium's programme.
    </gds-p>

    <gds-p>
        If you do not wish to apply for an affordable housing grant, please contact Homes England.
    </gds-p>

    <gds-p>
        You can contact us by:<br/>
        Telephone: 0300 1234 500 (weekdays from 9am to 5pm)<br/>
        Email: <a href="mailto:enquiries@homesengland.gov.uk">enquiries@homesengland.gov.uk</a>
    </gds-p>

    <link-button button-type="@ButtonType.Standard"
                 href="@Url.Action("Index", "Account")">
        Return to your account
    </link-button>
</gds-div-grid-column-two-thirds>
