@using HE.Investment.AHP.WWW.Views.ConsortiumMember.Const
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investment.AHP.WWW.Routing
@using HE.Investments.Common.Gds
@model HE.Investments.AHP.Consortium.Contract.ConsortiumDetails
@{
    ViewData["Title"] = ConsortiumMemberPageTitles.ConsortiumManagement(Model.LeadPartner.Name);
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithApplicationsList()
        .Build();
}

<div class="govuk-grid-column-two-thirds">
    <vc:page-header title="@ConsortiumMemberPageTitles.ConsortiumManagement(Model.LeadPartner.Name)"/>

    <gds-h2>Add a new member</gds-h2>
    <gds-p>To add a new member, fill out their details and the request will be reviewed.</gds-p>
    <link-button
        button-type="@ButtonType.Standard"
        action-url="@Url.Action("SearchOrganisation", new { consortiumId = Model.ConsortiumId.Value })">
        Add new member
    </link-button>
</div>

@* TODO: introduce contracted/pending members in Model *@
@if (Model.Members.Any())
{
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <gds-h2>Contracted consortium members</gds-h2>
        <gds-p>These members have been approved and added to the consortium. You can request to remove or change the members details.</gds-p>
    </div>
    <div class="govuk-grid-column-full govuk-!-padding-left-3">
        <gds-summary-list>
            <strong class="govuk-!-margin-bottom-3">Name</strong>
            @foreach (var organisation in Model.Members)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-padding-top-1 govuk-!-padding-bottom-1">
                        <div>@organisation.Name</div>
                    </dt>
                </div>
            }
        </gds-summary-list>
    </div>
}

@if (Model.Members.Any())
{
    <div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
        <gds-h2>Pending consortium members</gds-h2>
        <gds-p>New members will be shown here until they are approved internally. You can cancel a request below.</gds-p>
    </div>
    <div class="govuk-grid-column-full govuk-!-padding-left-3">
        <gds-summary-list>
            <strong class="govuk-!-margin-bottom-3">Name</strong>
            @foreach (var organisation in Model.Members)
            {
                <div class="govuk-summary-list__row">
                    <dt class="govuk-!-padding-top-1 govuk-!-padding-bottom-1">
                        <div>@organisation.Name</div>
                    </dt>
                    <dd class="govuk-summary-list__actions">
                        <gds-link href="@Url.Action("RemoveMember", "ConsortiumMember", new { consortiumId = Model.ConsortiumId.Value, memberId = organisation.OrganisationId ?? organisation.CompanyHouseNumber })">
                            Cancel request
                        </gds-link>
                    </dd>
                </div>
            }
        </gds-summary-list>
    </div>
}

<div class="govuk-grid-column-two-thirds govuk-!-margin-top-6">
    <gds-h2>Changing or deleting this consortium</gds-h2>
    <gds-p>If you need to make changes to, or delete this consortium, contact Homes England. We will do this for you.</gds-p>

    <div class="govuk-!-margin-top-8">
        <vc:return-to-account-link/>
    </div>
</div>
