@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider
@{
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.ChargesDebtCompanyInfo));
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.ChargesDebtCompany));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Security" asp-action="WorkflowPost" asp-route-id="@Model.ID" asp-route-ending="ChargesDebtCompany" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Security", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        Are there any charges outstanding or debt secured on this company?
                    </gds-fieldset-heading>
                </gds-legend>

                <gds-div-hint>
                    You may have also taken out a fixed or floating charge over the general assets in the company. This is a charge typically referred to as a Debenture.
                </gds-div-hint>
                @if (radioInvalid)
                {
                    <p id="charges-debt-company-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> @radioErrors
                    </p>
                }
                <gds-radio-yes-no asp-for="Security.ChargesDebtCompany"
                                  inner-input-text="Tell us who holds the debenture. If there is more than one debenture holder, separate these with a comma. For example, Lloyds Bank, Royal Bank of Scotland."
                                  inner-input-for="Security.ChargesDebtCompanyInfo"
                                  with-yes-input
                                  is-conditional-input-invalid="conditionalInputInvalid"
                                  conditional-input-error="@inputErrors"
                                  value="@Model.Security.ChargesDebtCompany"
                                  inner-input-value="@Model.Security.ChargesDebtCompanyInfo"
                                  class="govuk-!-margin-bottom-8"></gds-radio-yes-no>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Security.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.YesNoConditionalInputScript(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Security.ChargesDebtCompany))