@using HE.Investments.Common.WWW.Extensions
@model (string Name, IList<string> Values, string ActionUrl, Dictionary<string, string> Files, bool IsEditable, bool IsVisible)

@if (Model.IsVisible)
{
    <div class="govuk-summary-list__row" data-testId="@($"{Model.Name}-summary".ToIdTag())">
        @if (Model.IsEditable)
        {
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
                @Model.Name
            </dt>
        }
        else
        {
            <dt class="govuk-summary-list__key govuk-!-width-one-half">
                @Model.Name
            </dt>
        }

        <dd class="govuk-summary-list__value">
            @if (Model.Values.Any())
            {
                foreach (var value in Model.Values)
                {
                    <p>@value</p>
                }
            }
            else
            {
                <p>Not provided</p>
            }

            @foreach (var file in Model.Files)
            {
                <a class="govuk-label govuk-label--s" href="@file.Value">
                    @file.Key
                </a>
            }
        </dd>

        @if (Model.IsEditable)
        {
            <dd class="govuk-summary-list__actions">
                @if (!string.IsNullOrEmpty(Model.ActionUrl))
                {
                    <gds-link href=@Model.ActionUrl>
                        Change
                    </gds-link>
                }
            </dd>
        }
    </div>
}
