@using HE.InvestmentLoans.Contract.Application.Queries;
@using HE.InvestmentLoans.Common.Extensions
@using HE.InvestmentLoans.WWW.Routing
@model GetDashboardDataQueryResponse
@{
    ViewData["Title"] = "Home Page";
    ViewBag.Breadcrumbs = BreadcrumbsBuilder
        .New()
        .WithOrganisations()
        .WithOrganisation(Model.AccountName)
        .WithLuhbfApplications()
        .Build();
}

<gds-column width="ColumnWidth.Full">
    <div class="govuk-!-margin-top-4">
        @await Html.PartialAsync("_Notification")
    </div>

    <gds-h1 class="govuk-!-margin-top-6" size="ControlSize.L">
        @Model.AccountName LUHBF applications
    </gds-h1>

    <gds-h3 size="ControlSize.M">
        Your applications
    </gds-h3>


    @if (Model.LoanApplications.Count <= 0)
    {
        <p class="govuk-body govuk-!-margin-bottom-3">No applications, start new application below.</p>
    }
    else
    {
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Last updated</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var application in Model.LoanApplications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                <a href="@Url.Action("ApplicationDashboard", "LoanApplicationV2", new { id = application.Id.Value })" id=@($"open-application-link-{application.Id.Value}")>@application.ApplicationName</a>
                            </strong>
                        </span>
                    </td>

                    <td class="govuk-table__cell">
                        <application-status-tag application-status="@application.Status"></application-status-tag>
                    </td>

                    <td class="govuk-table__cell">@application.LastModificationDate?.ConvertUtcToUkLocalTime()</td>

                </tr>
            }
            </tbody>
        </table>
    }


    <div class="govuk-!-padding-top-8">
        <gds-h3 size="ControlSize.M">
            Start new Home Building Fund application
        </gds-h3>
        <p class="govuk-body govuk-!-margin-bottom-3">You can start a new application here. This will not impact any of your previous applications.</p>

        <a href="/application" id="start-application-link">
            <gds-button-start type="button">
                Start new application
            </gds-button-start>
        </a>
    </div>
</gds-column>
