@model HE.Investment.AHP.WWW.Models.Application.ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}
<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("Index", "Home")" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>

    <vc:form-header title="@Model.SiteName"/>
    <span class="govuk-caption-m">View and add applications to this site and submit them for review.</span>

    <div class="govuk-!-padding-bottom-8">
        @foreach (var application in Model.Applications)
        {
            <gds-p>
                <a href="@Url.Action("TaskList", "Application", new { applicationId = application.Id })"> @application.Name </a>
            </gds-p>
        }
    </div>

    <link-button action-url="@Url.Action("Name", "Application")">Create a new application</link-button>
</gds-div-grid-column-two-thirds>
