@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Config
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.HelpPanel
@using Microsoft.Extensions.Options
@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investments.Common.Domain
@model HE.Investment.AHP.WWW.Models.Application.ApplicationModel
@inject IOptions<ContactInfoOptions> Options

@{
    ViewData["Title"] = "Application details";
    var totalSectionsCount = Model.Sections.Count;
    var incompleteSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.NotStarted || s.SectionStatus == SectionStatus.InProgress);
    var completeSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.Completed);
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .Build();
}
<div class="govuk-grid-column-full govuk-!-padding-top-8">
    <vc:form-header caption="@Model.SiteName" title="@Model.Name"/>

    @if (incompleteSectionsCount > 0)
    {
        <gds-h2 class="govuk-heading-s">
            Application incomplete
            <gds-p>You have completed @completeSectionsCount of @totalSectionsCount sections.</gds-p>
        </gds-h2>
    }
</div>
<div class="govuk-grid-column-two-thirds">
    @await Html.PartialAsync("~/Partials/TaskList/_TaskList.cshtml", ApplicationSections.CreateSections(Model.Sections))

    @if (incompleteSectionsCount > 0)
    {
        <gds-div-inset-text>
            You must complete all the sections before you can submit your application.
        </gds-div-inset-text>
    }

    <link-button action-url="@Url.Action("Index", "Application")" is-secondary="true">Return to applications</link-button>
</div>
<div class="govuk-grid-column-one-third">
    <vc:help-panel email-address="@Options.Value.Email" phone-number="@Options.Value.Phone"/>
</div>
