@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Config
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.HelpPanel
@using Microsoft.Extensions.Options
@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investments.Account.Shared
@using HE.Investments.Common.Contract
@using HE.Investments.Common.Domain
@model HE.Investment.AHP.WWW.Models.Application.ApplicationSectionsModel
@inject IOptions<ContactInfoOptions> Options
@inject IAccountAccessContext AccountAccessContext

@{
    ViewData["Title"] = "Application details";
    var incompleteSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.NotStarted || s.SectionStatus == SectionStatus.InProgress);
    var completeSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.Completed);
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .Build();

    var canSubmitApplication = await AccountAccessContext.CanSubmitApplication();
}
<div class="govuk-grid-column-full govuk-!-padding-top-8">
    <vc:form-header caption="@Model.SiteName" title="@Model.Name"/>

    <vc:application-task-list-header
        incomplete-sections-count="@incompleteSectionsCount"
        complete-sections-count="completeSectionsCount"
        total-sections-count="@Model.Sections.Count"
        application-status="@Model.Status"
        reference-number="@Model.ReferenceNumber"
        last-modification-details="@Model.LastModificationDetails"/>
</div>
<div class="govuk-grid-column-two-thirds">
    @await Html.PartialAsync("~/Partials/TaskList/_TaskList.cshtml", ApplicationSections.CreateSections(Model.ApplicationId, Url, Model.Sections))

    <gds-h2>Check and submit</gds-h2>
    @if (incompleteSectionsCount > 0)
    {
        <gds-p>You must complete all sections before you can submit your application.</gds-p>
    }
    <link-button
        action-url="@Url.Action("CheckAnswers", "Application", new { applicationId = Model.ApplicationId })"
        is-disabled="@(incompleteSectionsCount > 0 || !canSubmitApplication)">
        Check and submit application
    </link-button>

    <link-button action-url="@Url.Action("Index", "Application")" is-secondary="true">Return to applications</link-button>
</div>
<div class="govuk-grid-column-one-third">
    <vc:help-panel email-address="@Options.Value.Email" phone-number="@Options.Value.Phone"/>
</div>
