@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Config
@using HE.Investments.Common.WWW.Components.HelpPanel
@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investment.AHP.WWW.Views.Shared.Components.ApplicationTaskListHeader
@using HE.Investments.Common.Contract
@using HE.Investments.Common.Gds
@using HE.Investment.AHP.Contract.Application
@using HE.Investment.AHP.WWW.Notifications
@using HE.Investments.Common.Services.Notifications
@model HE.Investment.AHP.WWW.Models.Application.ApplicationSectionsModel
@inject ContactInfo ContactInfo

@{
    ViewData["Title"] = "Application details";
    var incompleteSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.NotStarted || s.SectionStatus == SectionStatus.InProgress);
    var completeSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.Completed);
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .Build();
}
<div class="govuk-grid-column-two-thirds govuk-!-padding-top-8">
    @if (Model.Status == ApplicationStatus.ReferredBackToApplicant)
    {
        <vc:notification display-notification="@ApplicationHasStatusReferredBackToApplicant.Create()"/>
    }
    <vc:notification/>
</div>
<div class="govuk-grid-column-full">
    <vc:page-header caption="@Model.SiteName" title="@Model.Name"/>

    <vc:application-task-list-header
        incomplete-sections-count="@incompleteSectionsCount"
        complete-sections-count="completeSectionsCount"
        total-sections-count="@Model.Sections.Count"
        application-status="@Model.Status"
        reference-number="@Model.ReferenceNumber"
        last-modification-details="@Model.LastModificationDetails"
        last-submission-details="@Model.LastSubmissionDetails"/>
</div>
<div class="govuk-grid-column-two-thirds">
    @if (Model.AllowedOperations.Contains(AhpApplicationOperation.RequestToEdit))
    {
        <partial name="_LockedApplicationInformation"/>

        <vc:change-status-section
            title="Request to edit"
            paragraph="Send a request to your Growth Manager if you want to edit your application. They will review your request and will allow you to edit your application."
            action-url="@Url.Action("RequestToEdit", "Application", new { applicationId = Model.ApplicationId })"
            link-button-name="Request to edit"
            button-type="@ButtonType.Standard"
            test-id="request-to-edit-application"/>
    }
    @await Html.PartialAsync("~/Partials/TaskList/_TaskList.cshtml", ApplicationSections.CreateSections(Model.ApplicationId, Url, Model.Sections))

    @await Html.PartialAsync("Partials/_TaskListRequestChangeStatusSection.cshtml", Model)

    <vc:return-to-applications-list-link/>
</div>
<div class="govuk-grid-column-one-third">
    <vc:help-panel email-address="@ContactInfo.Email" phone-number="@ContactInfo.Phone"/>
</div>
