@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Config
@using HE.Investments.Common.WWW.Components.HelpPanel
@using Microsoft.Extensions.Options
@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investment.AHP.WWW.Views.Shared.Components.ApplicationTaskListHeader
@using HE.Investments.Common.Contract
@using HE.Investments.Common.Gds
@model HE.Investment.AHP.WWW.Models.Application.ApplicationSectionsModel
@inject IOptions<ContactInfoOptions> Options

@{
    ViewData["Title"] = "Application details";
    var incompleteSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.NotStarted || s.SectionStatus == SectionStatus.InProgress);
    var completeSectionsCount = Model.Sections.Count(s => s.SectionStatus == SectionStatus.Completed);
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .Build();
}
<div class="govuk-grid-column-two-thirds govuk-!-padding-top-8">
    <partial name="~/Partials/_Notification.cshtml"/>
</div>
<div class="govuk-grid-column-full">
    <vc:page-header caption="@Model.SiteName" title="@Model.Name"/>

    <vc:application-task-list-header
        incomplete-sections-count="@incompleteSectionsCount"
        complete-sections-count="completeSectionsCount"
        total-sections-count="@Model.Sections.Count"
        application-status="@Model.Status"
        reference-number="@Model.ReferenceNumber"
        last-modification-details="@Model.LastModificationDetails"/>
</div>
<div class="govuk-grid-column-two-thirds">
    @if (Model.IsReadOnly())
    {
        <gds-div-inset-text class="govuk-!-margin-top-8">
            Your application is now locked. Make a request to your Growth Manager if you need to make any changes.
        </gds-div-inset-text>
    }

    @if (Model.CanBeRequestedToEdit())
    {
        <vc:change-status-section
            title="Request to edit"
            paragraph="Send a request to your Growth Manager if you want to edit your application. They will review your request and will allow you to edit your application."
            action-url="@Url.Action("RequestToEdit", "Application", new { applicationId = Model.ApplicationId })"
            link-button-name="Request to edit"
            button-type="@ButtonType.Standard"
            test-id="request-to-edit-application"/>
    }
    @await Html.PartialAsync("~/Partials/TaskList/_TaskList.cshtml", ApplicationSections.CreateSections(Model.ApplicationId, Url, Model.Sections))

    @await Html.PartialAsync("Partials/_TaskListRequestChangeStatusSection.cshtml", Model)

    <link-button action-url="@Url.Action("Index", "Application")" button-type="@ButtonType.Secondary">Return to applications</link-button>
</div>
<div class="govuk-grid-column-one-third">
    <vc:help-panel email-address="@Options.Value.Email" phone-number="@Options.Value.Phone"/>
</div>
