@using HE.Investments.Common.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Application
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@model HE.Investment.AHP.WWW.Models.Application.ApplicationBasicModel

@{
    ViewData["Title"] = "Application tenure";
    var hints = new[]
    {
        "Homes let at below market rent by a registered provider. The rent, including service charge, is set at up to 80% of the local market rent for an equivalent home.",
        "Social rent is low-cost rental social housing that is let at below market rent by a registered provider based on a formula set by the government.",
        "Shared Ownership allows a customer to purchase a share of a home and pay rent on the remaining share.",
        "Homes let to working households at a lower cost to give them the opportunity to save for a deposit to but their first home.",
        "HOLD is a form of Shared Ownership that enable providers to purchase homes on the open market that meet the specific requirements of the homeowner.",
        "OPSO is a form of Shared Ownership for people aged 55 and over.",
    };
}
<gds-div-grid-column-two-thirds>
    <vc:back-link-with-callback url="@Url.Action("Name", "Application", new { applicationId = Model.Id })"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Application" asp-action="Tenure" asp-method="post" asp-route-callbackUrl="@Context.Request.Query["callbackUrl"]" novalidate>
        <vc:form-header caption="@Model.Name" title="What is the tenure of the homes on this application?"/>
        <gds-field-set role="group">
            <gds-div-form-group>

                @Html.HiddenFor(m => m.Id)
                @Html.HiddenFor(m => m.Name)

                <vc:error-message asp-for="@Model.Tenure"/>
                <gds-legend>
                    <he-custom-radio
                        asp-for="Tenure"
                        value="@Model.Tenure"
                        radio-items="Tenures.AvailableTenures"
                        radio-hints="@hints"
                        class="govuk-!-margin-bottom-2">
                    </he-custom-radio>
                </gds-legend>
            </gds-div-form-group>
        </gds-field-set>

        <gds-details>
            <gds-summary-details>What is tenure?</gds-summary-details>
            <gds-div-details-text>
                Tenure refers to the conditions around ownership or rental of the properties. For example, Shared Ownership or Social Rent. We provide more information on <a href=" https://www.gov.uk/guidance/apply-for-affordable-housing-funding" target="_blank">eligible tenure for affordable housing on our website.</a>
            </gds-div-details-text>
        </gds-details>

        <vc:form-button/>
    </form>

</gds-div-grid-column-two-thirds>
