@using HE.Investment.AHP.WWW.Models.Application
@using HE.Investment.AHP.WWW.Views.Application
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Common
@model HE.Investment.AHP.WWW.Models.Application.ApplicationBasicModel

@{
    ViewData["Title"] = "Application tenure";
}
<gds-div-grid-column-two-thirds>
    <vc:back-link-with-callback url="@Url.Action("Name", "Application", new { applicationName = Model.Name, siteId = this.GetSiteIdFromRoute() })"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Application" asp-action="Tenure" asp-method="post" asp-route-applicationName="@Model.Name" novalidate>
        <vc:page-header caption="@Model.Name" title="@ApplicationPageTitles.Tenure"/>

        @Html.HiddenFor(m => m.Name)

        <vc:radio-list
            hint="You cannot change the tenure once you have started this application. If you want to change the tenure, you will have to start a new application."
            field-name="@(nameof(Model.Tenure))"
            available-options="@Tenures.AvailableTenures"
            value="@Model.Tenure"/>

        <gds-details>
            <gds-summary-details>What is tenure?</gds-summary-details>
            <gds-div-details-text>
                Tenure refers to the conditions around ownership or rental of the properties. For example, Shared Ownership or Social Rent. We provide more information on <a href="@ExternalLinks.Get(nameof(ExternalLinks.ApplyForAffordableHousingFunding))" target="_blank">eligible tenure for affordable housing on our website (opens in a new tab).</a>
            </gds-div-details-text>
        </gds-details>

        <vc:form-button/>
    </form>

</gds-div-grid-column-two-thirds>
