@using HE.Investment.AHP.WWW.Models.Application
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investments.Common.WWW.Models
@model HE.Investment.AHP.WWW.Models.Application.ApplicationBasicModel

@{
    ViewData["Title"] = "Application tenure";
    var tenures = Tenures.AvailableTenures
        .Select(r => new ExtendedSelectListItem(
            r.Key.GetDescription(),
            r.Key.ToString(),
            r.Key == Model.Tenure,
            r.Value))
        .ToList();
}
<gds-div-grid-column-two-thirds>
    <vc:back-link-with-callback url="@Url.Action("Name", "Application", new { applicationName = Model.Name })"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Application" asp-action="Tenure" asp-method="post" asp-route-applicationName="@Model.Name" novalidate>
        <vc:form-header caption="@Model.Name" title="What is the tenure of the homes on this application?"/>
        <gds-field-set role="group">
            @Html.HiddenFor(m => m.Name)

            <vc:radio-list
                hint="You cannot change the tenure once you have started this application. If you want to change the tenure, you will have to start a new application."
                field-name="@(nameof(Model.Tenure))"
                available-options="@tenures"/>

        </gds-field-set>

        <gds-details>
            <gds-summary-details>What is tenure?</gds-summary-details>
            <gds-div-details-text>
                Tenure refers to the conditions around ownership or rental of the properties. For example, Shared Ownership or Social Rent. We provide more information on <a href=" https://www.gov.uk/guidance/apply-for-affordable-housing-funding" target="_blank">eligible tenure for affordable housing on our website.</a>
            </gds-div-details-text>
        </gds-details>

        <vc:form-button/>
    </form>

</gds-div-grid-column-two-thirds>
