@using HE.Investments.Common.Extensions
@model (string Name, string Street, string City, string PostalCode, string CompaniesHouseNumber)

<ul class="govuk-list">
    <li>
        <span class="govuk-body">
            <strong>@Model.Name</strong>
        </span>
        <br/>
        @if (Model.Street.IsProvided())
        {
            <span class="govuk-body">@Model.Street</span>
            <br/>
        }
        @if (Model.Street.IsProvided())
        {
            <span class="govuk-body">@Model.City</span>
            <br/>
        }
        @if (Model.Street.IsProvided())
        {
            <span class="govuk-body">@Model.PostalCode</span>
            <br/>
        }
        <p class="govuk-body govuk-!-margin-bottom-6">Companies house number: @Model.CompaniesHouseNumber</p>
    </li>
</ul>
