@using HE.Investments.Common.WWW.Models
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.WWW.Components.InputListHeader
@using HE.Investments.Common.WWW.Components.RadioListContent
@using HE.Investments.Common.WWW.Components

@model (string FieldName, string Title, InputTitleType TitleType, string Hint, IEnumerable<ExtendedSelectListItem> AvailableOptions, ExtendedSelectListItem AlternativeOption, string Value)

@{
    var (hasError, _) = ViewData.ModelState.GetErrors(Model.FieldName);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
}

<gds-div-form-group class="@groupClass">
    <gds-field-set>
        <vc:input-list-header
            title="@Model.Title"
            title-type="@Model.TitleType"
            hint="@Model.Hint"/>

        <vc:error-message field-name="@Model.FieldName"/>

        <div class="govuk-radios govuk-!-margin-bottom-6" data-module="govuk-radios">

            <vc:radio-list-content
                field-name="@Model.FieldName"
                available-options="@Model.AvailableOptions"
                value="@Model.Value"/>

            <p class="govuk-!-margin-top-4">Or</p>
            <div class="govuk-radios__item">
                @{
                    var orId = $"{Model.FieldName}-{Model.AlternativeOption.Value}";
                    var isSelected = Model.AlternativeOption.Selected || Model.Value == Model.AlternativeOption.Value;
                }
                @Html.RadioButton(Model.FieldName, Model.AlternativeOption.Value, isSelected, new { id = orId, @class = "govuk-radios__input" })
                <label class="govuk-label govuk-radios__label" for="@orId">@Model.AlternativeOption.Text</label>
                <he-div-hint class="govuk-!-padding-left-3">
                    @Model.AlternativeOption.Hint
                </he-div-hint>
            </div>
        </div>
    </gds-field-set>
</gds-div-form-group>
