@using HE.Investments.AHP.Allocation.Contract.Claims.Enum
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Helpers
@model (HE.Investments.AHP.Allocation.Contract.Claims.MilestoneClaim Claim, string ClaimMilestoneUrl)

<div class="govuk-summary-card govuk-!-margin-top-8 govuk-!-margin-bottom-8">
    <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-summary-card__title">@Model.Claim.Type.GetDescription()</h2>

        <ul class="govuk-summary-card__actions">
            <li class="govuk-summary-card__action">
                <vc:claim-status-tag claim-status="@Model.Claim.Status"/>
            </li>
        </ul>
    </div>
    <div class="govuk-summary-card__content">
        <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Amount of grant apportioned to this milestone</dt>
                <dd class="govuk-summary-list__value">@CurrencyHelper.DisplayPounds(Model.Claim.AmountOfGrantApportioned)</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Percentage of grant apportioned to this milestone</dt>
                <dd class="govuk-summary-list__value">@Model.Claim.PercentageOfGrantApportioned.ToWholePercentage()</dd>
            </div>

            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">Forecast claim date</dt>
                <dd class="govuk-summary-list__value">@DateHelper.DisplayAsUkFormatDate(Model.Claim.ForecastClaimDate)</dd>
            </div>
        </dl>
    </div>

    @if (!string.IsNullOrEmpty(Model.ClaimMilestoneUrl) && Model.Claim.Status.IsIn(MilestoneStatus.Due, MilestoneStatus.Overdue))
    {
        <div class="govuk-summary-card__title-wrapper">
            <strong>
                <a class="govuk-!-margin-bottom-0" href="@Model.ClaimMilestoneUrl">Claim milestone</a>
            </strong>
        </div>
    }
</div>
