@model HE.Investments.Loans.Contract.Funding.FundingViewModel
@using HE.Investments.Common.Gds
@using HE.Investments.Loans.Contract.Application.Helper
@using HE.Investments.Loans.Contract.Funding.Enums
@using HE.Investments.Loans.WWW.Views.FundingV2.Consts

<gds-div-grid-column-two-thirds>
    <form asp-controller="FundingV2" asp-action="CheckAnswersPost" asp-route-id="@Model.LoanApplicationId" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back", "FundingV2", new { id = Model.LoanApplicationId, currentPage = FundingState.CheckAnswers })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null"/>

        <gds-h1 size="ControlSize.L">
            @(ApplicationStatusDivision.GetAllStatusesAfterSubmit().Contains(Model.LoanApplicationStatus) ? @FundingPageTitles.ReadOnlyAnswers : @FundingPageTitles.CheckAnswers)
        </gds-h1>

        <partial name="Sections/_ReadOnlyAdditionalInformation" model="Model"/>

        @await Html.PartialAsync("_FundingAnswers", Model)

        <partial name="Sections/_HaveYouCompletedThisSection" model="Model"/>

    </form>
</gds-div-grid-column-two-thirds>
