@model HE.Investments.Loans.Contract.Funding.FundingViewModel
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.Contract.Funding
@using HE.Investments.Loans.Contract.Funding.Enums
@using HE.Investments.Loans.WWW.Extensions
@using HE.Investments.Loans.WWW.Models
@using HE.Investments.Loans.WWW.Views.FundingV2.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@inject ModelExpressionProvider modelProvider
@{
    var refinanceInfoName = modelProvider.GetExpressionText((FundingViewModel x) => x.RefinanceInfo);

    var ids = new string[] { refinanceInfoName };
    var labels = new string[] { "Tell us more about your refinance exit strategy." };
    var names = new string[] { refinanceInfoName };
    var values = new string[] { Model.RefinanceInfo };

    var refinanceName = modelProvider.GetExpressionText((FundingViewModel x) => x.Refinance);

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(refinanceName);
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(refinanceInfoName);
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="FundingV2" asp-action="RepaymentSystemPost" asp-route-id="@Model.LoanApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back","FundingV2", new {id = Model.LoanApplicationId, currentPage = FundingState.Refinance})" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    <partial name="_ErrorSummaryPartial" model="null" />
    <gds-field-set>
        <gds-div-form-group invalid="radioInvalid">
            <gds-legend size="ControlSize.L">
                <gds-fieldset-heading>
                    @FundingPageTitles.RepaymentSystem
                </gds-fieldset-heading>
            </gds-legend>
            @if (radioInvalid)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @radioErrors
                </p>
            }
            <gds-custom-radio
                id="refinance"
                asp-for="Refinance"
                value="@Model.Refinance"
                radio-items="TemporaryFormOptions.LoanResolution"
                conditional-input-ids="@ids"
                conditional-input-labels="@labels"
                conditional-input-names="@names"
                conditional-input-values="@values"
                class="govuk-!-margin-bottom-8"
                is-conditional-input-invalid="conditionalInputInvalid"
                conditional-input-error="@inputErrors">
            </gds-custom-radio>
        </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")" id="continue-button">
            Continue
        </button>
    </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.RadioConditionalInputScriptFor(refinanceName, 2);
