@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider

@{
    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Funding.GrossDevelopmentValue));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Funding" asp-action="WorkflowPost" asp-route-id="@Model.ID"  asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Funding", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <gds-label-wrapper>
                    <gds-label size="@ControlSize.L" for="Funding.GrossDevelopmentValue">
                        What is the estimated Gross Development Value (GDV) of this project?
                    </gds-label>
                </gds-label-wrapper>

                <gds-input-wrapper class="govuk-!-margin-bottom-8">
                    <gds-input asp-prefixtext="GdsInputPrefixText.Pounds"
                               class="govuk-input--width-5"
                               govuk-formgroup-asp-for="Funding.GrossDevelopmentValue"
                               value="@Model.Funding.GrossDevelopmentValue"
                               type="number"
                               asp-excludelabel/>
                </gds-input-wrapper>
            </gds-div-form-group>
            <gds-details-summary label="Gross Development Value (GDV)">
                Gross Development Value (GDV) is the estimated value that a property or new development would fetch on the open market if it were to be sold in the current economic climate.
            </gds-details-summary>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Funding.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
