@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider
@{
    var refinanceInfoName = modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Funding.RefinanceInfo);
    
    var ids = new string[] { refinanceInfoName };
    var labels = new string[] { "Tell us more about your refinance exit strategy." };
    var names = new string[] { refinanceInfoName };
    var values = new string[] { Model.Funding.RefinanceInfo };

    var refinanceName = modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Funding.Refinance);

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(refinanceName);
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(refinanceInfoName);
}

<gds-div-grid-column-two-thirds>
<form asp-controller="Funding" asp-action="WorkflowPost" asp-route-id="@Model.ID"  asp-method="post" novalidate>
    <gds-back-link href="@Url.Action("GoBack","Funding", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    <partial name="_ErrorSummaryPartial" model="null" />
    <gds-field-set>
        <gds-div-form-group invalid="radioInvalid">
            <gds-legend class="govuk-fieldset__legend--l">
                Are you going to refinance or repay this Homes England loan?

            </gds-legend>
            @if (radioInvalid)
            {
                <p class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span> @radioErrors
                </p>
            }
            <gds-custom-radio
                id="refinance"
                asp-for="Funding.Refinance"
                value="@Model.Funding.Refinance"
                radio-items="TemporaryFormOptions.LoanResolution"
                conditional-input-ids="@ids"
                conditional-input-labels="@labels"
                conditional-input-names="@names"
                conditional-input-values="@values"
                class="govuk-!-margin-bottom-8"
                is-conditional-input-invalid="conditionalInputInvalid"
                conditional-input-error="@inputErrors">
            </gds-custom-radio>
        </gds-div-form-group>
        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Funding.StateChanged?"Change":"Continue")">
            Continue
        </button>
    </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.RadioConditionalInputScriptFor(refinanceName, 2);