@model HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel
@inject ModelExpressionProvider modelProvider

@{


    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(modelProvider.GetExpressionText((HE.InvestmentLoans.BusinessLogic.ViewModel.LoanApplicationViewModel x) => x.Funding.TotalCosts));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Funding" asp-action="WorkflowPost" asp-route-id="@Model.ID"  asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("GoBack","Funding", new {id = Model.ID})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <gds-legend class="govuk-fieldset__legend--l">
                    What are the estimated total costs of this project?
                </gds-legend>

                <gds-div-hint>
                    Include land cost, acquisition costs, contingencies, professional fees and total construction costs.
                </gds-div-hint>

                <gds-input-wrapper class="govuk-!-margin-bottom-8">
                    <gds-input asp-prefixtext="GdsInputPrefixText.Pounds"
                               class="govuk-input--width-5"
                               govuk-formgroup-asp-for="Funding.TotalCosts"
                               value="@Model.Funding.TotalCosts"
                               type="number" />
                </gds-input-wrapper>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.Funding.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
