@using HE.Investments.Common.WWW.Components.SectionSummary;
@using HE.Investments.Common.WWW.Components.SectionSummaryItem
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Summary
@using HE.Investments.Common.WWW.Components.ErrorMessage
@model (string Title, IList<SectionSummaryItemModel> Items, string Name, bool HasError)
@{
    var formGroupClass = "govuk-form-group " + (Model.HasError ? "govuk-form-group--error" : string.Empty);
    var sectionId = string.IsNullOrEmpty(Model.Name) ? Guid.NewGuid().ToString() : Model.Name;
}

<div id="@sectionId" class="@formGroupClass">
    @if (!string.IsNullOrEmpty(Model.Title))
    {
        <gds-h2>@Model.Title</gds-h2>
    }

    <vc:error-message field-name="@Model.Name" />

    <gds-summary-list class="govuk-!-margin-bottom-9">
        @foreach (var item in Model.Items)
        {
            <vc:section-summary-item
                name="@item.Name"
                values="@item.Values"
                action-url="@item.ActionUrl"
                files="@item.Files"
                is-editable="@item.IsEditable"
                is-visible="@item.IsVisible"/>
        }
    </gds-summary-list>
</div>
