@using HE.Investments.Common.WWW.Models
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.WWW.Components.RadioListHeader
@model (string title, string hint, ModelExpression field, IEnumerable<SelectListItem> availableOptions, SelectListItem alternativeOption)

@{
    var (hasError, checkboxErrors) = ViewData.ModelState.GetErrors(Model.field.Name);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
}

<gds-div-form-group class="@groupClass">
    <gds-field-set>
        <vc:radio-list-header title="@Model.title"
                              hint="@Model.hint" />

        <vc:error-message field-name="@Model.field.Name" />

        <gds-field-set class="govuk-!-margin-bottom-6">

            <span class="govuk-caption-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">Select all that apply.</span>
            <div id='available-option-form-group' class='govuk-form-group '>
                <div class="exclusive-checkbox-group">

                    @foreach (var option in Model.availableOptions)
                    {
                        <div class="govuk-checkboxes__item">
                            <input id="@Model.field.Name-@option.Value" type="checkbox" checked="@option.Selected" class="govuk-checkboxes__input" value="@option.Value" name="@Model.field.Name" />
                            <label class="govuk-label govuk-checkboxes__label" for="@Model.field.Name-@option.Value">@option.Text</label>
                        </div>
                    }
                </div>
            </div>

            <p>Or</p>

            <div id='alternative-option-form-group' class='govuk-form-group '>
                <div class="exclusive-checkbox-group--exclusive-option">
                    <div class="govuk-checkboxes__item">
                        <input id="@Model.field.Name-@Model.alternativeOption.Value" type="checkbox" checked="@Model.alternativeOption.Selected" class="govuk-checkboxes__input" value="NoneOfTheAbove" name="@Model.field.Name" />
                        <label class="govuk-label govuk-checkboxes__label" for="@Model.field.Name-@Model.alternativeOption.Value">@Model.alternativeOption.Text</label>
                    </div>
                </div>
            </div>
        </gds-field-set>
    </gds-field-set>
</gds-div-form-group>
