@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investment.AHP.WWW.Views.Scheme.Const;
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.TextAreaInputWithCounter
@using HE.Investments.Common.WWW.Extensions;
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = SchemeInformationPageTitles.Affordability;
    ViewData["Title"] = title;
    ViewBag.validationErrors = ViewData.ModelState.GetOrderedErrors(SchemeValidationFieldsOrder.Affordability);
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SchemeWorkflowState.Affordability"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="Affordability" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <vc:text-area-input-with-counter
            field-name="@nameof(Model.AffordabilityEvidence)"
            title="Tell us about any evidence and analysis you have that the homes will be affordable to the target market"
            value="@Model.AffordabilityEvidence"/>

        <vc:form-button/>
        <vc:return-to-application-link application-id="@Model.ApplicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
