@using HE.Investments.Common.WWW.Components.SectionSummary;
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investments.Common.WWW.Models
@using HE.Investment.AHP.Contract.Common.Enums
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeSummaryViewModel

@{
    var title = "Check your answers before adding scheme information";
    ViewData["Title"] = title;
    var values = CommonFormOptions.IsSectionCompleted
        .Select(r => new ExtendedSelectListItem(
            r.Text,
            r.Value == IsSectionCompleted.Yes.ToString() ? "true" : "false",
            r.Value == IsSectionCompleted.Yes.ToString() && Model.IsCompleted != null && Model.IsCompleted.Value))
        .ToList();
}

<div class="govuk-grid-column-three-quarters">
    @if (Model.IsReadOnly)
    {
        <gds-back-link href="@Url.Action("TaskList", "Application", new { applicationId = Model.ApplicationId })" class="govuk-!-margin-bottom-8"></gds-back-link>
    }
    else
    {
        <vc:workflow-back-button action="@SchemeWorkflowState.CheckAnswers.ToString()"/>
    }

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:form-header caption="@Model.ApplicationName" title="@title"/>
    <vc:section-summary title="@Model.Section.Title" items="@Model.Section.Items"/>

    <form asp-controller="Scheme" asp-action="Complete" asp-route-applicationId="@Model.ApplicationId" asp-method="post" novalidate hidden="@Model.IsReadOnly">
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.IsReadOnly)
        <gds-field-set role="group">
            <vc:radio-list field-name="@(nameof(Model.IsCompleted))"
                           title="Have you completed this section?"
                           available-options="@values"/>
        </gds-field-set>
        <vc:form-button/>
        <div>
            <vc:return-to-application-link application-id="@Model.ApplicationId" is-editable="@Model.IsEditable"/>
        </div>
    </form>
</div>
