@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@using HE.Investment.AHP.Domain.Scheme.Workflows
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Funding details";
    ViewData["Title"] = title;
}
<gds-div-grid-column-two-thirds>
    <vc:workflow-back-button action="@SchemeWorkflowState.Funding.ToString()"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="Funding" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <gds-field-set role="group">
            <he-error-form-group asp-for="RequiredFunding">
            <vc:form-field-title
                field-name="RequiredFunding"
                title="Enter how much AHP CME 21-26 funding you require on this scheme"/>
            <gds-input-wrapper class="govuk-!-margin-bottom-6">
                <gds-input asp-prefixtext="GdsInputPrefixText.Pounds"
                           class="govuk-input--width-10"
                           govuk-formgroup-asp-for="RequiredFunding"
                           value="@Model.RequiredFunding"
                           asp-excludelabel
                           type="text"/>
            </gds-input-wrapper>
            </he-error-form-group>

            <he-error-form-group asp-for="HousesToDeliver">
            <vc:form-field-title
                field-name="HousesToDeliver"
                title="Enter how many homes you intend to deliver"/>
            <gds-input-wrapper class="govuk-!-margin-bottom-6">
                <gds-input
                    class="govuk-input--width-5"
                    govuk-formgroup-asp-for="HousesToDeliver"
                    value="@Model.HousesToDeliver"
                    asp-excludelabel
                    type="text"/>
            </gds-input-wrapper>
            </he-error-form-group>
        </gds-field-set>

        <vc:form-button/>
    </form>
    <vc:return-to-application-link application-id="@Model.ApplicationId"/>
</gds-div-grid-column-two-thirds>
