@using HE.Investment.AHP.WWW.Views.Scheme.Const;
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.NumericTextInput
@using HE.Investment.AHP.Contract.Scheme
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = SchemeInformationPageTitles.FundingDetails;
    ViewData["Title"] = title;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SchemeWorkflowState.Funding"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="Funding" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:page-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <vc:numeric-text-input field-name="@nameof(Model.RequiredFunding)"
                               value="@Model.RequiredFunding"
                               label="Enter how much AHP CME 21-26 funding you require on this scheme"
                               prefix="£"
                               css-class="govuk-input--width-10"/>

        <vc:numeric-text-input field-name="@nameof(Model.HousesToDeliver)"
                               value="@Model.HousesToDeliver"
                               label="Enter how many homes you intend to deliver"
                               css-class="govuk-input--width-5"/>

        <vc:form-button/>
        <vc:return-to-application-link application-id="@Model.ApplicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
