@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investment.AHP.WWW.Views.Scheme.Const;
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@using HE.Investments.Common.WWW.Extensions;
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Local housing needs";
    ViewData["Title"] = title;
    ViewBag.validationErrors = ViewData.ModelState.GetOrderedErrors(SchemeValidationFieldsOrder.HousingNeeds);
}

<gds-div-grid-column-two-thirds>
    <vc:workflow-back-button action="@SchemeWorkflowState.HousingNeeds.ToString()"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="HousingNeeds" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <vc:text-area-input-with-counter
            field-name="@nameof(Model.MeetingLocalPriorities)"
            title="Tell us how this type and tenure of home meets the identified priorities for the local housing market"
            value="@Model.MeetingLocalPriorities"/>
        <vc:text-area-input-with-counter
            field-name="@nameof(Model.MeetingLocalHousingNeed)"
            title="Tell us how this scheme and proposal contributes to a locally identified housing need"
            value="@Model.MeetingLocalHousingNeed"/>
        <vc:form-button/>
        <vc:return-to-application-link application-id="@Model.ApplicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
