@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Sales risk of Shared Ownership";
    ViewData["Title"] = title;
}

<gds-div-grid-column-two-thirds>
    <vc:workflow-back-button action="@SchemeWorkflowState.SalesRisk.ToString()" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="SalesRisk" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title"/>
        @Html.HiddenFor(m => Model.ApplicationName)
        <gds-field-set role="group">

            <vc:text-area-input
                field-name="@nameof(Model.SalesRisk)"
                label="Tell us your assessment of the sales risk and how you will mitigate this"
                value="@Model.SalesRisk"/>

        </gds-field-set>
        <vc:form-button/>
    </form>
    <vc:return-to-application-link application-id="@Model.ApplicationId"/>
</gds-div-grid-column-two-thirds>
