@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormFieldTitle
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.UploadFile
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel

@{
    var title = "Local stakeholder discussions";
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-full">
    <vc:workflow-back-button action="@SchemeWorkflowState.StakeholderDiscussions.ToString()" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="StakeholderDiscussions" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" enctype="multipart/form-data" novalidate>
        <vc:form-header caption="@Model.ApplicationName" title="@title" />
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(x => x.AllowedExtensions)
        @Html.HiddenFor(x => x.MaxFileSizeInMegabytes)
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <gds-field-set role="group">
                <he-error-form-group asp-for="StakeholderDiscussionsReport">
                    <vc:text-area-input field-name="@nameof(Model.StakeholderDiscussionsReport)"
                                        label="Tell us about discussions you have had with local stakeholders"
                                        value="@Model.StakeholderDiscussionsReport" />
                </he-error-form-group>
                <he-error-form-group asp-for="StakeholderDiscussionFile">

                    <vc:upload-file title="Upload any evidence you have of Local Authority support (optional)"
                                    allowed-extensions="@Model.AllowedExtensions"
                                    field-name="StakeholderDiscussionFile"
                                    description="This could be any correspondence, including an email chain. We only require one document."
                                    max-file-size-in-mb="@Model.MaxFileSizeInMegabytes"
                                    is-hidden="@(Model.UploadedStakeholderDiscussionFiles != null && Model.UploadedStakeholderDiscussionFiles.Any())" />
                </he-error-form-group>
            </gds-field-set>
        </div>
        <div class="govuk-grid-column-full govuk-!-padding-left-0">
            <vc:files-table asp-for="@Model.UploadedStakeholderDiscussionFiles" />
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <vc:form-button />
            <div>
                <vc:return-to-application-link application-id="@Model.ApplicationId" />
            </div>
        </div>
    </form>
</div>
