@using HE.Investment.AHP.WWW.Views.Scheme.Const;
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FilesTable
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.TextAreaInputWithCounter
@using HE.Investments.Common.WWW.Components.UploadFile
@using HE.Investment.AHP.Contract.Scheme
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel

@{
    var title = SchemeInformationPageTitles.StakeholderDiscussions;
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-full">
    <vc:ahp-workflow-back-button current-page="@SchemeWorkflowState.StakeholderDiscussions"/>
    <form asp-controller="Scheme" asp-action="StakeholderDiscussions" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" enctype="multipart/form-data" novalidate>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
        </div>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(x => x.AllowedExtensions)
        @Html.HiddenFor(x => x.MaxFileSizeInMegabytes)
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <vc:form-header caption="@Model.ApplicationName" title="@title"/>
            <vc:text-area-input-with-counter
                field-name="@nameof(Model.StakeholderDiscussionsReport)"
                title="Tell us about discussions you have had with local stakeholders"
                value="@Model.StakeholderDiscussionsReport"/>

            <vc:upload-file title="Upload any evidence you have of Local Authority support (optional)"
                            allowed-extensions="@Model.AllowedExtensions"
                            field-name="LocalAuthoritySupportFile"
                            description="This could be any correspondence, including an email chain. We only require one document."
                            max-file-size-in-mb="@Model.MaxFileSizeInMegabytes"
                            is-hidden="@(Model.UploadedLocalAuthoritySupportFiles != null && Model.UploadedLocalAuthoritySupportFiles.Any())"/>
        </div>
        <div class="govuk-grid-column-full govuk-!-padding-left-0">
            <vc:files-table asp-for="@Model.UploadedLocalAuthoritySupportFiles"/>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-0">
            <vc:form-button/>
            <vc:return-to-application-link application-id="@Model.ApplicationId"/>
        </div>
    </form>
</div>
