@using HE.Investment.AHP.Domain.Scheme.Workflows
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.FormFieldTitle
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.UploadFile
@using HE.Investments.Common.WWW.Components.WorkflowBackButton
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeViewModel
@{
    var title = "Local stakeholder discussions";
    ViewData["Title"] = title;
}

<div class="govuk-grid-column-full">
    <vc:workflow-back-button action="@SchemeWorkflowState.StakeholderDiscussions.ToString()"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <form asp-controller="Scheme" asp-action="StakeholderDiscussions" asp-method="post" asp-route-redirect="@Context.Request.Query["redirect"]" enctype="multipart/form-data" novalidate>
        <gds-div-grid-column-two-thirds>
            <vc:form-header caption="@Model.ApplicationName" title="@title"/>
            @Html.HiddenFor(m => Model.ApplicationName)
            <gds-field-set role="group">
                <vc:form-field-title
                    field-name="StakeholderDiscussionsReport"
                    title="Tell us about discussions you have had with local stakeholders"/>
                <HeErrorFormGroup asp-for="StakeholderDiscussionsReport">
                    <he-text-area asp-for="StakeholderDiscussionsReport" rows="5" class="govuk-!-margin-bottom-2"></he-text-area>
                    <he-div-hint>
                        You can enter up to 1500 characters
                    </he-div-hint>
                </HeErrorFormGroup>
                <vc:upload-file
                    title="Upload any evidence you have of Local Authority support (optional)"
                    field-name="StakeholderDiscussionFile"
                    description="This could be any correspondence, including an email chain. We only require one document."
                    max-file-size-in-mb="20"
                    is-hidden="@(Model.UploadedStakeholderDiscussionFiles != null && Model.UploadedStakeholderDiscussionFiles.Any())"/>
            </gds-field-set>
        </gds-div-grid-column-two-thirds>
        <div class="govuk-grid-column-full">
            <vc:files-table asp-for="@Model.UploadedStakeholderDiscussionFiles"/>
            <vc:form-button/>
        </div>
    </form>
</div>
