@using HE.Investment.AHP.WWW.Models.Scheme
@using HE.Investments.Common.WWW.Extensions
@model HE.Investment.AHP.WWW.Models.Scheme.SchemeModel

@{
    ViewData["Title"] = "Scheme tenure";
    var hints = new[]
    {
        "Homes let at below market rent by a registered provider. The rent, including service charge, is set at up to 80% of the local market rent for an equivalent home.",
        "Social rent is low-cost rental social housing that is let at below market rent by a registered provider based on a formula set by the government.",
        "Shared Ownership allows a customer to purchase a share of a home and pay rent on the remaining share.",
        "Homes let to working households at a lower cost to give them the opportunity to save for a deposit to but their first home.",
        "HOLD is a form of Shared Ownership that enable providers to purchase homes on the open market that meet the specific requirements of the homeowner.",
        "OPSO is a form of Shared Ownership for people aged 55 and over.",
    };

    var (isTenureInvalid, tenureError) = ViewData.ModelState.GetErrors(nameof(SchemeModel.Tenure));
}
<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("Name", "Scheme", new { schemeId = Model.Id })" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <span class="govuk-caption-m">
        @Model.Name
    </span>
    <form asp-controller="Scheme" asp-action="Tenure" asp-method="post" novalidate>
        <gds-field-set role="group">
            <gds-div-form-group invalid="isTenureInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        What is the tenure of the homes on this scheme?
                    </gds-fieldset-heading>
                </gds-legend>

                <gds-details-summary label="What is tenure?">
                    Tenure refers to the conditions around ownership or rental of the properties. For example, Shared Ownership or Social Rent. We provide more information on eligible tenure for affordable housing on our website.
                </gds-details-summary>

                @Html.HiddenFor(m => m.Id)

                @if (isTenureInvalid)
                {
                    <span class="govuk-error-message" data-valmsg-for="Tenure">
                        <span class="govuk-visually-hidden">Error:</span>@tenureError
                    </span>
                }

                <gds-custom-radio
                    asp-for="Tenure"
                    value="@Model.Tenure"
                    radio-items="Tenures.AvailableTenures"
                    radio-hints="@hints"
                    class="govuk-!-margin-bottom-8">
                </gds-custom-radio>
            </gds-div-form-group>
        </gds-field-set>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" id="save-and-continue-button">
            Save and continue
        </button>
    </form>

</gds-div-grid-column-two-thirds>
