@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Components
@using HE.Investments.Loans.Contract.Projects
@using HE.Investments.Loans.WWW.Models
@using HE.Investments.Loans.WWW.Views.Project.Consts
@model HE.Investments.Loans.Contract.Projects.ViewModels.ProjectViewModel;

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="AdditionalDetails" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back", "Project", new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.Additional})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set role="group">
            <gds-div-form-group>
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        @ProjectPageTitles.AdditionalDetails
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-div-hint>
                    The land can include any buildings to be redeveloped or refurbished.
                </gds-div-hint>

                <div class="govuk-!-margin-bottom-6">
                    <vc:date-input
                        title="When was this land purchased?"
                        title-type="InputTitleType.SmallInputFieldsetLegend"
                        description="If you have purchased multiple areas of land, enter the most recent purchase date."
                        hint="For example, 27 3 2022"
                        field-name="@nameof(Model.PurchaseDate)"
                        value="@Model.PurchaseDate"/>
                </div>

                <gds-field-set class="govuk-!-margin-bottom-6" role="group">
                    <legend>
                        <gds-label for="Cost" size="ControlSize.S">
                            What was the purchase cost of the land?
                        </gds-label>
                    </legend>
                    <gds-div-hint>
                        If there are multiple land areas, include the combined purchase value.
                    </gds-div-hint>
                    <gds-div-hint>
                        If you do not know, enter the nearest estimate.
                    </gds-div-hint>
                    <gds-input govuk-formgroup-asp-for="Cost" type="text" asp-excludelabel
                               asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model?.Cost />
                </gds-field-set>

                <gds-field-set class="govuk-!-margin-bottom-6" role="group">
                    <legend>
                        <gds-label for="Value" size="ControlSize.S">
                            What is the current value of the land?
                        </gds-label>
                    </legend>
                    <gds-div-hint>
                        If you do not know, enter the nearest estimate.
                    </gds-div-hint>

                    <gds-input govuk-formgroup-asp-for="Value" type="text" asp-excludelabel
                               asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model?.Value />
                </gds-field-set>

                <gds-field-set class="govuk-!-margin-bottom-6" role="group">
                    <gds-legend size="ControlSize.S">
                        What is the source of this valuation?
                    </gds-legend>
                    <gds-radio govuk-formgroup-asp-for="Source" asp-isexcludeheader
                               asp-selectlistitems="FormOption.SiteAdditionalSource">
                    </gds-radio>
                </gds-field-set>
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>

        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
