@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.Contract.Projects
@using HE.Investments.Loans.Contract.Projects.ViewModels
@using HE.Investments.Loans.WWW.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@model HE.Investments.Loans.Contract.Projects.ViewModels.ProjectViewModel;

@{
    var id = ViewContext.RouteData.Values["id"];

    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(ProjectViewModel.PlanningPermissionStatus));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="PlanningPermissionStatus" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back", "Project", new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.PlanningPermissionStatus})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        What is the status of your planning permission application for this project?
                    </gds-fieldset-heading>
                </gds-legend>

                <gds-custom-radio
                    asp-for="PlanningPermissionStatus"
                    value="@Model.PlanningPermissionStatus"
                    radio-items="TemporaryFormOptions.PermissionStatus"
                >

                </gds-custom-radio>

            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
