@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.BusinessLogic.Projects.Consts
@using HE.Investments.Loans.WWW.Views.Project.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Input
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@model HE.Investments.Loans.Contract.Projects.ViewModels.ProjectViewModel;
@{
    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(ProjectValidationFieldNames.ProjectName);
}

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("TaskList", "LoanApplicationV2" , new {id = Model.ApplicationId})" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    <partial name="_ErrorSummaryPartial" model="null" />
    <form asp-controller="Project" asp-action="ProjectName" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
            <gds-div-form-group invalid="inputInvalid">
                <vc:page-header title="@ProjectPageTitles.Name"/>

                <gds-div-hint>
                    Each project needs a unique name.
                </gds-div-hint>

                <gds-input-wrapper class="govuk-!-margin-bottom-6">
                    <gds-input class="govuk-!-width-two-third"
                               asp-excludelabel
                               govuk-formgroup-asp-for="ProjectName"
                               value="@Model.ProjectName"
                               type="text" />
                </gds-input-wrapper>
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
