@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.Contract.Projects
@using HE.Investments.Loans.Contract.Projects.ViewModels
@using HE.Investments.Loans.WWW.Extensions
@using HE.Investments.Loans.WWW.Views.Project.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Input
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@model HE.Investments.Loans.Contract.Projects.ViewModels.ProjectViewModel;
@{
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(ProjectViewModel.HasEstimatedStartDate));
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(ProjectViewModel.EstimatedStartDay));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="StartDate" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back", "Project", new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.StartDate})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        @ProjectPageTitles.StartDate
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-div-hint class="govuk-!-margin-bottom-6">
                    This is the first ‘spade in ground’ date.
                </gds-div-hint>

                <div class="govuk-!-margin-bottom-8 govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.HasEstimatedStartDate,"Yes", new { @class="govuk-radios__input", id="HasEstimatedStartDate"})
                        <label class="govuk-label govuk-radios__label" for="HasEstimatedStartDate">Yes</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="HasEstimatedStartDate-conditional">
                        <gds-div-form-group invalid="conditionalInputInvalid">
                        <span class="govuk-label" for="EstimatedStartDate">Build start date</span>
                        <gds-div-hint class="govuk-!-margin-bottom-6">
                            For example, 12 11 2007
                        </gds-div-hint>
                        @if (conditionalInputInvalid)
                        {
                            <p id="EstimatedStartDay-error" class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @inputErrors
                            </p>
                        }
                        <gds-div-date-input id="EstimatedStartDate">
                            <GdsDivDateInputItemTagHelper>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartDay" name="EstimatedStartDay"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Day"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-2" />
                            </GdsDivDateInputItemTagHelper>
                            <GdsDivDateInputItemTagHelper>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartMonth" name="EstimatedStartMonth"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-hiddenlabeltext=""
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Month"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-2" />
                            </GdsDivDateInputItemTagHelper>
                            <GdsDivDateInputItemTagHelper>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartYear" name="EstimatedStartYear"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-hiddenlabeltext=""
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Year"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-4" />
                            </GdsDivDateInputItemTagHelper>
                        </gds-div-date-input>
                        </gds-div-form-group>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.HasEstimatedStartDate,"No", new { @class="govuk-radios__input", id="HasEstimatedStartDate-1"})
                        <label class="govuk-label govuk-radios__label" for="HasEstimatedStartDate-1">No, I do not have a build start date yet</label>
                    </div>
                </div>

            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">Continue</button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.YesNoConditionalInputScript(nameof(Model.HasEstimatedStartDate))
