@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Loans.Contract.Projects
@using HE.Investments.Loans.WWW.Extensions
@using HE.Investments.Loans.WWW.Models
@using HE.Investments.Loans.WWW.Views.Project.Consts
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Fieldset
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Input
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Legend
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Checkboxes

@model HE.Investments.Loans.Contract.Projects.ViewModels.ProjectViewModel;
@{

    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors("TypeHomes");
    var (conditionalInputInvalid, conditionalInputErrors) = @ViewData.ModelState.GetErrors("TypeHomesOther");
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="TypeHomes" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back","Project",  new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.TypeHomes})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        @ProjectPageTitles.TypeHomes
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-div-hint>
                    Select all that apply.
                </gds-div-hint>

                <gds-checkbox govuk-formgroup-asp-for="@Model.HomeTypes"
                              asp-selectlistitems="FormOption.SiteTypeHomesCheckbox"
                              asp-haschildcheckboxs="false"
                              asp-ischeckboxgroup="true"
                              asp-isexcludeheader="true"
                              asp-excludelabel="true"
                              asp-condtionalprimaryindexes="4">

                    <gds-div-form-group>
                        <gds-input title="Other" govuk-formgroup-asp-for="@Model.OtherHomeTypes" class="govuk-!-width-two-third" type="text" value=@Model?.OtherHomeTypes asp-excludelabel/>
                    </gds-div-form-group>
                </gds-checkbox>

                <gds-div-inset-text>
                    Generally, Homes England do not support the building of leasehold houses.
                </gds-div-inset-text>
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.CheckboxConditionalInputScript(
    ("HomeTypes-4", "conditional-HomeTypes-4")
)
