@using HE.Investments.Account.WWW.Views.Organisation
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioYesNo
@using Microsoft.AspNetCore.Html
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HE.Investments.Common.WWW.Models.ConfirmModel<HE.Investments.Account.Contract.Organisation.Queries.OrganisationBasicDetails>
@{
    ViewData["Title"] = OrganisationPageTitles.ConfirmYourSelection;
    var organisationInformation = new HtmlString(
            "<ul class=\"govuk-list\">" +
            "<li>" +
            "<span class=\"govuk-body\">" +
            $"<strong>{Model.ViewModel.Name}</strong>" +
            "</span>" +
            "<br/>" +
            (Model.ViewModel.Street.IsProvided() ? $"<span class=\"govuk-body\">{Model.ViewModel.Street}</span><br/>" : "") +
            (Model.ViewModel.City.IsProvided() ? $"<span class=\"govuk-body\">{Model.ViewModel.City}</span><br/>" : "") +
            (Model.ViewModel.PostalCode.IsProvided() ? $"<span class=\"govuk-body\">{Model.ViewModel.PostalCode}</span><br/>" : "") +
            $"<p class=\"govuk-body govuk-!-margin-bottom-6\">Companies house number: {Model.ViewModel.CompaniesHouseNumber}</p>" +
            "</li>" +
            "</ul>"
        );
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("SearchOrganisationResult", "Organisation", new { searchPhrase = Model.SearchPhrase })"></gds-back-link>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Organisation" asp-action="ConfirmOrganisationPost" asp-route-organisationNumberOrId=@(Model.ViewModel.OrganisationId ?? Model.ViewModel.CompaniesHouseNumber) asp-route-searchphrase=@(Model.SearchPhrase) asp-method="post" novalidate>

        <vc:radio-yes-no
            title="@OrganisationPageTitles.ConfirmYourSelection"
            title-type="InputTitleType.PageHeader"
            optional-content="@(IHtmlContent)organisationInformation"
            field-name="@nameof(Model.IsConfirmed)"
            value="@Model.IsConfirmed"/>

        <vc:form-button/>
    </form>
</gds-div-grid-column-two-thirds>
