@using HE.Investments.Account.WWW.Views.Organisation
@model HE.Investments.Account.Contract.Organisation.OrganisationDetailsViewModel
@{
    ViewData["Title"] = OrganisationPageTitles.CreateOrganisation;
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("SearchOrganisation", "Organisation")"></gds-back-link>

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Organisation" asp-action="CreateOrganisation" asp-method="post" novalidate>
        <vc:page-header title="@OrganisationPageTitles.CreateOrganisation"/>

        <gds-p>
            This may mean you have not yet established your organisation, or we could not find it in our initial search.
        </gds-p>

        <vc:text-input
            title="@OrganisationPageTitles.OrganisationName"
            title-type="InputTitleType.InputTitle"
            hint="Enter your organisation name as it would appear on Companies House or any legal document."
            field-name="@nameof(Model.Name)"
            value="@Model.Name"/>

        <gds-field-set role="group">
            <gds-h2>
                @OrganisationPageTitles.OrganisationAddress
            </gds-h2>
            <he-div-hint>
                If you have not yet registered your organisation, enter your intended details below.
            </he-div-hint>

            <vc:text-input
                title="Address line 1"
                title-type="InputTitleType.InputDescription"
                field-name="@nameof(Model.AddressLine1)"
                value="@Model.AddressLine1"/>

            <vc:text-input
                title="Address line 2 (optional)"
                title-type="InputTitleType.InputDescription"
                field-name="@nameof(Model.AddressLine2)"
                value="@Model.AddressLine2"/>

            <vc:text-input
                title="Town or city"
                title-type="InputTitleType.InputDescription"
                field-name="@nameof(Model.TownOrCity)"
                value="@Model.TownOrCity"/>


            <vc:text-input
                title="County (optional)"
                title-type="InputTitleType.InputDescription"
                field-name="@nameof(Model.County)"
                value="@Model.County"/>

            <vc:text-input
                title="Postcode"
                title-type="InputTitleType.InputDescription"
                field-name="@nameof(Model.Postcode)"
                css-class="govuk-!-width-one-half"
                value="@Model.Postcode"/>

        </gds-field-set>

        <vc:form-button/>
    </form>

</gds-div-grid-column-two-thirds>
