@using HE.Investments.Account.WWW.Controllers
@using HE.Investments.Account.WWW.Views.Organisation
@using HE.Investments.Common.WWW.Utils
@using HE.Investments.Common.WWW.Components.TextInput;
@using HE.Investments.Account.Shared
@inject IAccountUserContext AccountUserContext
@model HE.Investments.Account.Contract.Organisation.Queries.OrganisationSearchModel;
@{
    ViewData["Title"] = OrganisationPageTitles.SearchForYourOrganisation;
    var controllerName = new ControllerName(nameof(OrganisationController));
    var isLinkedWithOrganisation = await AccountUserContext.IsLinkedWithOrganisation();
}

<gds-div-grid-column-two-thirds>
    @if (isLinkedWithOrganisation)
    {
        <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("Index", "UserOrganisation")"></gds-back-link>
    }

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <gds-h1 size="ControlSize.L">
        @OrganisationPageTitles.SearchForYourOrganisation
    </gds-h1>

    <gds-p>
        We will search our Customer Relationship Management (CRM) system and Companies House.
    </gds-p>

    <gds-p>
        If you are bidding for a grant from the Affordable Homes Programme, the organisation should have or will have a secure legal interest in the land during the development.
    </gds-p>

    <gds-p>
        If you’ve not yet established your organisation, or you’ll set up a special purpose vehicle (SPV), you can <gds-link href="@Url.Action("CreateOrganisation", "Organisation")">enter details manually</gds-link>.
    </gds-p>

    <form asp-controller="@controllerName.WithoutPrefix()" asp-action="@nameof(OrganisationController.SearchOrganisation)" asp-method="post" novalidate>
        <vc:text-input title="Organisation name"
                       title-type="InputTitleType.InputTitle"
                       hint="Enter all or part of your organisation name."
                       field-name="@nameof(Model.Name)"/>

        <vc:form-button text="Search"/>
    </form>

</gds-div-grid-column-two-thirds>
