@using HE.Investments.Account.WWW.Controllers
@using HE.Investments.Account.WWW.Views.Organisation
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Utils
@model HE.Investments.Account.Contract.Organisation.Queries.OrganisationSearchModel;
@{
    ViewData["Title"] = "Organization Search";

    var controllerName = new ControllerName(nameof(OrganisationController));
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("GetProfileDetails", "User")">Back</gds-back-link>

    <gds-h1 size="ControlSize.L">
        @OrganizationPageTitles.SearchForYourOrganisation
    </gds-h1>

    <gds-p>
        You can search for your organisation below.
    </gds-p>

    <gds-p>
        If you've not yet established your organisation, or you'll set up a special purpose vehicle (SPV), you can select <gds-link href="@Url.Action("CreateOrganisation", "Organisation")">enter details manually</gds-link>.
    </gds-p>

    <gds-p>
        If you intend to bid for a grant from the Affordable Homes Programme, the organisation should have or will have a secure legal interest in the land during the development.
    </gds-p>

    <form asp-controller="@controllerName.WithoutPrefix()" asp-action="@nameof(OrganisationController.SearchOrganization)" asp-method="post" novalidate>
        <gds-h1 size="@ControlSize.M" class="govuk-!-margin-top-9">
            What is your organisation name?
        </gds-h1>

        <gds-div-hint class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            Enter all or part of your organisation name. This will search on our Customer Relationship Management (CRM) system and Companies House.
        </gds-div-hint>

        <gds-input asp-hiddenlabeltext="Name"
                   govuk-formgroup-asp-for="Name"
                   type="text" />

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" id="search-organization-button">
            Search
        </button>
    </form>

    <gds-p>
        <gds-link href="@Url.Action("CreateOrganisation", "Organisation")">
            Enter details manually.
        </gds-link>
    </gds-p>

</gds-div-grid-column-two-thirds>
