@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.AffordableHomes));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="AffordableHomes" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-label-wrapper>
                    <gds-label size="@ControlSize.L" for="Funding.GrossDevelopmentValue">
                        Is your project made up of more than 50% affordable housing?
                    </gds-label>
                </gds-label-wrapper>
                <gds-div-hint class="govuk-!-margin-bottom-6">
                    Affordable homes are properties provided at a cost below market levels. If your site contains no affordable
                    homes, this will not affect your application. You'll be able to discuss this with your transaction manager at a later stage.
                </gds-div-hint>

                <gds-radio-yes-no asp-for="AffordableHomes" class="govuk-!-margin-bottom-6"></gds-radio-yes-no>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>