@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.ChargesDebt));
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.ChargesDebtInfo));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="ChargesDebt" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend class="govuk-fieldset__legend--l">
                    To the best of your knowledge, are there any legal charges outstanding or debt secured on this development site?
                </gds-legend>

                <gds-div-hint class="govuk-!-margin-bottom-6">
                    There may be a legal charge over the development site as security for funding any development activity or land purchase.
                    Do not include any debentures.
                </gds-div-hint>

                <gds-radio-yes-no asp-for="ChargesDebt"
                                  inner-input-for="ChargesDebtInfo"
                                  with-yes-input
                                  inner-input-text="Tell us more about any existing legal charges or debt secured on this land."
                                  inner-input-value="@Model.ChargesDebtInfo"
                                  class="govuk-!-margin-bottom-8"
                                  is-conditional-input-invalid="conditionalInputInvalid"
                                  conditional-input-error="@inputErrors"
                                  value="@Model.ChargesDebt">
                </gds-radio-yes-no>

                <gds-details-summary label="Help with debentures">
                    A debenture is a legal document that provides loan security to the lender. It is a written agreement between a lender and a borrower which is registered at Companies House.
                    It gives the lender security over the company's assets by securing those assets for the lender should the company default or become insolvent.
                </gds-details-summary>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>


    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.YesNoConditionalInputScript(nameof(Model.ChargesDebt))