@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="CheckPlanning" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <gds-field-set>
            <legend>
                <gds-h1 size="@ControlSize.L">
                        Planning details
                </gds-h1>
            </legend>

            <gds-summary-list class="govuk-!-margin-bottom-9">
                <gds-summary-list-row-v2>
                    <gds-summary-list-key-v2>
                        Location
                    </gds-summary-list-key-v2>
                    <gds-summary-list-value-v2>
                        @Model?.Location
                    </gds-summary-list-value-v2>
                </gds-summary-list-row-v2>
                <gds-summary-list-row-v2>
                    <gds-summary-list-key-v2>
                        Planning status
                    </gds-summary-list-key-v2>
                    <gds-summary-list-value-v2>
                        @Model?.PlanningStatus
                    </gds-summary-list-value-v2>
                </gds-summary-list-row-v2>
            </gds-summary-list>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>