@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];

    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.GrantFunding));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="GrantFunding" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <gds-label-wrapper>
                    <gds-label size="@ControlSize.L" for="Funding.GrossDevelopmentValue">
                        To the best of your knowledge, has this site received public sector grant funding?
                    </gds-label>
                </gds-label-wrapper>
                <gds-div-hint>
                    This could include any previous Homes England funding.
                </gds-div-hint>

                <div class="govuk-!-margin-bottom-6 govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.GrantFunding,"Yes", new { @class="govuk-radios__input", id="GrantFunding"} )
                        <label class="govuk-label govuk-radios__label" for="GrantFunding">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.GrantFunding,"No", new { @class="govuk-radios__input", id="GrantFunding-1"} )
                        <label class="govuk-label govuk-radios__label" for="GrantFunding-1">No</label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.GrantFunding,"doNotKnow", new { @class="govuk-radios__input", id="GrantFunding-2"} )
                        <label class="govuk-label govuk-radios__label" for="GrantFunding-2">Do not know</label>
                    </div>
                </div>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>