@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@inject ModelExpressionProvider modelProvider;
@{
    var id = ViewContext.RouteData.Values["id"];

    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.LocationOption));
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(
        Model.LocationOption == "coordinates" ?
        nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.LocationCoordinates) :
        nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.LocationLandRegistry)
    );

    var values = new string[] { Model.LocationCoordinates, Model.LocationLandRegistry };
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="Location" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        How do you want to provide your project location?
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-custom-radio asp-for="LocationOption"
                                  radio-items="TemporaryFormOptions.SiteLocation"
                                  id="location"
                                  value="@Model.LocationOption"
                                  conditional-input-ids=TemporaryFormOptions.LocationDetailsNames
                                  conditional-input-labels=TemporaryFormOptions.LocationDescription
                                  conditional-input-values="@values"
                                  conditional-input-names=TemporaryFormOptions.LocationDetailsNames
                                  conditional-input-error="@inputErrors"
                                  is-conditional-input-invalid="@conditionalInputInvalid">
                </gds-custom-radio>
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>
    </form>
    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.RadioConditionalInputScript(
    ("LocationOption", "LocationOption-conditional"),
    ("LocationOption-1", "LocationOption-1-conditional")
)
