@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];

    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.PlanningRefEnter));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="PlanningRefEnter" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <legend>
                    <gds-label-wrapper>
                        <gds-label size="@ControlSize.L" for="PlanningRefEnter">
                            What is your planning reference number?
                        </gds-label>
                    </gds-label-wrapper>
                </legend>
                <gds-div-hint>
                    A typical planning reference number is formatted: YY/REF/TYPE. For example, 23/1234/FULL.
                </gds-div-hint>

                <gds-input asp-excludelabel govuk-formgroup-asp-for="PlanningRefEnter" class="govuk-!-margin-bottom-6" type="text" value=@Model?.PlanningRefEnter />
            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>