@model HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.HasEstimatedStartDate));
    var (conditionalInputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.EstimatedStartDay));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Site" asp-action="Workflow" asp-route-id="@id" asp-route-site="@Model.Id" asp-route-ending="ChargesDebt" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site", new {site=Model.Id, id = id })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        Do you have an estimated build start date for this project?
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-div-hint class="govuk-!-margin-bottom-6">
                    This is the first ‘spade in ground’ date.
                </gds-div-hint>

                <div class="govuk-!-margin-bottom-8 govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.HasEstimatedStartDate,"Yes", new { @class="govuk-radios__input", id="HasEstimatedStartDate"})
                        <label class="govuk-label govuk-radios__label" for="HasEstimatedStartDate">Yes</label>
                    </div>

                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="HasEstimatedStartDate-conditional">
                        <gds-div-form-group invalid="conditionalInputInvalid">
                        <label class="govuk-label" for="EstimatedStartDate">Build start date</label>
                        <gds-div-hint class="govuk-!-margin-bottom-6">
                            For example, 12 11 2007
                        </gds-div-hint>
                        @if (conditionalInputInvalid)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> @inputErrors
                            </p>
                        }
                        <gds-div-date-input id="EstimatedStartDate">
                            <gds-div-date-input-item>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartDay" name="EstimatedStartDay"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Day"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-2" />
                            </gds-div-date-input-item>
                            <gds-div-date-input-item>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartMonth" name="EstimatedStartMonth"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-hiddenlabeltext=""
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Month"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-2" />
                            </gds-div-date-input-item>
                            <gds-div-date-input-item>
                                    <gds-input govuk-formgroup-asp-for="EstimatedStartYear" name="EstimatedStartYear"
                                           type="text"
                                           asp-autocomplete="on"
                                           asp-hiddenlabeltext=""
                                           asp-labelclass="govuk-date-input__label"
                                           asp-excludefieldvalidation="true"
                                           asp-labeltext="Year"
                                           is-invalid=conditionalInputInvalid
                                           pattern="[0-9]*" inputmode="numeric" class="govuk-date-input__input govuk-input--width-4" />
                            </gds-div-date-input-item>
                        </gds-div-date-input>
                        </gds-div-form-group>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.HasEstimatedStartDate,"No", new { @class="govuk-radios__input", id="HasEstimatedStartDate-1"})
                        <label class="govuk-label govuk-radios__label" for="HasEstimatedStartDate-1">No, I do not have a build start date yet</label>
                    </div>
                </div>

            </gds-div-form-group>
            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@(Model.StateChanged?"Change":"Continue")">Continue</button>
        </gds-field-set>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>

@await Html.YesNoConditionalInputScript(nameof(Model.HasEstimatedStartDate))