@using HE.Investments.Common.WWW.Helpers
@using HE.Investments.Common.WWW.Models
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links

@model (string FieldName, IList<HE.Investments.Common.WWW.Models.FileModel> Files, bool IsReadOnly)

<table class="govuk-table files-table">
    <thead class="govuk-!-display-none">
    <tr>
        <th>files</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body files-table-body">
    @for (var i = 0; i < Model.Files.Count; i++)
    {
        var index = i;
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.FileId)}", Model.Files[index].FileId)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.FileName)}", Model.Files[index].FileName)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.UploadedBy)}", Model.Files[index].UploadedBy)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.UploadedOn)}", Model.Files[index].UploadedOn)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.CanBeRemoved)}", Model.Files[index].CanBeRemoved)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.RemoveAction)}", Model.Files[index].RemoveAction)
        @Html.Hidden($"{Model.FieldName}[{index}].{nameof(FileModel.DownloadAction)}", Model.Files[index].DownloadAction)

        <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-!-font-weight-bold">
                @if (!string.IsNullOrWhiteSpace(Model.Files[index].DownloadAction))
                {
                    <gds-link href="@Model.Files[index].DownloadAction">@Model.Files[index].FileName</gds-link>
                }
                else
                {
                    @Model.Files[index].FileName
                }
            </td>
            <td class="govuk-table__cell">
                uploaded @DateHelper.DisplayAsUkFormatDateTime(Model.Files[i].UploadedOn) by @Model.Files[i].UploadedBy
            </td>
            @if (!Model.IsReadOnly)
            {
                <td class="govuk-table__cell govuk-!-text-align-right">
                    @if (Model.Files[i].CanBeRemoved)
                    {
                        <gds-link class="govuk-link--no-visited-state govuk-!-margin-left-4" href="@Model.Files[i].RemoveAction">
                            Remove
                        </gds-link>
                    }
                </td>
            }
        </tr>
    }
    </tbody>
</table>
