@using HE.Investments.Common.WWW.Components

@model (string FieldName, string Title, HE.Investments.Common.WWW.Components.InputTitleType TitleType, string Hint, string BoldParagraph, string Paragraph)

@{
    var cssClass = Model.TitleType switch
    {
        InputTitleType.PageHeader => "govuk-heading-l",
        InputTitleType.InputTitle => "govuk-label govuk-label--m",
        InputTitleType.InputDescription => "govuk-label",
        _ => string.Empty,
    };
}

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <h1 class="govuk-label-wrapper">
        <label class="@cssClass" for="@Model.FieldName">
            @Model.Title
        </label>
    </h1>
}

@if (!string.IsNullOrWhiteSpace(Model.Paragraph))
{
    foreach (var line in Model.Paragraph.Split(Environment.NewLine))
    {
        <gds-p>@line</gds-p>
    }
}

@if (!string.IsNullOrWhiteSpace(Model.Hint))
{
    <he-div-hint>
        @Model.Hint
    </he-div-hint>
}

@if (!string.IsNullOrWhiteSpace(Model.BoldParagraph))
{
    foreach (var line in Model.BoldParagraph.Split(Environment.NewLine))
    {
        <div class="govuk-heading-s govuk-!-margin-top-7">@line</div>
    }
}
