@using HE.Investments.Common.WWW.TagHelpers
@model (string fieldName, string header, string title, string description, string hint)

<h1 class="govuk-label-wrapper">
    @if (!string.IsNullOrWhiteSpace(Model.header))
    {
        <label class="govuk-heading-l" for="@Model.fieldName">
            @Model.header
        </label>
    }

    @if (!string.IsNullOrWhiteSpace(Model.title))
    {
        <label class="govuk-label govuk-label--m" for="@Model.fieldName">
            @Model.title
        </label>
    }

    @if (!string.IsNullOrWhiteSpace(Model.description))
    {
        <label class="govuk-label" for="@Model.fieldName">
            @Model.description
        </label>
    }
</h1>

@if (!string.IsNullOrWhiteSpace(Model.hint))
{
    <he-div-hint>
        @Model.hint
    </he-div-hint>
}
