@using HE.Investments.Common.WWW.Components.InputHeader
@using HE.Investments.Common.WWW.Components

@model (string fieldName, string title, HE.Investments.Common.WWW.Components.InputTitleType titleType, string hint, string paragraph)

@{
    var cssClass = Model.titleType switch
    {
        InputTitleType.PageHeader => "govuk-heading-l",
        InputTitleType.InputTitle => "govuk-label govuk-label--m",
        InputTitleType.InputDescription => "govuk-label",
        _ => string.Empty,
        };
}

@if (!string.IsNullOrWhiteSpace(Model.title))
{
    <h1 class="govuk-label-wrapper">
        <label class="@cssClass" for="@Model.fieldName">
            @Model.title
        </label>
    </h1>
}

@if (!string.IsNullOrWhiteSpace(Model.paragraph))
{
    <gds-p>
        @Model.paragraph
    </gds-p>
}

@if (!string.IsNullOrWhiteSpace(Model.hint))
{
    <he-div-hint>
        @Model.hint
    </he-div-hint>
}
