@using HE.Investments.Common.WWW.Components.Table
@using HE.Investments.Common.Contract.Pagination

@model (List<TableHeaderViewModel> Headers, PaginationResult<TableRowViewModel> Rows);

<div class="govuk-!-margin-bottom-9">
    <vc:table
        headers="@Model.Headers"
        rows="@Model.Rows.Items"/>
    <he-pagination
        base-url="@Url.Action("Index", "Users")"
        page="@Model.Rows.CurrentPage"
        items-per-page="@Model.Rows.ItemsPerPage"
        total-items="@Model.Rows.TotalItems">
    </he-pagination>
</div>
