@using HE.Investments.Common.WWW.Components.Table
@using HE.Investments.Common.Contract.Pagination

@model (List<TableHeaderViewModel> headers, PaginationResult<TableRowViewModel> rows);

<div class="govuk-!-margin-bottom-9">
    <vc:table
        headers="@Model.headers"
        rows="@Model.rows.Items"/>
    <he-pagination
        base-url="@Url.Action("Index", "Users")"
        page="@Model.rows.CurrentPage"
        items-per-page="@Model.rows.ItemsPerPage"
        total-items="@Model.rows.TotalItems">
    </he-pagination>
</div>
