@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.Contract.Site.Enums
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToSitesLink
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.WWW.Components.Details
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investments.Common.WWW.Helpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SiteModel
@{
    ViewData["Title"] = SitePageTitles.BuildingForHealthyLife;
    var details = new DynamicComponentViewModel(nameof(Details),
        new
        {
            title = "What are the Building for a Healthy Life criteria?",
            contentText = "Building for a Healthy Life is a design code to help people improve the design of new and growing neighbourhoods. You can read more in the",
            linkUrl = "https://www.designforhomes.org/wp-content/uploads/2020/11/BFL-2020-Brochure.pdf",
            linkText = "Building for a Healthy life toolkit (opens in a new tab).",
            header = SitePageTitles.BuildingForHealthyLife
        });
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.BuildingForHealthyLife"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:form-header caption="@Model.Name" title="@SitePageTitles.BuildingForHealthyLife"/>

    <form asp-controller="Site" asp-action="BuildingForHealthyLife" asp-method="post" novalidate>
        <vc:radio-list
            header-component="@details"
            field-name="@nameof(Model.BuildingForHealthyLife)"
            available-options="@SelectListHelper.FromEnumToExtendedList<BuildingForHealthyLifeType>()"
            value=@Model.BuildingForHealthyLife/>

        <vc:form-button/>
        <vc:return-to-sites-link/>
    </form>
</gds-div-grid-column-two-thirds>
