@using HE.Investments.Account.Shared
@using HE.Investments.Common.Extensions
@model HE.Investment.AHP.Contract.Site.SiteDetailsModel
@inject IAccountAccessContext AccountAccessContext
@{
    ViewData["Title"] = Model.SiteName;
    var canStartApplication = await AccountAccessContext.CanEditApplication();
}
<div class="govuk-grid-column-full">
    <vc:page-header title="@Model.SiteName" caption="@Model.OrganisationName" hint="View and add your applications and submit them for review. The applications you add will sit within this site." additional-css-class="govuk-!-padding-top-8"/>

    <gds-h2 class="govuk-!-padding-top-8">
        Your applications
    </gds-h2>

    <div class="govuk-!-padding-bottom-8">
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Tenure</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-third">Status</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var application in Model.Applications)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <span class="app-task-list__task-name">
                            <strong>
                                <a href="@Url.Action("TaskList", "Application", new { applicationId = application.Id })"> @application.Name </a>
                            </strong>
                        </span>
                    </td>
                    <td class="govuk-table__cell">
                        @application.Tenure.GetDescription()
                    </td>
                    <td class="govuk-table__cell">
                        <application-status-tag application-status="@application.Status"></application-status-tag>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    <div>
        <gds-h2>
            Affordable Homes Programme 2021-2026 CME
        </gds-h2>
        <p class="govuk-body govuk-!-margin-bottom-3">You can start a new Affordable Homes Programme application here. This will not affect any of your previous applications.</p>

        <link-button action-url="@Url.Action("Name", "Application")" is-disabled=@(!canStartApplication)>Start new application</link-button>
    </div>
    <div class="govuk-!-padding-top-2">
        <gds-h2>
            View sites
        </gds-h2>
        <p class="govuk-body govuk-!-margin-bottom-3">View a list of your existing sites. New sites can be created as part of a new application.</p>

        <link-button is-secondary="true" action-url="@Url.Action("Index", "Site")">View sites</link-button>
    </div>
</div>
