@using HE.Investments.Common.Extensions
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.SectionSummaryItem
@model HE.Investment.AHP.Contract.Site.SiteDetailsModel
@{
    ViewData["Title"] = Model.SiteName;
}
<div class="govuk-grid-column-full">
    <gds-back-link href="@Url.Action("Index", "Site")" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:page-header title="@Model.SiteName" caption="@Model.OrganisationName"/>

    @if (!string.IsNullOrWhiteSpace(Model.LocalAuthorityName))
    {
        <div class="govuk-!-width-two-thirds govuk-!-margin-bottom-8">
            <gds-summary-list>
                <vc:section-summary-item
                    name="Local authority"
                    values="@Model.LocalAuthorityName.ToOneElementList()"
                    action-url="@string.Empty"
                    is-editable="@false"/>
            </gds-summary-list>
        </div>
    }

    <div class="govuk-!-width-two-thirds">
        <gds-h2>View details of this site</gds-h2>
        <gds-p>View or edit this site's details. You cannot edit the details for a site if an application connected to it has already been submitted.</gds-p>
        <link-button action-url="@Url.Action("ContinueAnswering", "Site", new { siteId = Model.SiteId.Value })" button-type="@ButtonType.Secondary">
            View details
        </link-button>
    </div>

    @if (Model.Applications.TotalItems > 0)
    {
        <gds-h2>Applications on this site</gds-h2>
        <gds-p>View or manage existing applications for this site.</gds-p>
        <vc:site-applications-table site-id="@Model.SiteId" applications="@Model.Applications"/>
    }

    <gds-p>
        To begin a new application, return to <gds-link data-testId="application-list" href="@Url.Action("Index", "Application")">your list of applications</gds-link>.
    </gds-p>
</div>
