@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investment.AHP.WWW.Views.Site.Const
@model SiteTenderingStatusDetails
@{
    ViewData["Title"] = SitePageTitles.IntentionToWorkWithSme;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.IntentionToWorkWithSme"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:form-header caption="@ViewBag.SiteName"/>

    <form asp-controller="Site" asp-action="IntentionToWorkWithSme" asp-method="post" novalidate>

        <vc:radio-yes-no
            header="@SitePageTitles.IntentionToWorkWithSme"
            field-name="@nameof(Model.IsIntentionToWorkWithSme)"
            value="@Model.IsIntentionToWorkWithSme"/>

        <vc:form-button/>
        <vc:return-to-sites-link/>
    </form>

</gds-div-grid-column-two-thirds>
