@using HE.Investment.AHP.Contract.Site;
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Site;
@using HE.Investment.AHP.WWW.Views.Site;
@model HE.Investment.AHP.WWW.Models.Site.NationalDesignGuidePrioritiesModel;

@{
    ViewData["Title"] = SitePageTitles.NationalDesignGuide;
}

<div class="govuk-grid-column-two-thirds">
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.NationalDesignGuide" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Site" asp-action="NationalDesignGuide" asp-method="post" novalidate>
        <vc:form-header title="@SitePageTitles.NationalDesignGuide" caption="@Model.SiteName" additional-css-class="govuk-!-padding-top-8"></vc:form-header>

        <gds-field-set class="govuk-!-margin-bottom-6">
            <he-error-form-group asp-for="DesignPriorities">

                <span class="govuk-caption-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">Select all that apply.</span>

                <gds-details>
                    <gds-summary-details>What is the National Design Guide?</gds-summary-details>
                    <gds-div-details-text>
                        The National Design Guide sets out the characteristics of well-designed places and demonstrates what good design means in practice. You can read more about the guide in the
                        <a href="https://www.gov.uk/government/publications/national-design-guide">
                            National Design Guide publication (opens in a new tab).
                        </a>
                    </gds-div-details-text>
                </gds-details>

                <gds-checkbox class="exclusive-checkbox-group"
                              govuk-formgroup-asp-for="@Model.DesignPriorities"
                              asp-selectlistitems="SiteFormOptions.NationalDesignGuidePrioritiesExceptNone"
                              asp-for="@Model.DesignPriorities"
                              asp-excludelabel="true">
                </gds-checkbox>
                <p>Or</p>
                <gds-checkbox class="exclusive-checkbox-group--exclusive-option"
                              govuk-formgroup-asp-for="@Model.OtherPriorities"
                              asp-selectlistitems="SiteFormOptions.NationalDesignGuidePrioritiesOnlyNone"
                              asp-for="@Model.OtherPriorities"
                              asp-excludelabel="true">
                </gds-checkbox>
            </he-error-form-group>
        </gds-field-set>
        @Html.HiddenFor(x => x.SiteName)
        <vc:form-button/>
        <vc:return-to-sites-link />
    </form>
</div>
