@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Shared
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investment.AHP.WWW.Views.Shared.Components.OrganisationDetailsComponent
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToSitesLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.RadioYesNo
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model (HE.Investments.AHP.Consortium.Contract.OrganisationDetails Organisation, bool? IsConfirmed)
@{
    ViewData["Title"] = SharedPageTitles.OwnerOfTheHomesConfirm;
    var workflow = Context.Request.Query["workflow"];
    var organisationDetails = OrganisationDetailsComponent.FromOrganisationDetails(Model.Organisation);
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.OwnerOfTheHomesConfirm"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header caption="@ViewBag.SiteName"/>

    <form asp-controller="Site" asp-action="OwnerOfTheHomesConfirm" asp-route-workflow=@workflow asp-method="post" novalidate>
        <vc:radio-yes-no
            title="@SharedPageTitles.OwnerOfTheHomesConfirm"
            title-type="InputTitleType.PageHeader"
            field-name="isConfirmed"
            value="@Model.IsConfirmed"
            additional-content="@organisationDetails"/>

        <vc:form-button/>
        <vc:return-to-sites-link/>
    </form>
</gds-div-grid-column-two-thirds>
