@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.WWW.Components.RadioList
@using HE.Investments.Common.WWW.Helpers
@model SitePlanningDetails
@{
    ViewData["Title"] = SitePageTitles.PlanningStatus;
    var backRouteData = new
    {
        SiteId = ViewContext.RouteData.Values["siteId"] as string,
        Model.LocalAuthorityId,
    };
}
<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("LocalAuthorityConfirm", backRouteData)" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header caption="@ViewBag.SiteName"/>

    <form asp-controller="Site" asp-action="PlanningStatus" asp-method="post" novalidate>

        <vc:radio-list
            title="@SitePageTitles.PlanningStatus"
            title-type="InputTitleType.PageHeader"
            field-name="@nameof(Model.PlanningStatus)"
            available-options="@SelectListHelper.FromEnumToExtendedList<SitePlanningStatus>()"
            value=@Model?.PlanningStatus/>

        <vc:form-button/>
        <vc:return-to-sites-link/>
    </form>

</gds-div-grid-column-two-thirds>
