@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Site.Const
@model Section106Dto
@{
    ViewData["Title"] = SitePageTitles.SiteSection106OnlyAffordableHousing;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.Section106OnlyAffordableHousing" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Site" asp-action="Section106OnlyAffordableHousing" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:page-header title="@SitePageTitles.SiteSection106OnlyAffordableHousing" caption="@Model.SiteName" />

        <vc:radio-yes-no field-name="@nameof(Model.OnlyAffordableHousing)"
                         hint="Consider all of the phases covered by the planning permission, even if those phases are not covered by this application."
            value="@Model.OnlyAffordableHousing"/>

        @Html.HiddenFor(x => x.SiteId)

        <vc:form-button />
    </form>

</gds-div-grid-column-two-thirds>
