@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Views.Site.Const
@model Section106Dto
@{
    ViewData["Title"] = SitePageTitles.SiteSection106AffordableHousing;
}
<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.Section106AffordableHousing" />
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Site" asp-action="Section106AffordableHousing" asp-method="post" novalidate>
        <vc:page-header title="@SitePageTitles.SiteSection106AffordableHousing" caption="@Model.SiteName" additional-css-class="govuk-!-padding-top-8"/>
        <gds-p>
            Developer contributions are planning tools that can be used to secure
            financial and non-financial contributions. This can include affordable
            housing or other works to provide infrastructure to support development
            or mitigate the impact of development.
        </gds-p>
        <gds-p>
            Consider all of the phases covered by the planning permission, even if
            those phases are not covered by this application. This includes different
            phases if they are covered by the same planning permission.
        </gds-p>

        <vc:radio-yes-no field-name="@nameof(Model.AffordableHousing)"
                         title="Is there a section 106 (s106), or other planning condition, in place or in discussion to secure the delivery of affordable housing through developer contributions?"
            value="@Model.AffordableHousing"/>

        @Html.HiddenFor(x => x.SiteId)

        <vc:form-button />
    </form>

</gds-div-grid-column-two-thirds>
