@using HE.Investment.AHP.WWW.Config
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.Contract.Pagination
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.SelectList
@using SelectList = Microsoft.AspNetCore.Mvc.Rendering.SelectList
@inject IFrontDoorLinks FrontDoorLinks
@model HE.Investment.AHP.Contract.Project.ProjectSitesModel
@{
    ViewData["Title"] = SitePageTitles.SiteSelect;
    var items = new PaginationResult<SelectListItemViewModel>(
        Model.Sites.Items.Select(i => new SelectListItemViewModel(
            Url.Action("ConfirmSelect", "Site", new { siteId = i.Id }) ?? string.Empty,
            i.Name,
            i.LocalAuthorityName)).ToList(),
        Model.Sites.CurrentPage,
        Model.Sites.ItemsPerPage,
        Model.Sites.TotalItems);
}
 <div class="govuk-grid-column-full">
    <vc:back-link-with-callback url="@Url.Action("Start", "Application", new { projectId = Model.ProjectId.Value })"/>

    <vc:page-header title="@SitePageTitles.SiteSelect"/>

    <gds-p>Select a site to start your application.</gds-p>
     <gds-p>
         To add a new site, <a href="@FrontDoorLinks.StartNewProject">start a new project</a>.
     </gds-p>

    <vc:select-list
        items="@items"
        paging-navigation-url="@Url.Action("Select")" />

</div>
