@using HE.Investment.AHP.WWW.Config
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.Contract.Pagination
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.SelectList
@using HE.Investments.Common.WWW.Extensions
@using SelectList = Microsoft.AspNetCore.Mvc.Rendering.SelectList
@inject IFrontDoorLinks FrontDoorLinks
@model HE.Investments.AHP.ProjectDashboard.Contract.Project.SelectProjectSitesModel
@{
    ViewData["Title"] = SitePageTitles.SiteSelect;
    var organisationId = Context.Request.GetOrganisationIdFromRoute();
    var items = new PaginationResult<SelectListItemViewModel>(
        Model.ProjectSites.Sites.Items.Select(i => new SelectListItemViewModel(
            Url.OrganisationAction("ConfirmSelect", "Site", new { siteId = i.Id }) ?? string.Empty,
            i.Name,
            i.LocalAuthorityName)).ToList(),
        Model.ProjectSites.Sites.CurrentPage,
        Model.ProjectSites.Sites.ItemsPerPage,
        Model.ProjectSites.Sites.TotalItems);
}
 <div class="govuk-grid-column-full">
    @if (!string.IsNullOrWhiteSpace(Model.CallbackUrl))
    {
        <vc:back-link-with-callback url="@Model.CallbackUrl" />
    }

    <vc:page-header title="@SitePageTitles.SiteSelect"/>

    <gds-p>Select a site to start your application.</gds-p>
     <gds-p>
         To add a new site, <a href="@FrontDoorLinks.StartNewProject.Replace("{organisationId}", organisationId?.ToString())">start a new project</a>.
     </gds-p>

    <vc:select-list
        items="@items"
        paging-navigation-url="@Url.OrganisationAction("Select", "Site", new { projectId = Model.ProjectSites.ProjectId })" />

</div>
