@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.Site
@using HE.Investment.AHP.WWW.Models.Site
@using HE.Investment.AHP.WWW.Views.Shared.Components.AhpWorkflowBackButton
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToSitesLink
@using HE.Investment.AHP.WWW.Views.Site.Const
@using HE.Investments.Common.WWW.Components.PageHeader
@using HE.Investments.Common.WWW.Components.RadioList
@model SiteUseDetails
@{
    ViewData["Title"] = SitePageTitles.TravellerPitchType;
}

<gds-div-grid-column-two-thirds>
    <vc:ahp-workflow-back-button current-page="@SiteWorkflowState.TravellerPitchType"/>
    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
    <vc:page-header caption="@ViewBag.SiteName"/>

    <form asp-controller="Site" asp-action="TravellerPitchType" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:radio-list
            title="@SitePageTitles.TravellerPitchType"
            title-type="InputTitleType.PageHeader"
            field-name="@nameof(Model.TravellerPitchSiteType)"
            available-options="@TravellerPitchSiteTypeOptions.TravellerPitchSiteTypes"
            value=@Model.TravellerPitchSiteType/>

        <div class="govuk-!-width-three-quarters">
            <gds-warning text="Homes England does not fund temporary sites for traveller pitches. Contact your Growth Manager to discuss your proposal before continuing your application.">
            </gds-warning>
        </div>

        <vc:form-button/>
        <vc:return-to-sites-link/>
    </form>

</gds-div-grid-column-two-thirds>
