@using HE.Investments.Common.WWW.Components.Table
@using HE.Investments.Common.WWW.Extensions
@model (IList<TableHeaderViewModel> Headers, IList<TableRowViewModel> Rows)

<table class="govuk-table">
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        @foreach (var header in Model.Headers)
        {
            if (header.IsDisplayed)
            {
                var headerClass = "govuk-table__header";
                headerClass += $" {header.Width.GetWidthClass()}";
                headerClass += header.IsHidden ? " govuk-table__header--hidden" : string.Empty;
                <th scope="col" class="@headerClass">@header.Title</th>
            }
        }
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    @foreach (var row in Model.Rows)
    {
        <tr class="govuk-table__row" data-testid="@row.TestId">
            @foreach (var value in row.Values)
            {
                @if (value.IsDisplayed)
                {
                    <td class="govuk-table__cell">
                        @if (value.Component != null)
                        {
                            <vc:dynamic-component
                                component="@value.Component"/>
                        }
                        else
                        {
                            @(value.Value ?? "-")
                        }
                    </td>
                }
            }
        </tr>
    }
    </tbody>
</table>
