@using HE.Investments.Common.Extensions
@model (string Title, string FieldName, string AllowedExtensions, string CustomHeader, int? MaxFileSizeInMb, string Description, string Multiple, bool IsHidden, bool HasFileError, List<string> FileErrorMessages, string UploadOneFileUrl, string RemoveFileUrlTemplate, string DownloadFileUrlTemplate)

@if (!string.IsNullOrWhiteSpace(Model.Title))
{
    <gds-h2>@Model.Title</gds-h2>
}

@if (!string.IsNullOrWhiteSpace(Model.UploadOneFileUrl))
{
    @Html.Hidden("upload-file-url", Model.UploadOneFileUrl)
}

@if (!string.IsNullOrWhiteSpace(Model.RemoveFileUrlTemplate))
{
    @Html.Hidden("remove-file-url-template", Model.RemoveFileUrlTemplate)
}

@if (!string.IsNullOrWhiteSpace(Model.DownloadFileUrlTemplate))
{
    @Html.Hidden("download-file-url-template", Model.DownloadFileUrlTemplate)
}

@if (!string.IsNullOrWhiteSpace(Model.Description))
{
    <he-div-hint class="govuk-!-margin-bottom-6">@Model.Description</he-div-hint>
}

<div id="file-input-form-group" class="govuk-form-group @(Model.HasFileError ? "govuk-form-group--error" : string.Empty)">

    @if (!Model.IsHidden)
    {
        @if (!string.IsNullOrWhiteSpace(Model.CustomHeader))
        {
            <label class="govuk-label" for="@Model.FieldName">
                <span>@Model.CustomHeader</span>
            </label>
        }
        else
        {
            <label class="govuk-label" for="@Model.FieldName">
                <span>Upload a file (@Model.AllowedExtensions)</span>
                @if (Model.MaxFileSizeInMb.HasValue)
                {
                    <br/>
                    <span>Maximum file size @Model.MaxFileSizeInMb MB</span>
                    @Html.Hidden("MaxFileSizeInMegabytes", Model.MaxFileSizeInMb)
                }
            </label>
        }

        @if (Model.HasFileError && Model.FileErrorMessages.IsProvided())
        {
            foreach (var errorMessage in Model.FileErrorMessages)
            {
                <span id="File-error"
                      class="govuk-error-message field-validation-error"
                      data-valmsg-for="@(Model.FieldName)"
                      data-valmsg-replace="true">
                    <span class="govuk-visually-hidden">Error:</span>@errorMessage
                </span>
            }
        }
        <input class="govuk-file-upload" id="@Model.FieldName" name="@Model.FieldName" type="file" @Model.Multiple>
    }
    else
    {
        <div class="govuk-label">
            <span>Upload a file (@Model.AllowedExtensions)</span>
            @if (Model.MaxFileSizeInMb.HasValue)
            {
                <br/>
                <span>Maximum file size @Model.MaxFileSizeInMb MB</span>
                @Html.Hidden("MaxFileSizeInMegabytes", Model.MaxFileSizeInMb)
            }
        </div>
    }
</div>
