@model (string title, string fieldName, string allowedExtensions, string customHeader, int? maxFileSizeInMb, string description, string multiple, bool isHidden, bool hasFileError, string fileErrorMessage, string uploadOneFileUrl, string removeFileUrlTemplate, string downloadFileUrlTemplate)

@if (!string.IsNullOrWhiteSpace(Model.title))
{
    <gds-h2>@Model.title</gds-h2>
}

@if (!string.IsNullOrWhiteSpace(Model.uploadOneFileUrl))
{
    @Html.Hidden("upload-file-url", Model.uploadOneFileUrl)
}

@if (!string.IsNullOrWhiteSpace(Model.removeFileUrlTemplate))
{
    @Html.Hidden("remove-file-url-template", Model.removeFileUrlTemplate)
}

@if (!string.IsNullOrWhiteSpace(Model.downloadFileUrlTemplate))
{
    @Html.Hidden("download-file-url-template", Model.downloadFileUrlTemplate)
}

@if (!string.IsNullOrWhiteSpace(Model.description))
{
    <he-div-hint class="govuk-!-margin-bottom-6">@Model.description</he-div-hint>
}

<div id="file-input-form-group" class="govuk-form-group @(Model.hasFileError ? "govuk-form-group--error" : string.Empty)">

    @if (!Model.isHidden)
    {
        @if (!string.IsNullOrWhiteSpace(Model.customHeader))
        {
            <label class="govuk-label" for="@Model.fieldName">
                <span>@Model.customHeader</span>
            </label>
        }
        else
        {
            <label class="govuk-label" for="@Model.fieldName">
                <span>Upload a file (@Model.allowedExtensions)</span>
                @if (Model.maxFileSizeInMb.HasValue)
                {
                    <br/>
                    <span>Maximum file size @Model.maxFileSizeInMb MB</span>
                    @Html.Hidden("MaxFileSizeInMegabytes", Model.maxFileSizeInMb)
                }
            </label>
        }

        @if (Model.hasFileError)
        {
            <span id="File-error"
                  class="govuk-error-message field-validation-error"
                  data-valmsg-for="@Model.fieldName"
                  data-valmsg-replace="true">
                <span class="govuk-visually-hidden">Error:</span>@Model.fileErrorMessage
            </span>
        }
        <input class="govuk-file-upload" id="@Model.fieldName" name="@Model.fieldName" type="file" @Model.multiple>
    }
    else
    {
        <div class="govuk-label">
            <span>Upload a file (@Model.allowedExtensions)</span>
            @if (Model.maxFileSizeInMb.HasValue)
            {
                <br/>
                <span>Maximum file size @Model.maxFileSizeInMb MB</span>
                @Html.Hidden("MaxFileSizeInMegabytes", Model.maxFileSizeInMb)
            }
        </div>
    }
</div>
