@model (string title, string contentText, string linkText, string linkUrl, HE.Investments.Common.WWW.Components.DynamicComponentViewModel contentComponent)

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            @Model.title
        </span>
    </summary>
    <div class="govuk-details__text">
        @if (!string.IsNullOrWhiteSpace(Model.contentText))
        {
            @Model.contentText
            if (!string.IsNullOrWhiteSpace(Model.linkText) && !string.IsNullOrWhiteSpace(Model.linkUrl))
            {
                <a target="_blank" href="@Model.linkUrl">@Model.linkText</a> 
            }
        }

        @if(Model.contentComponent != null)
        {
            <vc:dynamic-component
                component="@Model.contentComponent"/>
        }
    </div>
</details>
