@model (string Title, string ContentText, string LinkText, string LinkUrl, HE.Investments.Common.WWW.Components.DynamicComponentViewModel ContentComponent)

<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
            @Model.Title
        </span>
    </summary>
    <div class="govuk-details__text">
        @if (!string.IsNullOrWhiteSpace(Model.ContentText))
        {
            @Model.ContentText
            if (!string.IsNullOrWhiteSpace(Model.LinkText) && !string.IsNullOrWhiteSpace(Model.LinkUrl))
            {
                <a target="_blank" href="@Model.LinkUrl">@Model.LinkText</a>
            }
        }

        @if(Model.ContentComponent != null)
        {
            <vc:dynamic-component
                component="@Model.ContentComponent"/>
        }
    </div>
</details>
