@model HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel;
@{
    var (radioInvalid, radioErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.BusinessLogic.ViewModel.SiteViewModel.AffordableHomes));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="AffordableHomes" asp-route-id="@Model.ApplicationId" asp-route-site="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("GoBack","Site")" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="radioInvalid">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>
                        Is your project made up of more than 50% affordable housing?
                    </gds-fieldset-heading>
                </gds-legend>
                <gds-div-hint class="govuk-!-margin-bottom-6">
                    Affordable homes are properties provided at a cost below market levels. If your site contains no affordable
                    homes, this will not affect your application. You'll be able to discuss this with your transaction manager at a later stage.
                </gds-div-hint>

                <gds-radio-yes-no asp-for="@Model.AffordableHomes" class="govuk-!-margin-bottom-6"></gds-radio-yes-no>
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
