@using HE.InvestmentLoans.Contract.Projects;
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@model HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel;
@{
    var id = ViewContext.RouteData.Values["id"];

    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(nameof(HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel.PlanningReferenceNumber));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="Project" asp-action="PlanningReferenceNumber" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>

        <gds-back-link href="@Url.Action("Back", "Project", new {id = Model.ApplicationId, projectId = Model.ProjectId, currentPage = ProjectState.PlanningRefEnter})" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>
        <partial name="_ErrorSummaryPartial" model="null" />
        <gds-field-set>
            <gds-div-form-group invalid="inputInvalid">
                <legend>
                    <gds-label-wrapper>
                        <gds-label size="@ControlSize.L" for="PlanningRefEnter">
                            What is your planning reference number?
                        </gds-label>
                    </gds-label-wrapper>
                </legend>
                <gds-div-hint>
                    A typical planning reference number is formatted: YY/REF/TYPE. For example, 23/1234/FULL.
                </gds-div-hint>

                <gds-input asp-excludelabel govuk-formgroup-asp-for="PlanningReferenceNumber" class="govuk-!-margin-bottom-6" type="text" value=@Model?.PlanningReferenceNumber />
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
        </gds-field-set>

    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
