@using HE.InvestmentLoans.BusinessLogic.Projects.Consts;
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@model HE.InvestmentLoans.Contract.Projects.ViewModels.ProjectViewModel;
@{
    var (inputInvalid, inputErrors) = @ViewData.ModelState.GetErrors(ProjectValidationFieldNames.ProjectName);
}

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("TaskList", "LoanApplicationV2" , new {id = Model.ApplicationId})" text="Back" class="govuk-!-margin-bottom-8">
    </gds-back-link>
    <partial name="_ErrorSummaryPartial" model="null" />
    <form asp-controller="Project" asp-action="ProjectName" asp-route-id="@Model.ApplicationId" asp-route-projectId="@Model.ProjectId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
            <gds-h1 size="@ControlSize.L">
                    @ProjectPageTitles.Name
            </gds-h1>
            <gds-div-form-group invalid="inputInvalid">

                <label for="Name" class="govuk-label--m">What is the project name?</label>

                <gds-div-hint>
                    We will use this name to differentiate between projects if you have added more than one as part of this application.
                </gds-div-hint>

                <gds-input-wrapper class="govuk-!-margin-bottom-6">
                    <gds-input class="govuk-!-width-two-third"
                               asp-excludelabel
                               govuk-formgroup-asp-for="ProjectName"
                               value="@Model.ProjectName"
                               type="text" />
                </gds-input-wrapper>
            </gds-div-form-group>

            @Html.HiddenFor(c => c.ProjectId)
            @Html.HiddenFor(c => c.ApplicationId)

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Continue
            </button>
    </form>

    <partial name="_HomeAndCheckAnswersLinks" />
</gds-div-grid-column-two-thirds>
