@using HE.Investments.Common.WWW.Models
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.WWW.Components.InputListHeader
@using HE.Investments.Common.WWW.Components.RadioListContent
@using HE.Investments.Common.WWW.Components;

@model (string FieldName, string Title, InputTitleType TitleType, DynamicComponentViewModel AdditionalContent, string Hint, IEnumerable<ExtendedSelectListItem> AvailableOptions, string Value)

@{
    var (hasError, _) = ViewData.ModelState.GetErrors(Model.FieldName);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
}

<gds-div-form-group class="@groupClass">
    <gds-field-set>
        <vc:input-list-header title="@Model.Title" title-type="@Model.TitleType" additional-content="@Model.AdditionalContent" hint="@Model.Hint"/>

        <vc:error-message field-name="@Model.FieldName"/>

        <div class="govuk-radios" data-module="govuk-radios">
            <vc:radio-list-content
                field-name="@Model.FieldName"
                available-options="@Model.AvailableOptions"
                value="@Model.Value"/>
        </div>
    </gds-field-set>
</gds-div-form-group>
