@using HE.Investments.Common.WWW.Models
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.Common.WWW.Components.ErrorMessage
@using HE.Investments.Common.WWW.Components.RadioListHeader
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@model (string fieldName, string title, string hint, IList<ExtendedSelectListItem> availableOptions)

@{
    var (hasError, radioErrors) = ViewData.ModelState.GetErrors(Model.fieldName);
    var groupClass = hasError ? "govuk-form-group--error" : string.Empty;
}

<gds-div-form-group class="@groupClass">

    <vc:radio-list-header title="@Model.title" hint="@Model.hint"/>

    <vc:error-message field-name="@Model.fieldName"/>

    <div class="govuk-radios" data-module="govuk-radios">
        <vc:radio-list-content
            field-name="@Model.fieldName"
            available-options="@Model.availableOptions"/>
    </div>
</gds-div-form-group>
