@using HE.Investments.Loans.Contract.Security
@using HE.Investments.Loans.WWW.Views.Security.Consts
@using HE.Investments.Loans.Contract.Application.Helper
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Divs
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Headings
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Links
@model HE.Investments.Loans.Contract.Security.SecurityViewModel;

<gds-div-grid-column-two-thirds>
    <form asp-controller="Security" asp-action="CheckAnswersPost" asp-route-id="@Model.LoanApplicationId" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back", "Security", new { id = Model.LoanApplicationId, currentPage = SecurityState.CheckAnswers })" text="Back" class="govuk-!-margin-bottom-8">
        </gds-back-link>

        <partial name="_ErrorSummaryPartial" model="null"/>

        <gds-h1 class="govuk-heading-xl">
            @(ApplicationStatusDivision.GetAllStatusesAfterSubmit().Contains(Model.LoanApplicationStatus) ? @SecurityPageTitles.ReadOnlyAnswers : @SecurityPageTitles.CheckAnswers)
        </gds-h1>

        <partial name="Sections/_ReadOnlyAdditionalInformation" model="Model"/>

        @await Html.PartialAsync("_SecurityAnswers", Model)

        <partial name="Sections/_HaveYouCompletedThisSection" model="Model"/>

    </form>
</gds-div-grid-column-two-thirds>
