@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.Messages
@model HE.Investment.AHP.WWW.Models.HomeTypes.AffordableRentModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="AffordableRent" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.AffordableRent"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"/>
        <gds-field-set>
            <gds-legend>
                <gds-h1 class="govuk-!-margin-bottom-2">Affordable Rent details</gds-h1>
            </gds-legend>

            <gds-legend>
                <gds-h2>Enter the market value of each home</gds-h2>
            </gds-legend>
            <div class="govuk-!-margin-bottom-6">
                <gds-span-hint>
                    Enter the market value in pounds only.
                </gds-span-hint>
            </div>
            <gds-input
                class="govuk-input--width-4"
                asp-hiddenlabeltext="Enter the number of home market value"
                govuk-formgroup-asp-for="HomeMarketValue"
                name="HomeMarketValue"
                value=@Model.HomeMarketValue
                asp-prefixtext="GdsInputPrefixText.Pounds"/>

            <gds-legend>
                <gds-h2>Enter the market rent per week</gds-h2>
            </gds-legend>
            <div class="govuk-!-margin-bottom-6">
                <gds-span-hint>
                    Enter the market rent in pounds and pence.
                </gds-span-hint>
            </div>
            <gds-input
                class="govuk-input--width-4"
                asp-hiddenlabeltext="Enter the number of home market rent per week"
                govuk-formgroup-asp-for="HomeWeeklyRent"
                name="HomeWeeklyRent"
                value=@Model.HomeWeeklyRent
                asp-prefixtext="GdsInputPrefixText.Pounds"
                asp-suffixtext="GdsInputSuffixText.PerYear"/>
            @* TODO asp-suffixtext="GdsInputSuffixText.PerWeek"/> *@

            <gds-legend>
                <gds-h2 class="govuk-!-margin-bottom-0 govuk-!-margin-top-6">Enter the Affordable Rent per week</gds-h2>
            </gds-legend>
            <gds-span-hint>
                Enter the rent in pounds and pence. This is inclusive of all charges.
            </gds-span-hint>
            <gds-input
                class="govuk-input--width-4"
                asp-hiddenlabeltext="Enter the number of the Affordable Rent per week"
                govuk-formgroup-asp-for="AffordableWeeklyRent"
                name="AffordableWeeklyRent"
                value=@Model.AffordableWeeklyRent
                asp-prefixtext="GdsInputPrefixText.Pounds"
                asp-suffixtext="GdsInputSuffixText.PerYear"/>
            @* TODO asp-suffixtext="GdsInputSuffixText.PerWeek"/> *@

            <gds-legend>
                <gds-h2 class="govuk-!-margin-bottom-0">Affordable Rent as percentage of market rent</gds-h2>
            </gds-legend>
            <gds-span-hint>
                This is inclusive of all charges.
            </gds-span-hint>

            <gds-p class="govuk-!-margin-top-2">
                @(Model.AffordableRentAsPercentageOfMarketRent ?? "00.00")% [calculated on page]
            </gds-p>

            <gds-legend>
                <gds-h2>Would the target rent plus service charge for these homes exceed 80% of market rent?</gds-h2>
            </gds-legend>
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Help with target rent
                    </span>
                </summary>
                <div class="govuk-details__text">
                    Target rent is also known as "formula rent".
                    <a class="govuk-link" target="_blank"
                       href="https://www.gov.uk/government/publications/direction-on-the-rent-standard-from-1-april-2020/policy-statement-on-rents-for-social-housing">
                        Find out more information on our Rent Policy Statement (opens in the new tab).
                    </a>
                </div>
            </details>
            <gds-radio govuk-formgroup-asp-for="TargetRentExceedMarketRent"
                       asp-hiddenlabeltext="Target rent exceed 80% of market rent"
                       value="@Model.TargetRentExceedMarketRent"
                       asp-selectlistitems="@CommonFormOptions.YesNo"
                       class="govuk-!-margin-bottom-2">
            </gds-radio>
            <div>
                <button class="govuk-button govuk-button--secondary" data-module="govuk-button" name="action" type="submit" value="@GenericMessages.Calculate" id="calculate-button">
                    Calculate
                </button>
            </div>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@GenericMessages.Continue" id="continue-button">
                Save and continue
            </button>

        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
