@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.BuildingInformationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();

    var hints = new[]
    {
        "A single self-contained residential dwelling, usually of more than one storey.",
        "A single self-contained residential dwelling, usually of one storey, withing a single structure containing multiple dwellings.",
        "Single unit within a shared property.",
        "A single self-contained residential dwelling that is only on one storey.",
        "A single self-contained residential dwelling usually of two storeys with your own front door.",
    };
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="BuildingInformation" asp-method="post" novalidate>
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.BuildingInformation"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"
                                  title="Building information"/>

        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">
            <gds-field-set>
                <gds-legend>
                    <gds-h1>What is the building type?</gds-h1>
                </gds-legend>

                <gds-radio govuk-formgroup-asp-for="BuildingType"
                           asp-hiddenlabeltext="What type of homes will you be providing for disabled and vulnerable people?"
                           value="@Model.BuildingType"
                           asp-hinttext="@hints"
                           asp-selectlistitems="@HomeTypesFormOptions.BuildingType">
                </gds-radio>

                <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                    Save and continue
                </button>
            </gds-field-set>

            <vc:return-to-application-link application-id="@applicationId"/>
        </gds-div-grid-column-two-thirds>
    </form>
</div>
