@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@model HE.Investment.AHP.WWW.Models.HomeTypes.BuildingInformationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    var hints = new[]
    {
        "A single self-contained residential dwelling, usually of more than one storey.",
        "A single self-contained residential dwelling, usually of one storey, within a single structure containing multiple dwellings.",
        "Single unit within a shared property.",
        "A single self-contained residential dwelling that is only on one storey.",
        "A single self-contained residential dwelling usually of two storeys with your own front door.",
    };
    ViewData["Title"] = HomeTypesPageTitles.BuildingInformation;
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="BuildingInformation" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.BuildingInformation"
                                  caption="@Model.Header"
                                  title="@HomeTypesPageTitles.BuildingInformation" />
        <gds-field-set role="group">
            <he-error-form-group asp-for="BuildingType">
                <gds-legend class="govuk-!-margin-bottom-6">
                    <gds-h2>What is the building type?</gds-h2>
                </gds-legend>

                <he-custom-radio asp-for="BuildingType"
                                 value="@Model.BuildingType"
                                 radio-items="@HomeTypesFormOptions.BuildingType"
                                 radio-hints="@hints"
                                 class="govuk-!-margin-bottom-6">
                </he-custom-radio>
            </he-error-form-group>
            <vc:form-button/>
        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId" />
    </form>
</gds-div-grid-column-two-thirds>
