@using HE.Investments.Common.WWW.Components.SectionSummary;
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investment.AHP.Contract.HomeTypes
@using HE.Investment.AHP.Contract.Application
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeTypeSummaryModel

@{
    var applicationId = this.GetApplicationIdFromRoute();
    ViewData["Title"] = HomeTypesPageTitles.CheckAnswers;
}

<gds-div-grid-column-two-thirds>
    <vc:home-type-form-header title="@HomeTypesPageTitles.CheckAnswers"
                              current-page="@HomeTypesWorkflowState.CheckAnswers"
                              caption="@Model.Header"
                              is-application-locked="@Model.AllowedOperations.Contains(AhpApplicationOperation.RequestToEdit)"/>

    @if (Model.Sections != null)
    {
        @foreach (var sectionSummary in Model.Sections)
        {
            <vc:section-summary title="@sectionSummary.Title" items="@sectionSummary.Items"/>
        }
    }

    <form asp-controller="HomeTypes" asp-action="CheckAnswers" asp-method="post" novalidate hidden="@Model.IsReadOnly">
        <gds-field-set role="group">
            <he-error-form-group asp-for="IsSectionCompleted">
                <gds-legend>
                    <gds-h2>Have you completed this section?</gds-h2>
                </gds-legend>
                <gds-radio govuk-formgroup-asp-for="IsSectionCompleted"
                           asp-hiddenlabeltext="Have you completed this section?"
                           value="@Model.IsSectionCompleted"
                           asp-selectlistitems="@CommonFormOptions.IsSectionCompleted">
                </gds-radio>
            </he-error-form-group>
        </gds-field-set>
        <vc:form-button/>
    </form>

    <vc:return-to-application-link application-id="@applicationId" is-editable="@false"/>
</gds-div-grid-column-two-thirds>
