@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.CustomBuildPropertyModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.CustomBuildProperty;
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="CustomBuildProperty" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.CustomBuildProperty"
                                  caption="@Model.Header" />
        <gds-field-set>
            <he-error-form-group asp-for="CustomBuild">
                <gds-legend>
                    <gds-h1>@HomeTypesPageTitles.CustomBuildProperty</gds-h1>
                </gds-legend>
                <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            What are custom build properties?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        Custom build includes projects where individuals commission and are involved in building or managing the construction of their home.
                        Visit our website for <gds-link href="https://www.gov.uk/guidance/self-build-and-custom-housebuilding">more information on custom build.</gds-link>
                    </div>
                </details>
                <gds-radio govuk-formgroup-asp-for="CustomBuild"
                           asp-hiddenlabeltext="Custom build property"
                           value="@Model.CustomBuild"
                           asp-selectlistitems="@CommonFormOptions.YesNo"
                           class="govuk-!-margin-bottom-2">
                </gds-radio>
            </he-error-form-group>
            <vc:form-button/>

        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId" />
    </form>
</gds-div-grid-column-two-thirds>
