@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@model HE.Investment.AHP.WWW.Models.HomeTypes.ExemptFromTheRightToSharedOwnershipModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.ExemptFromTheRightToSharedOwnership;
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="ExemptFromTheRightToSharedOwnership" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.ExemptFromTheRightToSharedOwnership"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header" />
        <gds-field-set>
            <he-error-form-group asp-for="ExemptFromTheRightToSharedOwnership">
                <gds-legend>
                    <gds-h1 class="govuk-!-margin-bottom-2">@HomeTypesPageTitles.ExemptFromTheRightToSharedOwnership</gds-h1>
                </gds-legend>
                <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Which properties are in scope for the Right to Shared Ownership?
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        The Right to Shared Ownership applies to all new rented homes delivered through the Affordable Homes Programme 2021-26, with limited exceptions.
                        <a class="govuk-link" target="_blank"
                           href="https://www.gov.uk/government/publications/right-to-shared-ownership-initial-guidance-for-registered-providers/right-to-shared-ownership-initial-guidance-for-registered-providers">
                            Read about the Right to Shared Ownership and the types of property that are in scope (opens in the new tab).
                        </a>
                    </div>
                </details>
                <gds-radio govuk-formgroup-asp-for="ExemptFromTheRightToSharedOwnership"
                           asp-hiddenlabeltext="Exempt from the Right to Shared Ownership"
                           value="@Model.ExemptFromTheRightToSharedOwnership"
                           asp-selectlistitems="@CommonFormOptions.YesNo"
                           class="govuk-!-margin-bottom-2">
                </gds-radio>
            </he-error-form-group>
            <vc:form-button/>

        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId" />
    </form>
</gds-div-grid-column-two-thirds>
