@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using tes = He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios;

@model HE.Investment.AHP.WWW.Models.HomeTypes.FinishHomeTypeModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    ViewData["Title"] = HomeTypesPageTitles.FinishHomeTypes;
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="FinishHomeTypes" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.FinishHomeTypes"
                                  caption="@Model.ApplicationName - Home types" />

        <gds-field-set>
            <he-error-form-group asp-for="FinishAnswer">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h1 class="govuk-!-margin-bottom-0">@HomeTypesPageTitles.FinishHomeTypes</gds-h1>
                </gds-legend>

                <gds-radio govuk-formgroup-asp-for="FinishAnswer"
                           asp-hiddenlabeltext="Have you added all of the home types for this application?"
                           value="@Model.FinishAnswer"
                           asp-selectlistitems="@HomeTypesFormOptions.FinishHomeTypes">
                </gds-radio>
            </he-error-form-group>
            <vc:form-button/>

        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId" />
    </form>
</div>
