@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Checkboxes
@model HE.Investment.AHP.WWW.Models.HomeTypes.FloorAreaModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.FloorAreaStandards;
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="FloorAreaStandards" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.FloorAreaStandards"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"
                                  title="@HomeTypesPageTitles.FloorAreaStandards"/>

        <gds-field-set class="govuk-!-margin-bottom-6">
            <he-error-form-group asp-for="NationallyDescribedSpaceStandards">
                <gds-legend>
                    <gds-h2>Which of these Nationally Described Space Standards do the homes meet?</gds-h2>
                </gds-legend>
                <span class="govuk-caption-m govuk-!-margin-bottom-4">Select all that apply.</span>

                <gds-checkbox class="exclusive-checkbox-group"
                              govuk-formgroup-asp-for="@Model.NationallyDescribedSpaceStandards"
                              asp-selectlistitems="HomeTypesFormOptions.NationallyDescribedSpaceStandardsExceptNone"
                              asp-for="@Model.NationallyDescribedSpaceStandards"
                              asp-excludelabel="true">
                </gds-checkbox>
                <p>or</p>
                <gds-checkbox class="exclusive-checkbox-group--exclusive-option"
                              govuk-formgroup-asp-for="@Model.OtherNationallyDescribedSpaceStandards"
                              asp-selectlistitems="HomeTypesFormOptions.NationallyDescribedSpaceStandardsOnlyNone"
                              asp-for="@Model.OtherNationallyDescribedSpaceStandards"
                              asp-excludelabel="true">
                </gds-checkbox>
            </he-error-form-group>
        </gds-field-set>

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What are the Nationally Described Space Standards?
                </span>
            </summary>
            <div class="govuk-details__text">
                The government's Nationally Described Space Standards relate to the internal space in new homes.
                <a class="govuk-link" target="_blank"
                   href="https://www.gov.uk/government/publications/technical-housing-standards-nationally-described-space-standard/technical-housing-standards-nationally-described-space-standard">
                    Read more about the Nationally Described Space Standards (opens in a new tab).
                </a>
            </div>
        </details>

        <vc:form-button/>
        <br/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
