@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.Contract.HomeTypes
@using HE.Investment.AHP.WWW.Common
@model HE.Investment.AHP.WWW.Models.HomeTypes.HappiDesignPrinciplesModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.HappiDesignPrinciples;
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="HappiDesignPrinciples" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.HappiDesignPrinciples"
                                  caption="@Model.Header"/>

        <gds-field-set class="govuk-!-margin-bottom-6">
            <he-error-form-group asp-for="DesignPrinciples">
                <gds-legend>
                    <gds-h1>@HomeTypesPageTitles.HappiDesignPrinciples</gds-h1>
                </gds-legend>

                <gds-details>
                    <gds-summary-details>What are the HAPPI design principles?</gds-summary-details>
                    <gds-div-details-text>
                        They are 10 key design principles that support the provision of older people's housing to offer an alternative to the family home. They can be adapted over time. We also seek this information for disabled and vulnerable people.
                        <a href="@ExternalLinks.Get(nameof(ExternalLinks.TheHousingOurAgeingPopulationPanelForInnovation))">View the HAPPI principles for more information.</a>
                    </gds-div-details-text>
                </gds-details>

                <span class="govuk-caption-m govuk-!-margin-top-4 govuk-!-margin-bottom-4">Select all that apply.</span>

                <gds-checkbox class="exclusive-checkbox-group"
                              govuk-formgroup-asp-for="@Model.DesignPrinciples"
                              asp-selectlistitems="HomeTypesFormOptions.HappiDesignPrinciplesExceptNone"
                              asp-for="@Model.DesignPrinciples"
                              asp-excludelabel="true">
                </gds-checkbox>
                <p>Or</p>
                <gds-checkbox class="exclusive-checkbox-group--exclusive-option"
                              govuk-formgroup-asp-for="@Model.OtherPrinciples"
                              asp-selectlistitems="HomeTypesFormOptions.HappiDesignPrinciplesOnlyNone"
                              asp-for="@Model.OtherPrinciples"
                              asp-excludelabel="true">
                </gds-checkbox>
            </he-error-form-group>
        </gds-field-set>

        <vc:form-button/>
        <br/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
