@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investments.Common.Gds
@model HE.Investment.AHP.WWW.Models.HomeTypes.HappiDesignPrinciplesModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-full">
    <form asp-controller="HomeTypes" asp-action="HappiDesignPrinciples" asp-method="post" novalidate>
        <gds-back-link href="@Url.Action("Back", "HomeTypes", new { applicationId, homeTypeId, currentPage = HomeTypesWorkflowState.HappiDesignPrinciples })" text="Back" class="govuk-!-margin-bottom-8"></gds-back-link>

        @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

        <gds-div-hint>@Model.Header</gds-div-hint>
        <gds-div-grid-column-two-thirds class="govuk-!-padding-left-0">

            <gds-field-set class="govuk-!-margin-bottom-6">
                <gds-legend size="ControlSize.L">
                    <gds-fieldset-heading>Which Housing our Ageing Population Panel for Innovation (HAPPI) design principles do the homes meet?</gds-fieldset-heading>
                </gds-legend>

                <gds-details-summary label="What are the HAPPI design principles?">
                    They are 10 key design principles that support the provision of older people's housing to offer an alternative to the family home. They can be adapted over time. We also seek this information for disabled and vulnerable people.
                    <a href="https://www.housinglin.org.uk/Topics/type/The-Housing-our-Ageing-Population-Panel-for-Innovation-HAPPI-Report-2009/">View the HAPPI principles for more information.</a>
                </gds-details-summary>
                <gds-div-hint>Select all that apply</gds-div-hint>

                <gds-checkbox class="exclusive-checkbox-group"
                              govuk-formgroup-asp-for="@Model.DesignPrinciples"
                              asp-selectlistitems="HomeTypesFormOptions.HappiDesignPrinciplesExceptNone"
                              asp-for="@Model.DesignPrinciples"
                              asp-excludelabel="true">
                </gds-checkbox>
                <p>Or</p>
                <gds-checkbox class="exclusive-checkbox-group--exclusive-option"
                              govuk-formgroup-asp-for="@Model.OtherPrinciples"
                              asp-selectlistitems="HomeTypesFormOptions.HappiDesignPrinciplesOnlyNone"
                              asp-for="@Model.OtherPrinciples"
                              asp-excludelabel="true">
                </gds-checkbox>

            </gds-field-set>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                Save and continue
            </button>
            <br/>

            <vc:return-to-application-link application-id="@applicationId"/>
        </gds-div-grid-column-two-thirds>
    </form>
</div>
