@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomesForDisabledPeopleBasicModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="HomesForDisabledPeople" asp-method="post" novalidate>
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.HomesForDisabledPeople"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header" />

        <gds-field-set>
            <gds-legend>
                <gds-h1>What type of homes will you be providing for disabled and vulnerable people?</gds-h1>
            </gds-legend>

            <gds-radio govuk-formgroup-asp-for="HousingType"
                       asp-hiddenlabeltext="What type of homes will you be providing for disabled and vulnerable people?"
                       value="@Model.HousingType"
                       asp-selectlistitems="@HomeTypesFormOptions.DisabledPeopleHousingTypes">
            </gds-radio>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                Save and continue
            </button>
        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
