@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Extensions
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeInformationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewBag.ValidationErrors = ViewData.ModelState.GetOrderedErrors(HomeTypesValidationFieldsOrder.HomeInformation);
    ViewData["Title"] = HomeTypesPageTitles.HomeInformation;
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="HomeInformation" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header title="@HomeTypesPageTitles.HomeInformation"
                                  current-page="@HomeTypesWorkflowState.HomeInformation"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"/>

        <gds-field-set>
            <he-error-form-group asp-for="NumberOfHomes">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the number of homes you are delivering</gds-h2>
                </gds-legend>
                <gds-input
                    class="govuk-input--width-2"
                    asp-hiddenlabeltext="Enter the number of homes you are delivering"
                    govuk-formgroup-asp-for="NumberOfHomes"
                    name="NumberOfHomes"
                    value=@Model.NumberOfHomes/>
            </he-error-form-group>

            <he-error-form-group asp-for="NumberOfBedrooms">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the number of bedrooms in each home</gds-h2>
                </gds-legend>
                <gds-input
                    class="govuk-input--width-2"
                    asp-hiddenlabeltext="Enter the number of homes you are delivering"
                    govuk-formgroup-asp-for="NumberOfBedrooms"
                    name="NumberOfBedrooms"
                    value=@Model.NumberOfBedrooms/>
            </he-error-form-group>

            <he-error-form-group asp-for="MaximumOccupancy">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the maximum occupancy of each home</gds-h2>
                </gds-legend>
                <gds-input
                    class="govuk-input--width-2"
                    asp-hiddenlabeltext="Enter the number of homes you are delivering"
                    asp-hinttext="This is the maximum number of people who can live in each home."
                    govuk-formgroup-asp-for="MaximumOccupancy"
                    name="MaximumOccupancy"
                    value=@Model.MaximumOccupancy/>
            </he-error-form-group>

            <he-error-form-group asp-for="NumberOfStoreys">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how many storeys each home has</gds-h2>
                </gds-legend>
                <gds-input
                    class="govuk-input--width-2"
                    asp-hiddenlabeltext="Enter how many storeys each home has"
                    asp-hinttext="If the homes are in a multi storey development, enter how many storeys are in each individual home."
                    govuk-formgroup-asp-for="NumberOfStoreys"
                    name="NumberOfStoreys"
                    value=@Model.NumberOfStoreys/>
            </he-error-form-group>

            <vc:form-button/>
        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
