@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.TagHelpers
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using tes = He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios;
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Input

@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeTypeDetailsModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetOptionalHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    var action = homeTypeId == null ? "NewHomeTypeDetails" : "HomeTypeDetails";
    ViewData["Title"] = HomeTypesPageTitles.HomeTypeDetails;
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="@action" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        <vc:home-type-form-header title="@HomeTypesPageTitles.HomeTypeDetails"
                                  current-page="@HomeTypesWorkflowState.HomeTypeDetails"
                                  application-id="@applicationId"
                                  caption="@Model.ApplicationName"/>

        <div class="govuk-caption-m govuk-!-margin-bottom-6">Create a home type for each identical type of property. If there are any differences, create a new home type.</div>

        <gds-field-set>
            <he-error-form-group asp-for="HomeTypeName">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Home type name</gds-h2>
                </gds-legend>
                <gds-input
                    asp-hiddenlabeltext="Home type name"
                    asp-labelclass="govuk-label"
                    asp-hinttext="Enter a unique name that will help you identify these homes in this application."
                    govuk-formgroup-asp-for="HomeTypeName"
                    name="HomeTypeName"
                    value=@Model.HomeTypeName/>
            </he-error-form-group>

            <he-error-form-group asp-for="HousingType">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">What type of homes are you delivering?</gds-h2>
                </gds-legend>
                <gds-radio govuk-formgroup-asp-for="HousingType"
                           asp-hiddenlabeltext="What type of homes are you delivering?"
                           value="@Model.HousingType"
                           asp-selectlistitems="@HomeTypesFormOptions.HousingTypes"
                           class="govuk-!-margin-bottom-8">
                </gds-radio>
            </he-error-form-group>

            <vc:form-button/>

        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
