@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@model HE.Investment.AHP.WWW.Models.HomeTypes.HomeTypeListModel;

@{
    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .WithScheme(this.GetSchemeId(), Model.SchemeName)
        .Build();
}

<div class="govuk-grid-column-full govuk-!-margin-top-6">
    <gds-div-hint class="govuk-!-margin-top-1">@Model.SchemeName - Home types</gds-div-hint>
    <gds-h1 size="ControlSize.L">
        Home types
    </gds-h1>

    <gds-p class="govuk-!-width-three-quarters">
        Add the home types that will be included in this scheme. You can also duplicate a home type then edit if you have similar home types.
    </gds-p>

    @if (Model.HomeTypes.Any())
    {
        <table class="govuk-table">
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Home type name</th>
                <th scope="col" class="govuk-table__header">Number of homes</th>
                <th scope="col" class="govuk-table__header">Type of housing</th>
                <th scope="col" class="govuk-table__header"/>
            </tr>
            </thead>
            <tbody class="govuk-table__body">
            @foreach (var homeType in Model.HomeTypes)
            {
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                        <a class="govuk-link govuk-link--no-visited-state" href="/@this.GetSchemeId()/home-types/housing-type/@homeType.HomeTypeId">
                            @(homeType.HomeTypeName ?? "-")
                        </a>
                    </td>
                    <td class="govuk-table__cell">
                        @homeType.NumberOfHomes
                    </td>
                    <td class="govuk-table__cell">
                        @HomeTypesFormOptions.GetHousingTypeDescription(homeType.HousingType)
                    </td>
                    <td class="govuk-table__cell govuk-!-text-align-right">
                        <form asp-controller="HomeTypes"
                              asp-action="Duplicate"
                              asp-method="post"
                              asp-all-route-data="@(new Dictionary<string, string> { { "schemeId", this.GetSchemeId() }, { "homeTypeId", homeType.HomeTypeId } })"
                              novalidate>

                            <button class="govuk-button--disabled"

                                    type="submit"
                                    name="action"
                                    >Duplicate</button>
                        </form>

                        <a class="govuk-link govuk-link govuk-link--no-visited-state govuk-!-margin-left-2">Remove</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <gds-p class="govuk-!-margin-top-8 govuk-!-margin-bottom-8">
            Your home type details will appear here once added.
        </gds-p>
    }

    <a href="/@ViewContext.RouteData.Values["schemeId"]/home-types/housing-type">
        <gds-button type="button">Add a home type</gds-button>
    </a>

    @if (Model.HomeTypes.Any())
    {
        <gds-p class="govuk-!-font-weight-bold">Finished adding home types</gds-p>
        <gds-p>If you’ve finished adding home types, choose to save and continue.</gds-p>
        <gds-button type="button" class="govuk-button--secondary">Save and continue</gds-button>
    }

    <br/>
    <gds-link class="govuk-link govuk-link--no-visited-state">Save and return to application</gds-link>
</div>
