@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.HomeTypes
@using HE.Investment.AHP.WWW.Config
@inject IExternalLinks ExternalLinks
@model HE.Investment.AHP.WWW.Models.HomeTypes.ModernMethodsConstructionModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.ModernMethodsConstruction;
}

<gds-div-grid-column-two-thirds xmlns="http://www.w3.org/1999/html">
    <form asp-controller="HomeTypes" asp-action="ModernMethodsConstruction" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.ModernMethodsConstruction"
                                  caption="@Model.Header"/>
        <gds-field-set>
            <he-error-form-group asp-for="ModernMethodsConstructionApplied">
                <gds-legend>
                    <gds-h1 class="govuk-!-margin-bottom-2">@HomeTypesPageTitles.ModernMethodsConstruction</gds-h1>
                </gds-legend>
                <details class="govuk-details govuk-!-margin-bottom-2" data-module="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            Help with Modern Methods of Construction (MMC)
                        </span>
                    </summary>
                    <div class="govuk-details__text">
                        The MMC definition framework is a new seven category framework that enables a full and future-proofed range of 'Modern Methods of Construction' used in home building.<br/><br/>
                        The framework spans all types of pre-manufacturing, site based materials and process innovation.<br/><br/>
                        <a class="govuk-link" target="_blank"
                           href="@ExternalLinks.MmcIntroduction">
                            Read further information on the MMC categories (opens in a new tab).
                        </a>
                    </div>
                </details>
                <gds-radio govuk-formgroup-asp-for="ModernMethodsConstructionApplied"
                           asp-hiddenlabeltext="Modern Methods Construction Applied"
                           value="@Model.ModernMethodsConstructionApplied"
                           asp-selectlistitems="@CommonFormOptions.YesNo"
                           class="govuk-!-margin-bottom-2">
                </gds-radio>
            </he-error-form-group>
            <vc:form-button/>
        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
