@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model HE.Investment.AHP.WWW.Models.HomeTypes.MoreInformationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="MoveOnArrangements" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header
            current-page="@HomeTypesWorkflowState.MoveOnArrangements"
            application-id="@applicationId"
            home-type-id="@homeTypeId"
            caption="@Model.Header"/>

        <vc:text-area-input-with-counter
            field-name="@nameof(Model.MoreInformation)"
            value="@Model.MoreInformation"
            header="Tell us the move on arrangements that are in place for when these homes are used as short stay accommodation"/>

        <vc:form-button/>
        <br/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
