@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@model HE.Investment.AHP.WWW.Models.HomeTypes.MoveOnAccommodationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
}

<div class="govuk-grid-column-two-thirds">
    <form asp-controller="HomeTypes" asp-action="MoveOnAccommodation" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.MoveOnAccommodation"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"/>

        <gds-field-set>
            <gds-legend>
                <gds-h1 class="govuk-!-margin-bottom-0">Are these homes intended as move on accommodation?</gds-h1>
            </gds-legend>

            <gds-radio govuk-formgroup-asp-for="IntendedAsMoveOnAccommodation"
                       asp-hiddenlabeltext="Are these homes intended as move on accommodation?"
                       asp-hinttext="Move on accommodation is temporary accommodation to help people living in hostels make the transition to independent living."
                       value="@Model.IntendedAsMoveOnAccommodation"
                       asp-selectlistitems="@CommonFormOptions.YesNo">
            </gds-radio>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
                Save and continue
            </button>
        </gds-field-set>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
