@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Extensions
@using HE.Investment.AHP.Contract.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.OlderPersonsSharedOwnershipModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    var (expectedFirstTrancheInvalid, expectedFirstTrancheError) = ViewData.ModelState.GetErrors(nameof(Model.ExpectedFirstTranche));
    var (rentAsPercentageOfTheUnsoldShareInvalid, rentAsPercentageOfTheUnsoldShareError) = ViewData.ModelState.GetErrors(nameof(Model.RentAsPercentageOfTheUnsoldShare));
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="OlderPersonsSharedOwnership" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.OlderPersonsSharedOwnership"
                                  caption="@Model.Header"
                                  title="Older Persons Shared Ownership (OPSO) details"/>
        <gds-field-set>
            <he-error-form-group asp-for="MarketValue">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the market value of each home</gds-h2>
                </gds-legend>
                <gds-span-hint>
                    Enter the market value in pounds only.
                </gds-span-hint>
                <gds-input
                    class="govuk-input--width-5"
                    asp-hiddenlabeltext="Enter the number of market value"
                    govuk-formgroup-asp-for="MarketValue"
                    name="MarketValue"
                    value=@Model.MarketValue
                    asp-prefixtext="GdsInputPrefixText.Pounds"/>
            </he-error-form-group>

            <he-error-form-group asp-for="InitialSale">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the average assumed first tranche sale percentage</gds-h2>
                </gds-legend>
                <gds-span-hint>
                    This is the average percentage share that you are assuming your purchasers will buy in their initial purchase (must be between 10% and 75%).
                </gds-span-hint>
                <gds-input
                    class="govuk-input--width-2"
                    asp-hiddenlabeltext="Enter the average assumed first tranche sale percentage"
                    govuk-formgroup-asp-for="InitialSale"
                    name="InitialSale"
                    value=@Model.InitialSale
                    asp-suffixtext="GdsInputSuffixText.Percent"/>
            </he-error-form-group>

            <he-error-form-group asp-for="ExpectedFirstTranche">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-4">Assumed first tranche sales receipt</gds-h2>
                </gds-legend>

                @if (expectedFirstTrancheInvalid)
                {
                    <p class="govuk-error-message field-validation-error govuk-!-margin-top-1">
                        <span class="govuk-visually-hidden">Error:</span> @expectedFirstTrancheError
                    </p>
                }

                <gds-p class="govuk-!-margin-top-1">
                    @(Model.ExpectedFirstTranche ?? "To calculate the assumed first tranche sales receipt, enter the market value of each home and the average assumed first tranche sale. Then select the calculate button.")
                </gds-p>
            </he-error-form-group>

            <he-error-form-group asp-for="ProspectiveRent">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter the rent per week</gds-h2>
                </gds-legend>
                <gds-span-hint>
                    Enter the rent in pounds and pence. This is inclusive of all charges.
                </gds-span-hint>
                <gds-input
                    class="govuk-input--width-4"
                    asp-hiddenlabeltext="Enter the Shared Ownership rent per week"
                    govuk-formgroup-asp-for="ProspectiveRent"
                    name="ProspectiveRent"
                    value=@Model.ProspectiveRent
                    asp-prefixtext="GdsInputPrefixText.Pounds"
                    asp-suffixtext="GdsInputSuffixText.PerWeek"/>
            </he-error-form-group>

            <he-error-form-group asp-for="RentAsPercentageOfTheUnsoldShare">
                <gds-legend>
                    <gds-h2 class="govuk-!-margin-bottom-0">Rent as percentage of the unsold share</gds-h2>
                </gds-legend>
                <div class="govuk-!-margin-bottom-2">
                    <gds-span-hint>
                        This is calculated by dividing the rent by the market value of the home left after the assumed first tranche sale.
                        This must not be more than 3%.
                    </gds-span-hint>
                </div>

                @if (rentAsPercentageOfTheUnsoldShareInvalid)
                {
                    <p class="govuk-error-message field-validation-error govuk-!-margin-top-1">
                        <span class="govuk-visually-hidden">Error:</span> @rentAsPercentageOfTheUnsoldShareError
                    </p>
                }

                <gds-p class="govuk-!-margin-top-1">
                    @(Model.RentAsPercentageOfTheUnsoldShare.IsProvided() ? $"{Model.RentAsPercentageOfTheUnsoldShare}%"
                        : "To calculate the rent as percentage of the unsold share, enter the rent per week once you have found the assumed first tranche sales receipt. Then select the calculate button.")
                </gds-p>
            </he-error-form-group>

            <partial name="_CalculateButton"/>
            <vc:form-button/>

        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
