@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.Domain.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.RemoveHomeTypeModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-three-quarters">
    <vc:home-type-form-header title="Remove @Model.HomeTypeName Home type"
                              current-page="@HomeTypesWorkflowState.RemoveHomeType"
                              application-id="@applicationId"
                              home-type-id="@homeTypeId"
                              caption="@Model.ApplicationName"/>
    <gds-p>
        Do you really want to remove this Home Type?
    </gds-p>
</div>
