@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@model HE.Investment.AHP.WWW.Models.HomeTypes.RemoveHomeTypeModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<div class="govuk-grid-column-three-quarters">
    <form asp-controller="HomeTypes" asp-action="Remove" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.RemoveHomeType"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"/>

        <he-error-form-group asp-for="RemoveHomeTypeAnswer">
            <gds-h1>Are you sure you want to remove this home type?</gds-h1>
            <gds-radio govuk-formgroup-asp-for="RemoveHomeTypeAnswer"
                       asp-hiddenlabeltext="Are you sure you want to remove this home type?"
                       value="@Model.RemoveHomeTypeAnswer"
                       asp-selectlistitems="@HomeTypesFormOptions.RemoveHomeTypes">
            </gds-radio>
        </he-error-form-group>

        <vc:form-button/>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
