@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.RevenueFundingModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="RevenueFunding" asp-method="post" novalidate>
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.RevenueFunding"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"
                                  title="Where are you receiving revenue funding from for these homes?"/>

        <gds-field-set class="govuk-!-margin-bottom-6">
            <span class="govuk-caption-m govuk-!-margin-bottom-6">Select all that apply</span>
            <FormHiddenLabel
                field-name="Sources"
                title="Revenue funding sources"/>
            <gds-checkbox class="exclusive-checkbox-group"
                          govuk-formgroup-asp-for="@Model.Sources"
                          asp-selectlistitems="HomeTypesFormOptions.RevenueFundingSourceTypes"
                          asp-for="@Model.Sources"
                          asp-excludelabel>
            </gds-checkbox>
        </gds-field-set>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
            Save and continue
        </button>
        <br/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
