@using HE.Investment.AHP.Domain.HomeTypes
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.Messages
@model HE.Investment.AHP.WWW.Models.HomeTypes.SocialRentModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="SocialRent" asp-method="post" asp-route-workflow="@workflow" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.SocialRent"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"/>
        <gds-field-set>
            <gds-legend>
                <gds-h1 class="govuk-!-margin-bottom-2">Social Rent details</gds-h1>
            </gds-legend>

            <gds-legend>
                <gds-h2>Enter the market value of each home</gds-h2>
            </gds-legend>
            <div class="govuk-!-margin-bottom-6">
                <gds-span-hint>
                    Enter the market value in pounds only.
                </gds-span-hint>
            </div>
            <gds-input
                class="govuk-input--width-4"
                asp-hiddenlabeltext="Enter the number of market value"
                govuk-formgroup-asp-for="MarketValue"
                name="MarketValue"
                value=@Model.MarketValue
                asp-prefixtext="GdsInputPrefixText.Pounds"/>

            <gds-legend>
                <gds-h2>Enter the market rent per week</gds-h2>
            </gds-legend>
            <div class="govuk-!-margin-bottom-6">
                <gds-span-hint>
                Enter the rent in pounds and pence. This is inclusive of all charges.
                </gds-span-hint>
            </div>
            <gds-input
                class="govuk-input--width-4"
                asp-hiddenlabeltext="Enter the number of market rent per week"
                govuk-formgroup-asp-for="MarketRent"
                name="MarketRent"
                value=@Model.MarketRent
                asp-prefixtext="GdsInputPrefixText.Pounds"
                asp-suffixtext="GdsInputSuffixText.PerWeek"/>

            <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="@GenericMessages.Continue" id="continue-button">
                Save and continue
            </button>

        </gds-field-set>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
