@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.HomeTypes
@using HE.Investment.AHP.WWW.Views.HomeTypes.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.HomeTypeFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.HomeTypes
@model HE.Investment.AHP.WWW.Models.HomeTypes.TypeBasicOfFacilitiesModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var workflow = Context.Request.Query["workflow"];
    ViewData["Title"] = HomeTypesPageTitles.TypeOfFacilities;
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="TypeOfFacilities" asp-method="post" asp-route-workflow="@workflow" novalidate>
        <vc:home-type-form-header
            current-page="@HomeTypesWorkflowState.TypeOfFacilities"
            caption="@Model.Header"/>

        <vc:radio-list
            field-name="@nameof(Model.FacilityType)"
            header="@HomeTypesPageTitles.TypeOfFacilities"
            available-options="@FacilityTypeOptions.FacilityTypes"
            value="@Model.FacilityType"/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
