@using HE.Investment.AHP.Domain.HomeTypes;
@using HE.Investment.AHP.WWW.Extensions;
@model HE.Investment.AHP.WWW.Models.HomeTypes.MoreInformationModel;

@{
    var applicationId = this.GetApplicationIdFromRoute();
    var homeTypeId = this.GetHomeTypeIdFromRoute();
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="HomeTypes" asp-action="TypologyLocationAndDesign" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.HomeTypeName)
        <vc:home-type-form-header current-page="@HomeTypesWorkflowState.TypologyLocationAndDesign"
                                  application-id="@applicationId"
                                  home-type-id="@homeTypeId"
                                  caption="@Model.Header"
                                  title="Tell us how the typology, location and design of these homes meet the needs of the intended residents"/>

        <gds-span-hint>Typology is the classification and characteristics of the homes you are building.</gds-span-hint>
        <gds-field-set class="govuk-!-margin-bottom-4 govuk-!-margin-top-4">
            <vc:form-hidden-label
                field-name="MoreInformation"
                title="More information"/>
            <he-text-area asp-for="MoreInformation" rows="7" class="govuk-!-margin-bottom-1"></he-text-area>
            <gds-span-hint>You can enter up to 1500 characters</gds-span-hint>
        </gds-field-set>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue" id="continue-button">
            Save and continue
        </button>
        <br/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</gds-div-grid-column-two-thirds>
