@using HE.Investment.AHP.Domain.FinancialDetails;
@using HE.Investment.AHP.Domain.FinancialDetails.Constants;
@using HE.Investment.AHP.WWW.Models.Common;
@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investments.Common.WWW.Extensions;
@model FinancialDetailsCheckAnswersModel
@{
    ViewData["Title"] = FinancialDetailsPageTitles.CheckAnswers;
    var (costsAndFundingAreInvalid, costAndFundingErrors) = @ViewData.ModelState.GetErrors(FinancialDetailsValidationFieldNames.CostsAndFunding);
    var errorCssClass = costsAndFundingAreInvalid ? "govuk-form-group--error" : string.Empty;
}
<div class="govuk-grid-column-full">
    <form asp-controller="FinancialDetails" asp-action="CheckAnswers" asp-route-applicationId="@Model.ApplicationId" asp-method="post" novalidate>
        <vc:financial-details-form-header title="@FinancialDetailsPageTitles.CheckAnswers"
                                          current-page="@FinancialDetailsWorkflowState.CheckAnswers"
                                          application-id="@Model.ApplicationId.ToString()"
                                          caption="@Model.ApplicationName - Financial details" />

        <vc:section-summary title="@Model.LandValueSummary.Title" items="@Model.LandValueSummary.Items" />
        <div class="govuk-form-group @errorCssClass">
            <vc:error-message asp-for="CostsAndFunding" />
            <vc:section-summary title="@Model.CostsSummary.Title" items="@Model.CostsSummary.Items" name="@FinancialDetailsValidationFieldNames.CostsAndFunding" />
            <vc:section-summary title="@Model.ContributionsSummary.Title" items="@Model.ContributionsSummary.Items" />
        </div>

        @Html.HiddenFor(m => Model.ApplicationName)
        <gds-field-set role="group">
            <gds-legend>
                <gds-h2>Have you completed this section?</gds-h2>
            </gds-legend>
            <gds-div-form-group>
                <vc:error-message asp-for="@Model.IsCompleted" />
                <div class="govuk-!-margin-bottom-6 govuk-radios">
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.IsCompleted, true, new { @class = "govuk-radios__input", id = "IsCompleted-True" })
                        <label class="govuk-label govuk-radios__label" for="IsCompleted-True">Yes</label>
                    </div>
                    <div class="govuk-radios__item">
                        @Html.RadioButtonFor(m => m.IsCompleted, false, new { @class = "govuk-radios__input", id = "IsCompleted-False" })
                        <label class="govuk-label govuk-radios__label" for="IsCompleted-False">No, I'll come back later</label>
                    </div>
                </div>
            </gds-div-form-group>
            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Save and continue
            </button>
        </gds-field-set>
        <vc:return-to-application-link application-id="@Model.ApplicationId.ToString()" />
    </form>
</div>
