@using HE.Investment.AHP.Domain.FinancialDetails;
@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investment.AHP.WWW.Views.Shared.Components.FinancialDetailsFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Extensions;
@model FinancialDetailsContributionsModel;
@{
    ViewData["Title"] = FinancialDetailsPageTitles.ExpectedContributions;
    ViewBag.validationErrors = ViewData.ModelState.GetOrderedErrors(FinancialDetailsValidationFieldsOrder.ExpectedContributions);
}
<gds-div-grid-column-two-thirds>
    <form asp-controller="FinancialDetails" asp-action="Contributions" asp-route-applicationId="@Model.ApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:financial-details-form-header title="@FinancialDetailsPageTitles.ExpectedContributions"
                                          current-page="@FinancialDetailsWorkflowState.Contributions"
                                          application-id="@Model.ApplicationId.ToString()"
                                          caption="@Model.ApplicationName - Finance details" />


        <gds-p>
            For multi-tenure sites, ensure the costs and contributions are apportioned across the development and only those applicable to the homes on this application are recorded here.
            <br />You can add any grants you receive from other public bodies in the next section. Enter to the nerarest pound. If you have not contributed, enter 0.
        </gds-p>

        <gds-field-set>
            <he-error-form-group asp-for="RentalIncomeBorrowing">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you will contribute from borrowing against rental income for this scheme</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="RentalIncomeBorrowing"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="RentalIncomeBorrowing"
                           name="RentalIncomeBorrowing"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.RentalIncomeBorrowing />
            </he-error-form-group>

            <he-error-form-group asp-for="SaleOfHomesOnThisScheme">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you will contribute from cross subsidy from the sale of open market homes on this scheme</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="SaleOfHomesOnThisScheme"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="SaleOfHomesOnThisScheme"
                           name="SaleOfHomesOnThisScheme"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.SaleOfHomesOnThisScheme />
            </he-error-form-group>

            <he-error-form-group asp-for="SaleOfHomesOnOtherSchemes">

                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you will contribute from cross subsidy from the sale of open market homes on other schemes</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="SaleOfHomesOnOtherSchemes"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="SaleOfHomesOnOtherSchemes"
                           name="SaleOfHomesOnOtherSchemes"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.SaleOfHomesOnOtherSchemes />
            </he-error-form-group>
            <he-error-form-group asp-for="OwnResources">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you intend to contribute from your own resources</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="OwnResources"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="OwnResources"
                           name="OwnResources"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.OwnResources />
            </he-error-form-group>
            <he-error-form-group asp-for="RCGFContribution">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you intend to contribute from Recycled Capital Grand Fund</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="RcgfContribution"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="RCGFContribution"
                           name="RcgfContribution"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.RCGFContribution />
            </he-error-form-group>
            <he-error-form-group asp-for="OtherCapitalSources">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you will contribute from other capital sources (not including grants from other public bodies)</gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="OtherCapitalSources"
                           class="govuk-input--width-5"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="OtherCapitalSources"
                           name="OtherCapitalSources"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.OtherCapitalSources />
            </he-error-form-group>
            @if (Model.IsSharedOwnership)
            {
                <he-error-form-group asp-for="SharedOwnershipSales">
                    <gds-legend class="govuk-!-margin-bottom-0">
                        <gds-h2 class="govuk-!-margin-bottom-0">Enter how much you will contribute from initial sales receipts from shared ownership homes</gds-h2>
                    </gds-legend>
                    <gds-input asp-hiddenlabeltext="SharedOwnershipSales"
                               class="govuk-input--width-5"
                               asp-labelclass="govuk-label"
                               govuk-formgroup-asp-for="SharedOwnershipSales"
                               name="SharedOwnershipSales"
                               asp-prefixtext=@(GdsInputPrefixText.Pounds)
                               value=@Model.SharedOwnershipSales />
                </he-error-form-group>
            }
            @if (Model.IsUnregisteredBodyAccount)
            {
                <he-error-form-group asp-for="HomesTransferValue">
                    <gds-legend class="govuk-!-margin-bottom-0">
                        <gds-h2 class="govuk-!-margin-bottom-0">Enter the transfer value of the homes on this scheme</gds-h2>
                    </gds-legend>
                    <gds-input asp-hiddenlabeltext="HomesTransferValue"
                               class="govuk-input--width-5"
                               asp-labelclass="govuk-label"
                               govuk-formgroup-asp-for="HomesTransferValue"
                               name="HomesTransferValue"
                               asp-prefixtext=@(GdsInputPrefixText.Pounds)
                               value=@Model.HomesTransferValue />
                </he-error-form-group>
            }
            <div class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <div class="govuk-grid-column-three-quarters govuk-!-padding-left-0">
                        <span class="govuk-heading-m">Total expected contributions to the scheme</span>
                    </div>
                    <div class="govuk-grid-column-one-quarters">
                        <span class="govuk-heading-m">£@(Model.TotalExpectedContributions ?? "-")</span>
                    </div>
                </div>
            </div>

            <partial name="_CalculateButton"/>
            <vc:form-button/>

            @Html.HiddenFor(c => c.ApplicationId)
            @Html.HiddenFor(c => c.ApplicationName)
            @Html.HiddenFor(c => c.IsSharedOwnership)
            @Html.HiddenFor(c => c.IsUnregisteredBodyAccount)
        </gds-field-set>
        <vc:return-to-application-link application-id="@Model.ApplicationId.ToString()" />
    </form>
</gds-div-grid-column-two-thirds>
