@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@model FinancialDetailsBaseModel
@{
    ViewData["Title"] = "Financial details";
}
<div id="mainContainer" role="main">
    <gds-div-grid-column-two-thirds>
        <form asp-controller="FinancialDetails" asp-action="Start" asp-route-applicationId="@Model.ApplicationId" asp-route-applicationName="@Model.ApplicationName" asp-method="post" novalidate>
            <div id="backButton" role="navigation">
                <gds-back-link href="@Url.Action("Index", "Home")" text="Back" class="govuk-!-margin-bottom-8">
                </gds-back-link>
            </div>
            <span class="govuk-caption-m">
                @Model.ApplicationName - Financial details
            </span>
            <gds-h1 class="govuk-heading-xl">
                @FinancialDetailsPageTitles.StartPage
            </gds-h1>

            <div class="govuk-!-padding-bottom-8">
                <gds-p>In this section you'll need to provide financial information related to your application. This includes:</gds-p>
                <gds-ul>
                    <gds-li>land value and acquisition cost</gds-li>
                    <gds-li>other scheme cost</gds-li>
                    <gds-li>borrowing and other contributions</gds-li>
                    <gds-li>grants received from other public bodies</gds-li>
                </gds-ul>
                <gds-p>For multi-tenure sites, ensure the costs and contributions are apportioned across the development and only those applicable to the homes on this application are recorded here.</gds-p>
                <gds-p>If your application concerns existing properties, rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.</gds-p>
            </div>
            <button role="navigation" id="start-now-button" class="govuk-button govuk-button--start" data-module="govuk-button" name="action" type="submit" value="Continue">
                Start now
                <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
                </svg>
            </button>


        </form>
    </gds-div-grid-column-two-thirds>
</div>
