@using HE.Investment.AHP.Domain.FinancialDetails;
@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investments.Common.Gds;
@model FinancialDetailsLandStatusModel
@{
    ViewData["Title"] = "Land status";
}
<div id="mainContainer" role="main">
    <div class="govuk-grid-column-full">
        <form asp-controller="FinancialDetails" asp-action="LandStatus" asp-route-applicationId="Model.ApplicationId" asp-method="post" novalidate>
            <div id="backButton" role="navigation">
                <gds-back-link href="@Url.Action("Back", "FinancialDetails", new { currentPage = FinancialDetailsWorkflowState.LandStatus, applicationId = Model.ApplicationId })" text="Back" class="govuk-!-margin-bottom-8">
                </gds-back-link>
            </div>
            @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
            <gds-field-set role="group">
                <gds-div-form-group>
                    <vc:form-header title="@FinancialDetailsPageTitles.LandStatusPage" caption="@Model.ApplicationName - Financial details"/>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group" invalid=false>
                        <gds-p>
                            You told us during the site section of your application that your land status was:<br/>
                            @if (Model.IsPurchasePriceKnown)
                            {
                                <strong>Unconditional acquisition of freehold or long leasehold interest has occurred.</strong>
                            }
                            else
                            {
                                <strong>
                                    Land purchase negotiations underway
                                </strong>
                            }
                        </gds-p>
                        <he-div-hint>
                            If your application concerns existing properties rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.
                        </he-div-hint>
                    </gds-field-set>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group">
                        <gds-legend>
                            @if (Model.IsPurchasePriceKnown)
                            {
                                <gds-h2 for="@Model.PurchasePrice">
                                    Enter the purchase price of the land
                                </gds-h2>
                            }
                            else
                            {
                                <gds-h2 for="@Model.PurchasePrice">
                                    Enter the expected purchase price of the land
                                </gds-h2>
                            }
                        </gds-legend>
                        <he-div-hint>
                            The purchase price must be backed by a valuation report from a qualified independent valuer, valid at the date of exchange of purchase contracts.
                        </he-div-hint>

                        <gds-input govuk-formgroup-asp-for="PurchasePrice" type="text"
                                   asp-hiddenlabeltext="@(Model.IsPurchasePriceKnown ? "Enter the purchase price of the land" : "Enter the expected purchase price of the land")"
                                   asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model.PurchasePrice/>
                    </gds-field-set>
                </gds-div-form-group>

                @Html.HiddenFor(model => model.ApplicationId)
                @Html.HiddenFor(model => model.IsPurchasePriceKnown)
                @Html.HiddenFor(model => model.ApplicationName)

                <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                    Save and continue
                </button>

            </gds-field-set>
            <gds-p>
                <PageHeader application-id="@Model.ApplicationId.ToString()" />
            </gds-p>

        </form>
    </div>
</div>
