@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investment.AHP.WWW.Views.Shared.Components.FinancialDetailsFormHeader
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investment.AHP.Contract.FinancialDetails
@model FinancialDetailsLandStatusModel
@{
    ViewData["Title"] = FinancialDetailsPageTitles.LandStatusPage;
    var purchasePriceLabel = Model.IsFinal ? "Enter the purchase price of the land" : "Enter the expected purchase price of the land";
}

<gds-div-grid-column-two-thirds>
    <form asp-controller="FinancialDetails" asp-action="LandStatus" asp-route-applicationId="@Model.ApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:financial-details-form-header title="@FinancialDetailsPageTitles.LandStatusPage"
                                          current-page="@FinancialDetailsWorkflowState.LandStatus"
                                          application-id="@Model.ApplicationId.ToString()"
                                          caption="@Model.ApplicationName - Finance details" />

        <div class="govuk-body-l govuk-!-margin-bottom-6">
            You told us during the site section of your application that your land status was:<br />
            @if (Model.IsFinal)
            {
                <strong>Unconditional acquisition of freehold or long leasehold interest has occurred.</strong>
            }
            else
            {
                <div class="govuk-!-margin-bottom-9">
                    <strong>Land purchase negotiations underway</strong>
                </div>
            }
        </div>
        @if (Model.IsFinal)
        {
            <div class="govuk-body-m govuk-!-margin-bottom-6">
                If your application concerns existing properties rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.
            </div>
        }

        <gds-field-set>
            <he-error-form-group asp-for="PurchasePrice">
                <gds-legend class="govuk-!-margin-bottom-0">
                    <gds-h2 class="govuk-!-margin-bottom-0">
                        @purchasePriceLabel
                    </gds-h2>
                </gds-legend>
                <gds-input asp-hiddenlabeltext="PurchasePrice"
                           asp-hinttext="The purchase price must be backed by a valuation report from a qualified independent valuer, valid at the date of exchange of purchase contracts."
                           class="govuk-input--width-5 govuk-!-margin-bottom-9"
                           asp-labelclass="govuk-label"
                           govuk-formgroup-asp-for="PurchasePrice"
                           name="PurchasePrice"
                           asp-prefixtext=@(GdsInputPrefixText.Pounds)
                           value=@Model.PurchasePrice />
            </he-error-form-group>
            <vc:form-button/>

            @Html.HiddenFor(c => c.IsFinal)
            @Html.HiddenFor(c => c.ApplicationId)
            @Html.HiddenFor(c => c.ApplicationName)
        </gds-field-set>
        <vc:return-to-application-link application-id="@Model.ApplicationId.ToString()" />
    </form>
</gds-div-grid-column-two-thirds>
