@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts
@model HE.Investment.AHP.Contract.FinancialDetails.Models.FinancialDetailsViewModel
@{
    ViewData["Title"] = "Land status";
}
<div id="mainContainer" role="main">
    <gds-div-grid-column-two-thirds>
        <form asp-controller="FinancialDetails" asp-action="LandStatus" asp-route-financialDetailsId="@Model.FinancialDetailsId.Value" asp-method="post" novalidate>
            <div id="backButton" role="navigation">
                <gds-back-link href="@Url.Action("Start", "FinancialDetails", new { @Model.FinancialSchemaName })" text="Back" class="govuk-!-margin-bottom-8">
                </gds-back-link>
            </div>
            <span class="govuk-caption-m">
                @Model.FinancialSchemaName - Financial details
            </span>
            <gds-field-set role="group">
                <gds-div-form-group>
                    <gds-legend size="ControlSize.L">
                        <gds-fieldset-heading>
                            @FinancePageTitles.LandStatusPage
                        </gds-fieldset-heading>
                    </gds-legend>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group" invalid=false>
                        <gds-p>
                            You told us during the site section of your application that your land status was:<br />
                            @if (Model.IsPurchasePriceKnown)
                            {
                                <strong>Unconditional acquisition of freehold or long leasehold interest has occurred.</strong>
                            }
                            else
                            {
                                <strong>
                                    Land purchase negotiations underway
                                </strong>
                            }
                        </gds-p>
                        <gds-div-hint>
                            If your application concerns existing properties rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.
                        </gds-div-hint>
                    </gds-field-set>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group">
                        <legend>
                            @if (Model.IsPurchasePriceKnown)
                            {
                                <gds-label for="@Model.PurchasePrice" size="ControlSize.S">
                                    Enter the purchase price of the land
                                </gds-label>
                            }
                            else
                            {
                                <gds-label for="@Model.PurchasePrice" size="ControlSize.S">
                                    Enter the expected purchase price of the land
                                </gds-label>
                            }
                        </legend>
                        <gds-div-hint>
                            The purchase price must be backed by a valuation report from a qualified independent valuer, valid at the date of exchange of purchase contracts.
                        </gds-div-hint>

                        <gds-input govuk-formgroup-asp-for="PurchasePrice" type="text" asp-excludelabel
                                   asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model.PurchasePrice />
                    </gds-field-set>
                </gds-div-form-group>

                @Html.HiddenFor(model => model.FinancialDetailsId)
                @Html.HiddenFor(model => model.IsPurchasePriceKnown)
                @Html.HiddenFor(model => model.FinancialSchemaName)

                <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                    Save and continue
                </button>

            </gds-field-set>
            <gds-p>
                <gds-link href="#">
                    Save and return to application
                </gds-link>
            </gds-p>

        </form>
    </gds-div-grid-column-two-thirds>
</div>
