@using HE.Investment.AHP.Domain.FinancialDetails;
@using HE.Investment.AHP.WWW.Models.Common;
@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@model FinancialDetailsLandValueModel
@{
    ViewData["Title"] = "Land value";
}
<gds-div-grid-column-two-thirds>
    <form asp-controller="FinancialDetails" asp-action="LandValue" asp-route-applicationId="@Model.ApplicationId" asp-route-redirect="@Context.Request.Query["redirect"]" asp-method="post" novalidate>
        <vc:financial-details-form-header title="@FinancialDetailsPageTitles.LandValuePage"
                                          current-page="@FinancialDetailsWorkflowState.LandValue"
                                          application-id="@Model.ApplicationId.ToString()"
                                          caption="@Model.ApplicationName - Financial details"/>
        <div class="govuk-body-m govuk-!-margin-bottom-6">
            If your application concerns existing properties rather than land-led development, this section is still relevant to you. Where we say 'site' or 'land', read 'properties'.
        </div>

        <gds-field-set>
            <gds-legend class="govuk-!-margin-bottom-0">
                <gds-h2 class="govuk-!-margin-bottom-1">
                    Is your scheme on public land
                </gds-h2>
            </gds-legend>
            <he-div-hint>
                Public land is land owned by the government.
            </he-div-hint>
            <gds-radio govuk-formgroup-asp-for="@Model.IsOnPublicLand"
                       asp-hiddenlabeltext="What type of homes will you be providing for disabled and vulnerable people?"
                       value="@Model.IsOnPublicLand"
                       asp-selectlistitems="@CommonFormOptions.YesNo">
            </gds-radio>

            <gds-legend class="govuk-!-margin-bottom-0">
                <gds-h2 class="govuk-!-margin-bottom-1">
                    Enter the current value of the land
                </gds-h2>
            </gds-legend>
            <gds-input asp-hiddenlabeltext="LandValue"
                       class="govuk-input--width-5"
                       asp-labelclass="govuk-label"
                       govuk-formgroup-asp-for="LandValue"
                       name="LandValue"
                       asp-prefixtext=@(GdsInputPrefixText.Pounds)
                       value=@Model.LandValue/>

            <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                Save and continue
            </button>

            @Html.HiddenFor(c => c.ApplicationId)
            @Html.HiddenFor(c => c.ApplicationName)
        </gds-field-set>
        <vc:return-to-application-link application-id="@Model.ApplicationId.ToString()"/>
    </form>
</gds-div-grid-column-two-thirds>
