@using HE.Investment.AHP.Domain.FinancialDetails.Constants;
@using HE.Investment.AHP.WWW.Models.FinancialDetails;
@using HE.Investment.AHP.Domain.FinancialDetails;
@using HE.Investment.AHP.WWW.Views.FinancialDetails.Consts;
@using HE.Investments.Common.WWW.Extensions;
@model FinancialDetailsOtherApplicationCostsModel;
@{
    ViewData["Title"] = FinancialDetailsPageTitles.OtherApplicationCosts;

    var (expectedWorksCostsInvalid, expectedWorksCostsErrors) = @ViewData.ModelState.GetErrors(FinancialDetailsValidationFieldNames.ExpectedWorksCosts);
    var (expectedOnCostsInvalid, expectedWorksOnErrors) = @ViewData.ModelState.GetErrors(FinancialDetailsValidationFieldNames.ExpectedOnCosts);

    var errorsList = new string[] { expectedWorksCostsErrors, expectedWorksOnErrors };
}
<div id="mainContainer" role="main">
    <div class="govuk-grid-column-full">
        <form asp-controller="FinancialDetails" asp-action="OtherApplicationCosts" asp-route-applicationId="@Model.ApplicationId" asp-method="post" novalidate>
            <div id="backButton" role="navigation">
                <gds-back-link href="@Url.Action("Back", "FinancialDetails", new { currentPage = FinancialDetailsWorkflowState.OtherApplicationCosts, applicationId = @Model.ApplicationId })" text="Back" class="govuk-!-margin-bottom-8">
                </gds-back-link>
            </div>
            @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")
            <gds-field-set role="group">
                <gds-div-form-group>
                    <vc:form-header title="@FinancialDetailsPageTitles.OtherApplicationCosts" caption="@Model.ApplicationName - Financial details" />
                    <gds-field-set role="group" invalid=false>
                        <he-div-hint class="govuk-!-margin-bottom-6">
                            For multi-tenure sites, ensure the costs and contributions are apportioned across the development and only those applicable to the homes on this application are recorded here.
                        </he-div-hint>
                    </gds-field-set>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group" invalid=@expectedWorksCostsInvalid>
                        <gds-legend>
                            <gds-h2 for="@Model.ExpectedWorksCosts">
                                Enter your expected works costs
                            </gds-h2>
                        </gds-legend>

                        <gds-input govuk-formgroup-asp-for="@Model.ExpectedWorksCosts" type="text"
                                   asp-hiddenlabeltext="Enter your expected works costs"
                                   asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model?.ExpectedWorksCosts />
                    </gds-field-set>
                    <gds-field-set class="govuk-!-margin-bottom-6" role="group" invalid=@expectedOnCostsInvalid>
                        <gds-legend>
                            <gds-h2 for="@Model.ExpectedOnCosts">
                                Enter your expected on costs
                            </gds-h2>
                        </gds-legend>

                        <gds-input govuk-formgroup-asp-for="@Model.ExpectedOnCosts" type="text"
                                   asp-hiddenlabeltext="Enter your expected on costs"
                                   asp-prefixtext=@(GdsInputPrefixText.Pounds) class="govuk-!-width-one-quarter" value=@Model?.ExpectedOnCosts />
                    </gds-field-set>
                    <gds-details>
                        <gds-summary-details>What are works and on costs?</gds-summary-details>
                        <gds-div-details-text>
                            Details of eligable work and on costs can be found in the
                            <a href="https://www.gov.uk/government/publications/grant-agreement-examples-for-the-affordable-homes-programme-2021-to-2026" target="_blank">
                                published examples of the 21-26 AHP grant agreement (opens in a new tab)
                            </a>
                        </gds-div-details-text>
                    </gds-details>
                </gds-div-form-group>

                @Html.HiddenFor(c => c.ApplicationId)
                @Html.HiddenFor(c => c.ApplicationName)

                <button id="continue-button" class="govuk-button" data-module="govuk-button" name="action" type="submit" value="Continue">
                    Save and continue
                </button>

            </gds-field-set>
            <gds-p>
                <vc:return-to-application-link application-id="@Model.ApplicationId.ToString()" />
            </gds-p>

        </form>
    </div>
</div>
