@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.TagHelpers
@using He.AspNetCore.Mvc.Gds.Components.TagHelpers.Radios
@using HE.Investments.Common.WWW.Components.FormButton
@model HE.Investment.AHP.WWW.Models.Delivery.CompleteDeliverySectionModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
}

<div class="govuk-grid-column-three-quarters">
    <vc:back-link-with-callback url="@Url.Action("List", "Delivery", new { applicationId })" />

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Delivery" asp-action="Complete" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)

        <vc:form-header caption="@Model.ApplicationName"/>
        <he-error-form-group asp-for="IsSectionCompleted">
            <gds-h1>Have you completed this section?</gds-h1>
            <gds-radio class="govuk-!-margin-top-3"
                       govuk-formgroup-asp-for="IsSectionCompleted"
                       asp-hiddenlabeltext="Have you completed this section?"
                       value="@Model.IsSectionCompleted"
                       asp-selectlistitems="@CommonFormOptions.IsSectionCompleted">
            </gds-radio>
        </he-error-form-group>

        <vc:form-button/>
        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
