@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Delivery
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@using HE.Investment.AHP.WWW.Views.Shared.Components.ReturnToApplicationLink
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.FormButton
@using HE.Investments.Common.WWW.Components.RadioList
@model HE.Investment.AHP.WWW.Models.Delivery.CompleteDeliverySectionModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var title = DeliveryPageTitles.Complete;
}

<div class="govuk-grid-column-three-quarters">
    <vc:back-link-with-callback url="@Url.Action("List", "Delivery", new { applicationId })" />

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Delivery" asp-action="Complete" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)

        <vc:page-header caption="@Model.ApplicationName"/>

        <vc:radio-list
            header="@title"
            field-name="@nameof(Model.IsDeliveryCompleted)"
            available-options="@DeliveryFormOptions.CompleteDelivery"
            value="@Model.IsDeliveryCompleted"/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
