@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Models.Common
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@using HE.Investments.Common.WWW.Components.BackLinkWithCallback
@using HE.Investments.Common.WWW.Components.FormHeader
@using HE.Investments.Common.WWW.Components.FormButton
@model HE.Investment.AHP.WWW.Models.Delivery.CompleteDeliverySectionModel;
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var title = DeliveryPageTitles.Complete;
}

<div class="govuk-grid-column-three-quarters">
    <vc:back-link-with-callback url="@Url.Action("List", "Delivery", new { applicationId })" />

    @await Html.PartialAsync("~/Partials/Errors/_ErrorSummaryPartial.cshtml")

    <form asp-controller="Delivery" asp-action="Complete" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)

        <vc:form-header caption="@Model.ApplicationName"/>

        <vc:radio-list
            header="@title"
            field-name="@nameof(Model.IsSectionCompleted)"
            available-options="@CommonFormOptions.IsSectionCompletedExtended"
            value="@Model.IsSectionCompleted"/>

        <vc:form-button/>

        <vc:return-to-application-link application-id="@applicationId"/>
    </form>
</div>
