@using HE.Investment.AHP.WWW.Routing
@using HE.Investment.AHP.WWW.Extensions
@using HE.Investment.AHP.WWW.Views.Delivery.Const
@using HE.Investments.Common.Gds
@model HE.Investment.AHP.WWW.Models.Delivery.DeliveryListModel
@{
    var applicationId = this.GetApplicationIdFromRoute();
    var title = DeliveryPageTitles.List;

    ViewBag.Breadcrumbs = AhpBreadcrumbsBuilder
        .New()
        .WithSites()
        .WithSchemes()
        .WithApplication(applicationId, Model.ApplicationName)
        .Build();
}

<div class="govuk-grid-column-full govuk-!-margin-top-6">
    <partial name="~/Partials/Errors/_ErrorSummaryPartial.cshtml"/>
    <partial name="~/Partials/_Notification.cshtml"/>

    <span class="govuk-caption-l govuk-!-margin-top-1">@Model.ApplicationName</span>
    <gds-h1>@title</gds-h1>

    <gds-p hidden="@Model.IsReadOnly">
        View and add the delivery phases for this application and add homes to phases.
    </gds-p>

    <form asp-controller="Delivery" asp-action="List" asp-method="post" novalidate>
        @Html.HiddenFor(m => Model.ApplicationName)
        @Html.HiddenFor(m => Model.UnusedHomeTypesCount)
        @for (var i = 0; i < Model.AllowedOperations.Length; i++)
        {
            var index = i;
            @Html.HiddenFor(m => m.AllowedOperations[index])
        }

        @if (Model.DeliveryPhases.Any())
        {
            <table class="govuk-table govuk-!-margin-bottom-0">
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Phase</th>
                    <th scope="col" class="govuk-table__header">Number of homes</th>
                    <th scope="col" class="govuk-table__header">Acquisition</th>
                    <th scope="col" class="govuk-table__header">Start on site</th>
                    <th scope="col" class="govuk-table__header">Practical completion</th>
                    <td class="govuk-table__header"/>
                </tr>
                </thead>
                <tbody class="govuk-table__body">

                @for (int i = 0; i < Model.DeliveryPhases.Count; i++)
                {
                    var index = i;
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].DeliveryPhaseId)
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].DeliveryPhaseName)
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].NumberOfHomes)
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].Acquisition)
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].StartOnSite)
                    @Html.HiddenFor(model => Model.DeliveryPhases[index].PracticalCompletion)

                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <gds-link class="govuk-link--no-visited-state"
                                      href="@Url.Action("Start", "DeliveryPhase", new { applicationId, deliveryPhaseId = Model.DeliveryPhases[index].DeliveryPhaseId })">
                                @(Model.DeliveryPhases[index].DeliveryPhaseName)
                            </gds-link>
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.DeliveryPhases[index].NumberOfHomes?.ToString() ?? "Not provided")
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.DeliveryPhases[index].Acquisition ?? "Not provided")
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.DeliveryPhases[index].StartOnSite ?? "Not provided")
                        </td>
                        <td class="govuk-table__cell">
                            @(Model.DeliveryPhases[index].PracticalCompletion ?? "Not provided")
                        </td>
                        <td class="govuk-table__cell govuk-!-text-align-right" hidden="@Model.IsReadOnly">
                            <gds-link class="govuk-link--no-visited-state govuk-!-margin-left-4"
                                      data-testid="remove-@Model.DeliveryPhases[index].DeliveryPhaseId"
                                      href="@Url.Action("Remove", "DeliveryPhase", new { applicationId, deliveryPhaseId = Model.DeliveryPhases[index].DeliveryPhaseId })">
                                Remove
                            </gds-link>
                        </td>
                    </tr>
                }

                @if (Model.UnusedHomeTypesCount > 0)
                {
                    <tr>
                        <td colspan="6">
                            <gds-div-inset-text>
                                You have @Model.UnusedHomeTypesCount homes that you need to add to your delivery phases.
                            </gds-div-inset-text>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <link-button button-type="@ButtonType.Standard"
                                         href="@Url.Action("Create", "DeliveryPhase", new { applicationId })"
                                         data-testid="add-delivery-phase"
                                         is-disabled="@Model.IsReadOnly">
                                Add another delivery phase
                            </link-button>
                        </td>
                    </tr>
                }
                else if (Model.UnusedHomeTypesCount < 0)
                {
                    <tr>
                        <td colspan="6">
                            <gds-div-inset-text>
                                You have changed the number of homes you are delivering in this application and have now assigned too many homes to delivery phases.
                                <br/>
                                <br/>
                                Remove homes from delivery phases to equal the number of homes you told us you are delivering in scheme information.
                            </gds-div-inset-text>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <vc:form-button is-disabled="@Model.IsReadOnly"/>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td colspan="6">
                            <gds-div-inset-text>
                                All of your homes have been added to delivery phase. If you want to add another delivery phase, edit the homes in an existing phase or remove a phase.
                                <br/>
                                <br/>
                                Select save and continue to complete this section.
                            </gds-div-inset-text>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <vc:form-button is-disabled="@Model.IsReadOnly"/>
                        </td>
                    </tr>
                }

                </tbody>
            </table>
        }
        else
        {
            <gds-p>
                Your delivery phases will appear here once added.
            </gds-p>

            <gds-div-inset-text>
                You have @Model.UnusedHomeTypesCount homes that you need to add to your delivery phases.
            </gds-div-inset-text>

            <link-button is-disabled="@Model.IsReadOnly"
                         data-testid="add-delivery-phase"
                         href="@Url.Action("Create", "DeliveryPhase", new { applicationId })">
                Add a delivery phase
            </link-button>
        }

        <vc:return-to-application-link application-id="@applicationId" is-editable="@false"/>
    </form>
</div>
