@using HE.Investments.Common.WWW.Models.Summary;
@using HE.Investments.FrontDoor.WWW.Extensions
@using HE.Investments.Common.Contract.Constants
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.WWW.Extensions
@using HE.Investments.FrontDoor.WWW.Constants

@model (IList<SectionSummaryViewModel> Sections, bool IsSiteIdentified, bool IsReadOnly)
@{
    var projectDetailsSection = Model.Sections.First();
    var projectFinancialDetailsSection = Model.Sections.Last();
    var projectSitesSection = Model.Sections.Skip(1).Take(Model.Sections.Count - 2).ToList();
    var projectId = this.GetProjectIdFromRoute();
}

<div>
    <vc:section-summary title="@projectDetailsSection.Title" items="@projectDetailsSection.Items"/>

    @if (Model.IsSiteIdentified)
    {
        <vc:project-sites-section-summary sites="@projectSitesSection" is-read-only="@Model.IsReadOnly"/>

        @if (projectSitesSection.Count == 0)
        {
            <gds-summary-list>
                <vc:section-summary-item
                    name="Identified site"
                    values="CommonResponse.Yes.ToOneElementList()"
                    action-url="@Url.OrganisationAction("IdentifiedSite", "Project", new { projectId })"
                    is-editable="@(!Model.IsReadOnly)"/>
            </gds-summary-list>
        }

        @if (!Model.IsReadOnly)
        {
            <div class="govuk-!-margin-bottom-9 govuk-!-font-size-19">
                <gds-link href="@Url.OrganisationAction("NewName", "Site", new { projectId, optional=OptionalParameter.AddSite })" data-testId="add-another-site">
                    Add another site
                </gds-link>
            </div>
        }

        <vc:section-summary title="@projectFinancialDetailsSection.Title" items="@projectFinancialDetailsSection.Items"/>
    }
</div>
