@using HE.Investments.Common.Services.Notifications

@inject INotificationConsumer NotificationConsumer
@{
    var notification = NotificationConsumer.Pop();
}

@if (notification != null)
{
    <div class="govuk-notification-banner @(notification.NotificationType == NotificationType.Success ? "govuk-notification-banner--success" : "") govuk-!-margin-bottom-8" role="alert"
         aria-labelledby="govuk-notification-banner-title"
         data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
                @notification.Title
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <h3 class="govuk-notification-banner__heading">
                @notification.Description

                @if (notification.LinkDescription != null)
                {
                    <br />
                    <a href="@notification.LinkDescriptionUrl">@notification.LinkDescription</a>
                }
            </h3>

            @if (notification.Body != null)
            {
                <p class="govuk-body">@notification.Body</p>
            }
        </div>
    </div>
}
