@model HE.Investment.AHP.WWW.Views.Shared.Components.ProjectListCard.ProjectListCardModel
@{
    var itemsToDisplayCount = 3;
    var itemsToDisplay = Model.Items?.Take(itemsToDisplayCount).ToList();
    var restItemsCount = Model.Items?.Count - itemsToDisplayCount;
}

@if (itemsToDisplay != null)
{
    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">@Model.Header</h2>

            <ul class="govuk-summary-card__actions">
                <li class="govuk-summary-card__action">
                    <a class="govuk-link" href="@Model.HeaderLinkUrl">View project</a>
                </li>
            </ul>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                @foreach (var item in itemsToDisplay)
                {
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                            <strong>
                                <a href="@item.Url">@item.Name</a>
                            </strong>
                        </dt>
                        <dd class="govuk-summary-list__actions">
                            <vc:dynamic-component component="@item.StatusComponent"/>
                        </dd>
                    </div>
                }

                <div class="govuk-!-padding-top-4 govuk-!-padding-bottom-4">
                    @if (restItemsCount > 0)
                    {
                        <gds-p>
                            @restItemsCount other(s)
                        </gds-p>
                    }
                    <strong>
                        <a class="govuk-!-margin-bottom-0" href="@Model.ViewAllUrl">
                            View all sites
                        </a>
                    </strong>
                </div>
            </dl>
        </div>
    </div>
}
