@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Helpers
@using HE.Investments.Loans.WWW.Routing
@model HE.Investments.Loans.WWW.Models.ApplicationDashboardModel
@{
    ViewBag.Breadcrumbs = BreadcrumbsBuilder
        .New()
        .WithOrganisations()
        .WithOrganisation(Model.Data.OrganizationName)
        .WithLuhbfApplications()
        .WithApplication(Model.Data.ApplicationName.Value, Model.Data.ApplicationId.Value)
        .Build();
}
<div class="govuk-grid-column-full govuk-!-padding-top-6">
    <div class="govuk-!-margin-top-4">
        <partial name="~/Partials/_Notification.cshtml" />
    </div>
    <div class="govuk-grid-row govuk-!-margin-bottom-5">
        <gds-div-grid-column-two-thirds>
            <span class="govuk-caption-m">
                @Model.Data.OrganizationName
            </span>
            <gds-h1 size="ControlSize.L">
                @Model.Data.ApplicationName.Value
            </gds-h1>

            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>ID @Model.Data.ApplicationReferenceNumber</strong>
                <application-status-tag application-status="@Model.Data.ApplicationStatus" additional-classes="govuk-!-static-margin-left-2"></application-status-tag>
            </p >
            <p class="govuk-body govuk-!-margin-bottom-1">
                <strong>LUHBF</strong>
            </p>
            <p class="govuk-body govuk-!-margin-bottom-1">
                Last edited @DateHelper.DisplayAsUkFormatDateTime(Model.Data.LastEditedOn) @(!string.IsNullOrEmpty(Model.Data.LastEditedBy) ? $"by {Model.Data.LastEditedBy}" : string.Empty)
            </p>
        </gds-div-grid-column-two-thirds>
    </div>
    <div class="govuk-grid-column-one-third govuk-!-padding-left-0">

        <nav class="moj-side-navigation">
            <ul class="moj-side-navigation__list">

                <li class="@("moj-side-navigation__item" + (Model.IsOverviewSectionSelected ? " moj-side-navigation__item--active" : ""))">
                    <a href=@Url.Action("ApplicationDashboard", "LoanApplicationV2", new { id = Model.Data.ApplicationId} )>Overview</a>
                </li>

                <li class="@("moj-side-navigation__item" + (!Model.IsOverviewSectionSelected ? " moj-side-navigation__item--active" : ""))">
                    <a href="@Url.Action("ApplicationDashboardSupportingDocuments", "LoanApplicationV2",  new { id = Model.Data.ApplicationId})">Supporting documents</a>
                </li>

            </ul>
        </nav>
    </div>

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-3">
        @if (Model.IsOverviewSectionSelected)
        {
            @await Html.PartialAsync("ApplicationDashboard/_ApplicationDashboardOverview", Model)
        }
        else
        {
            @await Html.PartialAsync("ApplicationDashboard/_ApplicationDashboardSupportingDocuments", Model.Data.ApplicationId)
        }
    </div>
</div>
