@model HE.Investments.Loans.Contract.Application.Queries.GetTaskListDataQueryResponse
@using HE.Investments.Common.Extensions
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Helpers
@using HE.Investments.Loans.BusinessLogic.LoanApplication
@using HE.Investments.Loans.BusinessLogic.Projects.ValueObjects
@using HE.Investments.Common.Contract

<gds-div-grid-column-two-thirds>
    <gds-back-link href="@Url.Action("Back", "LoanApplicationV2", new { currentPage = LoanApplicationWorkflow.State.TaskList, ApplicationId = Model.Id })" text="Back to application dashboard" class="govuk-!-margin-bottom-8"></gds-back-link>
    <vc:notification/>
    <span class="govuk-caption-m">
        @Model.OrganisationName
    </span>

    <gds-h1 size="ControlSize.L" class="govuk-!-margin-bottom-1">
        @Model.ApplicationName.Value
    </gds-h1>

    @if (Model.Status is ApplicationStatus.Draft or ApplicationStatus.ReferredBackToApplicant)
    {
        <gds-div-hint class="govuk-!-margin-bottom-2" id="last-saved-label">
            Last saved on @DateHelper.DisplayAsUkFormatDateTime(Model.LastSavedOn) @(!string.IsNullOrEmpty(Model.LastModifiedBy) ? $"by {Model.LastModifiedBy}" : string.Empty)
        </gds-div-hint>
    }
    else
    {
        <gds-div-hint class="govuk-!-margin-bottom-2" id="submitted-on-label">
            Submitted on @DateHelper.DisplayAsUkFormatDateTime(Model.SubmittedOn)
        </gds-div-hint>
    }
    <div>
        <application-status-tag application-status="@Model.Status"></application-status-tag>
    </div>

    @await Html.PartialAsync("Partials/_ApplicationUpdateInformation", Model.Status)

    <ul class="app-task-list">
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">1. </span> Company structure and experience
            </h2>
            <gds-div-hint>This section is about the company structure and experience of building homes.</gds-div-hint>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartCompanyStructure", "CompanyStructureV2", new { id = Model.Id })" id="company-structure-section-link">
                            Complete company information
                        </a>
                    </span>
                    <section-status-tag status=@Model.Sections.CompanyStructure additional-classes="app-task-list__tag"></section-status-tag>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">2. </span> Project and funding details
            </h2>
            <gds-div-hint>Complete information about the type of funding you wish to apply for, and other details about your equity and finances.</gds-div-hint>
            <ul class="app-task-list__items">
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartFunding", "FundingV2", new { id = Model.Id })" id="funding-section-link">
                            Provide details about funding
                        </a>
                    </span>
                    <section-status-tag status=@Model.Sections.Funding additional-classes="app-task-list__tag"></section-status-tag>
                </li>
                <li class="app-task-list__item">
                    <span class="app-task-list__task-name">
                        <a href="@Url.Action("StartSecurity", "Security", new { id = Model.Id })" id="security-section-link">
                            Provide details about security
                        </a>
                    </span>
                    <section-status-tag status=@Model.Sections.Security additional-classes="app-task-list__tag"></section-status-tag>
                </li>
            </ul>
        </li>
        <li>
            <h2 class="app-task-list__section">
                <span class="govuk-prototype-kit-task-list__section-number">3. </span> Project details
            </h2>
            <gds-div-hint>Tell us about your project or projects. You can add more than one. You will need to start a new application for each company if you have different companies per project.</gds-div-hint>
            <ul class="app-task-list__items">
                @foreach (var project in Model.Sections.Projects)
                {
                    <li class="app-task-list__item">
                        <div class="task-list-grid-container">
                            <span class="app-task-list__task-name task-list-project-name">
                                <a href="@Url.RouteUrl("StartExistingProject", new { id = Model.Id, projectId = project.Id })">
                                    @if (project.Name.IsNotProvided())
                                    {
                                        @ProjectName.Default.Value
                                    }
                                    else
                                    {
                                        @project.Name
                                    }
                                </a>
                            </span>

                            <div class="task-list-remove-link">
                                @if (!Model.IsReadOnly)
                                {
                                    <a href="@Url.Action("Delete", "Project", new { id = Model.Id, projectId = project.Id })">
                                        Remove
                                    </a>
                                }
                            </div>
                            <div>
                                <section-status-tag status=@project.Status additional-classes="app-task-list__tag task-list-project-tag"></section-status-tag>
                            </div>
                        </div>
                    </li>
                }
                @if (!Model.IsReadOnly)
                {
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <span class="app-task-list__task-name">
                                <a id="add-project-link" href="@Url.RouteUrl("StartNewProject",  new { id = Model.Id })">
                                    Add another
                                </a>
                            </span>

                        </span>
                    </li>
                }
            </ul>
        </li>
    </ul>

    @await Html.PartialAsync("Partials/_TaskListSubmitSection", Model)

</gds-div-grid-column-two-thirds>

<div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-two-thirds govuk-!-margin-top-6">

    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
            Get help
        </h2>
        <p class="govuk-body-s">
            <span class="govuk-!-font-weight-bold">Telephone</span> <br/>
            0800 389 2500<br/>
            Monday to Friday 8:30am to 5:30pm<br/>
            (except public holidays)<br/>
            Free of charge
        </p>
    </aside>

</div>
