@using HE.InvestmentLoans.Common.Extensions
@using HE.InvestmentLoans.Contract.Organization.ValueObjects
@using HE.InvestmentLoans.WWW.Views.Organization
@using HE.Investments.Common.Gds
@using HE.Investments.Common.WWW.Extensions
@model ConfirmModel<OrganizationBasicDetails>
@inject ModelExpressionProvider ModelProvider
@{
    ViewData["Title"] = "Organization Select";
    var (radioInvalid, _) = ViewData.ModelState.GetErrors(ModelProvider.GetExpressionText((ConfirmModel<OrganizationBasicDetails> x) => x.Response));
}

<gds-div-grid-column-two-thirds>
    <gds-back-link class="govuk-!-margin-bottom-8" href="@Url.Action("SearchOrganization", "Organization")">Back</gds-back-link>

    <partial name="_ErrorSummaryPartial" model="null"/>

    <gds-h1 size="ControlSize.Xl" class="govuk-!-margin-bottom-6">
        @OrganizationPageTitles.ConfirmYourSelection
    </gds-h1>

    <gds-ul non-bullet-list>
        <li>
            <span class="govuk-body">
                <strong>@Model.ViewModel.Name</strong>
            </span>
            <br/>
            @if (Model.ViewModel.Street.IsProvided())
            {
                <span class="govuk-body">@Model.ViewModel.Street</span>
                <br/>
            }
            @if (Model.ViewModel.Street.IsProvided())
            {
                <span class="govuk-body">@Model.ViewModel.City</span>
                <br/>
            }
            @if (Model.ViewModel.Street.IsProvided())
            {
                <span class="govuk-body">@Model.ViewModel.PostalCode</span>
                <br/>
            }
            <p class="govuk-body govuk-!-margin-bottom-6">Companies house number: @Model.ViewModel.CompaniesHouseNumber</p>
        </li>
    </gds-ul>
    <form asp-controller="Organization" asp-action="ConfirmOrganizationPost" asp-route-organizationNumberOrId=@(Model.ViewModel.OrganisationId ?? Model.ViewModel.CompaniesHouseNumber) asp-method="post" novalidate>
        <gds-div-form-group>
            <gds-field-set>
                <gds-legend class="govuk-fieldset__legend--m">
                    Is this the correct organisation?
                </gds-legend>

                <gds-div-form-group invalid="radioInvalid">
                    <gds-radio
                        govuk-formgroup-asp-for="Response"
                        asp-selectlistitems="TemporaryFormOptions.YesNo"
                        asp-isexcludeheader>
                    </gds-radio>
                </gds-div-form-group>
            </gds-field-set>
        </gds-div-form-group>

        <button class="govuk-button" data-module="govuk-button" name="action" type="submit" id="continue-button">
            Continue
        </button>
    </form>
</gds-div-grid-column-two-thirds>
